.js-fixed {background: none repeat scroll 0 0 #FFFFFF;position: fixed;top: 0;width: 100%;height:46px;z-index: 1002;}

/*top-bar 顶部导航*/
.top-bar { height:46px; background: none repeat scroll 0 0 #0666c5;border-bottom: 1px solid #EEEEEE;}
.bm-top-link-logo {background-image:url(logo.png);background-repeat:no-repeat;background-position:0 0px;color:#fff;display:block;width:185px;height:46px;float:left;text-indent:-9999px;}
.fixed-theme .search_mod {border-bottom: 1px solid #C5C5C5;}
/* .round{background:url('search-bg.png') no-repeat -304px 0;border:1px solid #b6b6b6;border-color:#7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;display:inline-block;height:38px;margin-right:3px;vertical-align:top;width:300px} */

.round{solid #b6b6b6;border-color:#7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;display:inline-block;height:38px;margin-right:3px;vertical-align:top;width:300px}
.input_key{-webkit-appearance:none;background:#fff;border:0;font:16px/22px arial;height:31px;margin:11px 0 0 7px;outline:0;padding:0;width:300px}
.s_btn {border: 0 none;cursor: pointer;font-size: 14px;color:#FFFFFF;height: 29px;padding: 0;width: 80px; margin:11px 0 0 7px; background:#0d77e4;background-color:#0e78e7;}

.top-nav-profile{position:fixed;right:0;top:0;min-width:120px;z-index:10}

.bm-top-search{position:relative;margin:7px 0 0 12px;float:left}
.bm-top-search .zm-ac-gray{margin-left:1px}
.bm-top-search .ac-renderer{z-index:20;top:32px}
.bm-top-search-x{float:left}
.bm-top-search-form{float:left;width:367px;height:30px;line-height:30px}
.bm-top-search-input{color:#999;background:transparent;padding:7px 10px;border:0 none;font-size:14px;outline:medium none;overflow:hidden;width:345px;line-height:17px;border:1px solid #045BB3;border-radius:4px;box-shadow:inset 0 1px 3px rgba(0,0,0,.2),0 1px 0 rgba(255,255,255,.1);background-color:#E1EAF2;height:16px;color:#49525c;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}


