.bm_link {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
	border-bottom: 1px solid #E5E5E5;
    margin-top: 70px;
    padding: 30px 0;
    color:#0000AA;
}

.bm_query_res_list dt {
	margin-top: 30px;
}

.bm_query_res_list h4 em {
	color: red;
}

.bm_query_res_list .bm_highlight em {
    color: red;
}

.bm_query_res_list .bm_item_foot {
    font-style: italic;
}
