.bm_rcolor {background: #f00;}
.bm_gcolor {background: #0f0;}
.bm_bcolor {background: #00f;}
.input_ok {background: url("../images/input_ok.png") no-repeat scroll 6px 5px transparent;line-height: 30px;padding: 7px 6px 5px 28px;}
.input_error {background: url("../images/input_error.png") no-repeat scroll 6px 7px;font-size: 13px;color:red;line-height:30px;padding:6px 6px 7px 28px;}

.bm_envelope_unread {color:#F79726;}

.bm_lpadding_10 {padding-left:10px;}
.bm_lpadding_20 {padding-left:20px;}
.bm_lpadding_30 {padding-left:30px;}
.bm_lpadding_40 {padding-left:40px;}
.bm_lpadding_50 {padding-left:50px;}
.bm_lpadding_60 {padding-left:60px;}
.bm_lpadding_70 {padding-left:70px;}
.bm_lpadding_80 {padding-left:80px;}

.bm_rpadding_5 {padding-right:5px;}
.bm_rpadding_10 {padding-right:10px;}
.bm_rpadding_15 {padding-right:15px;}
.bm_rpadding_20 {padding-right:20px;}

.bm_bpadding_5 {padding-bottom:5px;}
.bm_bpadding_10 {padding-bottom:10px;}
.bm_bpadding_15 {padding-bottom:15px;}
.bm_bpadding_20 {padding-bottom:20px;}

.bm_tpadding_5 {padding-top:5px;}
.bm_tpadding_10 {padding-top:10px;}
.bm_tpadding_15 {padding-top:15px;}
.bm_tpadding_20 {padding-top:20px;}

.bm_lmargin_5 {margin-left:5px;}
.bm_lmargin_10 {margin-left:10px;}
.bm_lmargin_15 {margin-left:15px;}
.bm_lmargin_20 {margin-left:20px;}
.bm_lmargin_30 {margin-left:30px;}
.bm_lmargin_40 {margin-left:40px;}

.bm_tmargin_5 {margin-top:5px;}
.bm_tmargin_10 {margin-top:10px;}
.bm_tmargin_15 {margin-top:15px;}
.bm_tmargin_20 {margin-top:20px;}
.bm_tmargin_30 {margin-top:30px;}
.bm_tmargin_40 {margin-top:40px;}

.bm_bmargin_5 {margin-bottom:5px;}
.bm_bmargin_10 {margin-bottom:10px;}
.bm_bmargin_15 {margin-bottom:15px;}
.bm_bmargin_20 {margin-bottom:20px;}
.bm_bmargin_30 {margin-bottom:30px;}
.bm_bmargin_40 {margin-bottom:40px;}

.bm_full_width {width:100%;}
.bm_full_height {height:100%;}
.bm_full_width_height {width:100%;height:100%;}

.bm_float_right {float:right;}
.bm_pointer {cursor:pointer;}
.bm_font_bold {font-weight:bold;}
.bm_rmb_num {font-size:16px;font-weight:bold;font-family: verdana,arial;color:red;}
.bm_wait_pay_color {color:#ff8a15}

.bm_zero { margin: 0; padding: 0; outline: 0 none; }
.bm_trade_quantity {white-space: nowrap;}
.bm_trade_quantity .bm_quantity_op_btn,
.bm_trade_quantity .bm_trade_quantity {
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}
.bm_trade_quantity .bm_trade_quantity {
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-left: 0;
    border-right: 0;
    width: 60px
}
.bm_trade_quantity .bm_quantity_op_btn {
    border: 1px solid #999;
    background-color: #F4F4F4;
    display: inline-block;
    text-decoration: none;
    width: 20px;
    cursor:pointer;
}

.bm_trade_table_head {background-color:#f2f7ff;}
.bm_trade_table_head, .bm_trade_table_row {height:80px;}
.bm_center_text {text-align:center;}
.bm_left_text {text-align:left;}

.bm_trade_summary {color:red; font-weight:bold;}

.bm_small_avatar {width:50px; height:50px;}
.bm_medium_avatar {width:80px; height:80px;}
.bm_large_avatar {width:120px; height:120px;}

.bm_table_style {width:100%;text-align:left;min-height:86px;}

.bm_button_agree {background: url("../default/btn_agree.png") repeat-x scroll 0 0 transparent;border:0;width:67px;line-height: 25px;height:25px;font-size:12px;color:#DB4F1F;font-weight: bold;padding-left:21px; text-align: center;cursor: pointer;}
