body {
    font-family: 'Century Gothic', sans-serif;
}

.container-fluid {
    max-width: 1600px;
}
.container_wapper {
    width: 100%;
    background: #c0c0c0;
}
.rcolor {background: #f00;}
.gcolor {background: #0f0;}
.bcolor {background: #00f;}
h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font: normal normal normal 34px/60px 'Century Gothic', sans-serif;
    color: #3b3b3b;
}
.nav_menu_logo a:hover {text-decoration: none;}
#mobile_menu {
    top: 0;
    width: 250px;
    height: 100%;
    background: #f9f9f9;
    position: fixed;
    z-index: 1049;
    right: -1500px;
    display: none;
    overflow: auto;
}
#mobile_menu ul li a {
    text-align: left;
    background: #f15556;
    color: #000;
}
#mobile_menu ul li:hover a {
    background: #c83233;
	color: #fff;
}

#nav_menu {
    width: 100%;
    background: #f9f9f9;
    height: 64px;
    border-bottom: 1px solid #f15556;
    position: fixed;
    top: 0;
    z-index: 1049;
}
#nav_menu #logo_img {
    max-height: 60px;
    float: left; 
}
#nav_menu #logo_text {
    font: normal normal normal 36px/1em 'Century Gothic', sans-serif;
    margin-top: 15px;
    padding-left: 60px;
    text-align: left;
    color: #e35354;
}
#nav_menu #logo_text span {color: #9fb038;}
#nav_menu_link li a, #nav_menu_link li a:focus {
    padding-top: 20px;
    padding-bottom: 20px;
    font: normal normal normal 18px/23px 'Century Gothic', sans-serif;
    color: #000;
    background: repeat-x url("../../images/index/banner_bg.jpg") 0 -74px ;
    transition-duration: .5s;
}

#nav_menu_right li a, #nav_menu_right li a:focus {
    padding-top: 20px;
    padding-bottom: 20px;
    font: normal normal normal 14px/20px 'Century Gothic', sans-serif;
    color: #000;
    background: repeat-x url("../../images/index/banner_bg.jpg") 0 -74px ;
}

.menu_link_on {
    background-position: 0 0px ;
    background-color: #f15556;
    color: #ffffff;
}

#nav_menu_link li a:hover ,
#nav_menu_link li a.current {
    background-position: 0 0px ;
    background-color: #f15556;
    color: #ffffff;
}
#nav_menu #mobile_menu {
    padding-top: 20px;
    font-size: 30px;
    float: right;
    color: #e35354;
}

.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}

#footer {
    width: 100%;
    border-top: 2px solid #507f9a;
    height: 70px;
    background: #447693;
    float: left;
}
#footer p {
    padding-top: 20px;
    color: #fff;
    text-align: center;
}
#footer a {
    color: #fff;
    text-decoration: underline;
}
/*  Small devices (tablets, 768px and up)  */
@media (max-width: 768px ) { 
    #index_about .pre_next {
        font-size: 15px;
    }
}
/*  Medium devices (desktops, 992px and up)  */
@media (max-width: 970px ) {
    #nav_menu #logo_text {
        font: normal normal normal 30px/1em 'Century Gothic', sans-serif;
    }
}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
} 

.input_ok {background: url("input_ok.png") no-repeat scroll 6px 5px transparent;line-height: 30px;padding: 7px 6px 5px 28px;}
.input_error {background: url("input_error.png") no-repeat scroll 6px 7px;font-size: 13px;color:red;line-height:30px;padding:6px 6px 7px 28px;}
