.top-header{margin-top:64px;color:#fff;max-height:330px;height:330px;background-color:#ddd;background-size:cover;background-repeat:no-repeat}
.top-header .dujia{height:50px;float:right;margin-top:10px}
.top-header .page-header{border-bottom-color:rgba(0,0,0,.1)}
.top-header .features p{font-size:13px;font-weight:400;margin-bottom:10px}
.top-header .features.media .media-left{display:block}

@media (min-width:768px){
    .top-header .features.media .media-left{display:table-cell}
}

.lead{margin-bottom:20px;font-size:16px;font-weight:300;line-height:1.4}
@media (min-width:768px){.lead{font-size:21px}}

.top-header .coms .label,.top-header .salary .label{margin-bottom:5px;display:inline-block}
.top-header .coms .label{margin-right:6px;font-size:100%}
.top-header .coms .label-ali{background-color:#ff7500}
.top-header .coms .label-sohu{background-color:#f39c12}
.top-header .coms .label-baidu{background-color:#2980b9}
.top-header .coms .label-sina{background-color:#e74c3c}
.top-header .coms .label-360{background-color:#2ecc71}
.top-header .coms .label-tencent{background-color:#95a5a6}
.top-header .salary .label{font-size:100%;margin-right:6px;background:0 0;border:1px solid #fff}
.top-header .activities-wrap{padding:10px;background:rgba(0,0,0,.1);margin-top:30px}
.top-header .activities{padding:20px;background:rgba(0,0,0,.3);color:#ddd}
.top-header .activities h2{font-size:18px;padding-bottom:.4em;margin-bottom:.6em;border-bottom:1px solid rgba(211,211,211,.2)}
.top-header .activities h2>i{float:right;color:#efefef}
.top-header .activities p{font-size:14px;line-height:1.8}
.top-header .activities .btn{background:0 0;border:1px solid #fff;color:#fff;display:inline-block}
.top-header .activities .btn:hover{border-color:#e74c3c}
.top-header .activities .btn+.btn{margin-left:20px}

.job-list{margin-top:60px}
.job-list .job-item-wrap{text-decoration:none}
.job-list .job-item-wrap:hover .job-item{border-color:#a38cc6}
.job-item{position:relative;padding:30px;padding-top:70px;padding-bottom:20px;margin-bottom:80px;border:2px solid #efefef;background-color:#fdfdfd}
@media screen and (min-width:768px){.job-item{margin-left:30px}}
.job-item .job-company{position:absolute;top:10px;left:110px;right:10px;height:20px;overflow:hidden;color:#777}
@media screen and (min-width:768px){.job-item .job-company{left:80px}}
.job-item .job-source{width:100px;border:3px solid #f1f2f7;position:absolute;top:-20px;margin-left:-33px;background-color:#fff;background-size:cover;background-position:center center;z-index:1}
@media screen and (min-width:768px){.job-item .job-source{margin-left:-60px}}
.job-item .job-source img{padding:3px}
.job-item:hover .job-source{border:5px solid #f1f2f7}
.job-item .job-title{text-align:center;font-size:18px;font-weight:400;text-transform:uppercase;color:#32323a;margin-bottom:10px;min-height:70px;max-height:70px;overflow-y:hidden}
.job-item .job-salary{text-align:center;font-size:18px;font-weight:700;color:#e74c3c}
.job-item .job-comments{border-top:1px solid #dddfeb;padding-top:10px;margin-top:18px;max-height:70px;height:70px;overflow:hidden;color:#555}
.job-item .job-comments .label{display:inline-block;color:#3d9ccc;font-weight:400;font-size:13px;margin-right:3px;margin-bottom:6px;background-color:#edf9ff;border:1px solid #e1f2fa;width:6em;text-align:center}
.job-item .job-item:hover .light-yellow{background:#efca58}
.job-item .job-item:hover .light-green{background:#9fba72}
.job-item .job-item:hover .light-violet{background:#a188cf}
.job-item .job-item:hover .light-blue{background:#67b7e5}
.job-item .job-meta{color:#777;font-size:12px}
.job-item .job-meta:before,.job-item .job-meta:after{content:" ";display:table}
.job-item .job-meta:after{clear:both}
.job-item .job-meta:before,.job-item .job-meta:after{content:" ";display:table}
.job-item .job-meta:after{clear:both}
.job-item .job-meta .job-location{float:left}
.job-item .job-meta .job-publish-time{float:right}
.btn-load-more{background-color:#62458d;border-radius:5px;box-shadow:0 5px 0 #4f3872;position:relative;margin-bottom:5px;border-color:transparent}
.btn-load-more:hover,.btn-load-more:focus,.btn-load-more.active{bottom:-5px;box-shadow:none;background-color:#563d7c}
.newest-jobs .page-header{margin-top:-20px}
.select-region{padding-top:12px}
.select-region>a{margin-left:8px}
.select-region .dropdown{display:inline-block}
.select-region .dropdown .btn{font-size:inherit;vertical-align:baseline}
.select-region .dropdown .btn:active{box-shadow:none}
.select-region .dropdown .dropdown-menu{left:auto;right:0}

h1,.h1,h2,.h2,h3,.h3{margin-top:20px;margin-bottom:10px}



.open-class-eval-list .item{padding-top:32px}
.open-class-eval-list .item .pic{width:68px;float:left}
.open-class-eval-list .item .pic img{display:block;width:68px;height:68px;-webkit-border-radius:68px;-moz-border-radius:68px;-ms-border-radius:68px;-o-border-radius:68px;border-radius:68px}
.open-class-eval-list .item .cont{position:relative;margin-left:94px;padding-bottom:32px}
.open-class-eval-list .item .cont .original{position:relative;border-bottom:1px solid #dfe2e6;padding-bottom:20px}
.open-class-eval-list .item .cont .star{position:absolute;right:0px;top:0px;z-index:1}
.open-class-eval-list .item .cont .star .star-fill{font-size:16px}
.open-class-eval-list .item .cont .star .num{vertical-align:3px}
.open-class-eval-list .item .cont .name strong{color:#256eb2;margin-right:20px}
.open-class-eval-list .item .cont .name em{color:#5c6166;font-size:12px}
.open-class-eval-list .item .cont .mess{color:#5c6166;margin:20px auto}
.open-class-eval-list .item .cont .atti{position:relative;color:#aaaeb2}
.open-class-eval-list .item .cont .atti label{margin-right:45px;font-weight:normal;cursor:pointer}
.open-class-eval-list .item .cont .atti label:hover .glyphicon-thumbs-up,.open-class-eval-list .item .cont .atti label:hover .glyphicon-thumbs-down{color:#308ee3}
.open-class-eval-list .item .cont .atti label .glyphicon-thumbs-up-gray{color:#aaaeb2}
.open-class-eval-list .item .cont .atti label:hover .glyphicon-thumbs-up-gray{color:#aaaeb2}
.open-class-eval-list .item .cont .atti label .glyphicon-thumbs-up-blue{color:#308ee3}
.open-class-eval-list .item .cont .answer{position:absolute;width:100px;height:20px;right:20px;bottom:19px}
.open-class-eval-list .item .cont .answer a.right{position:absolute;right:20px;top:2px;color:#256eb2}
.open-class-eval-list .item .cont .answer .sari{position:absolute;right:37px;bottom:-20px;display:block;width:0px;height:0px;border-width:8px;border-color:transparent transparent #dfe2e6 transparent;border-style:solid;display:none}
.open-class-eval-list .item .cont .reply{margin-top:20px;padding-bottom:40px}
.open-class-eval-list .item .cont .reply textarea{display:block;width:100%;height:88px;border-radius:4px;padding:3px 10px}
.open-class-eval-list .item .cont .reply .text-right{margin-top:20px}
.open-class-eval-list .item .cont .reply .btn{border-radius:4px}
.open-class-eval-list .item .cont .reply-item{padding:20px 0px;border-top:1px solid #dfe2e6}
.open-class-eval-list .item .cont .reply-item-pic{width:86px}
.open-class-eval-list .item .cont .reply-item-pic img{display:block;border-radius:60px}
.open-class-eval-list .item .cont .reply-item-cont{margin-left:90px}
.open-class-eval-list .item .cont .reply-item-cont-top{overflow:hidden;margin-bottom:10px}
.open-class-eval-list .item .cont .reply-item-cont-top .pull-right{padding-right:10px}
.open-class-eval-list .item .cont .reply-item-cont-top .service{color:#f8a948;border-left:6px solid #f8a948;padding-left:8px}
.open-class-eval-list .item .cont .reply-btn{padding:10px 0px 50px;border-bottom:1px solid #dfe2e6}
.open-class-eval-list .item .cont .reply-btn a{padding:12px 0px;background:#f0f0f0;color:#a0a0a0}
.open-class-eval-list .item .cont .reply-btn a:hover{background:#dcdcdc;color:#a0a0a0}

html,body{font-family:"Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;min-width:970px;height:100%}
a{color:inherit;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
a:hover,a:focus{text-decoration:none}
.bg-gray{background-color:#f4f4f4}
.text-white{color:#fff}
.label-red{background-color:#e65045}
