
.prob_idx_list {margin:25px 10px;}
.prob_idx_box {margin-bottom:20px;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;padding-left:65px}
.prob_idx_box .arrow{left:-3px;top:20px;position:absolute;}
.prob_idx_box .arrow:before,.prob_idx_box .arrow:after{color:transparent;bottom:100%;border:solid;content:"";height:0;width:0;position:absolute;pointer-events:none}
.prob_idx_box .arrow:before{border-color:transparent #e7e7e7 transparent transparent;border-width:6px;left:50%;margin-left:-9px;top:50%;margin-top:-6px}
.prob_idx_box .arrow:after{border-color:transparent #fff transparent transparent;border-width:3px;left:50%;margin-left:-3px;top:50%;margin-top:-3px}


.prob_idx_box .prob_poster_img {position:absolute; top:0; left:0;}

.prob_idx_box .prob_idx_avatar {width:50px; height:50px;}

.prob_idx_box .prob_content {background:none repeat scroll 0 0 white;border:2px solid #e7e7e7;padding:5px 10px 18px;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}

.prob_idx_box .prob_content>div{margin:0 0 5px;line-height:1.5em;*zoom:1}
.prob_idx_box .prob_content>div:before,.prob_idx_box .prob_content>div:after{display:table;content:"";line-height:0}
.prob_idx_box .prob_content>div:after{clear:both}
.prob_idx_box .prob_content .prob_title {vertical-align:top;line-height:1.5em;margin:0 0 5px;font-size:13px;font-weight:normal;word-wrap:break-word;word-break:break-all;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
.prob_idx_box .prob_content .prob_title .feed-from{font-size:13px;font-weight:normal;vertical-align:top}
.prob_idx_box .prob_content .prob_title h4{font-size:14px;margin:5px 0 -3px}
.prob_idx_box .prob_content .prob_price{*zoom:1}
.prob_idx_box .prob_content .prob_price:before,.prob_idx_box .prob_content .prob_price:after{display:table;content:"";line-height:0}
.prob_idx_box .prob_content .prob_price:after{clear:both}
.prob_idx_box .prob_content .prob_price span,.prob_idx_box .prob_content .prob_price p{float:left;font-size:12px}
.prob_idx_box .prob_content .prob_price span{color:#39c;line-height:1.5em; float:left;}
/* .prob_idx_box .prob_content .prob_demands_num {color:#39c;line-height:1.5em; position:absolute; right:0px;bottom:0px;} */
.prob_idx_box .prob_content .prob_demands_num {color:#39c;line-height:1.5em;}
.prob_idx_box .prob_content .prob_demand_btn {position:absolute; right:0px; top:0px;}

.prob_idx_box .prob_content .prob_ops {float:right; white-space:nowrap;}

.prob_idx_box .prob_content .prob_ops a {border-right:1px solid #888;padding: 0 8px;margin: 0;}

.prob_idx_box .prob_content .prob_ops .last {border-right:0;padding:0;margin: 0;}
.prob_idx_box .prob_content .prob_ops .prob_demand {}
.prob_idx_box .prob_content .prob_ops .prob_cancel {}


.prob_idx_box .prob_content .task-tag-item{margin:0 3px;font-size:12px}
.prob_idx_box .prob_content .panel-edit{vertical-align:top}
.prob_idx_box .prob_content .topic-from{font-size:12px}
.prob_idx_box .prob_content .info{border:0;margin-bottom:10px;border-radius:4px;background:#eef9ff;padding:5px 2.5% 5px;position:relative}
.prob_idx_box .prob_content .info h4{display:inline-block}
.prob_idx_box .prob_content .info .feed-from{font-size:13px}
.prob_idx_box .prob_content .info .other-info{line-height:25px;*zoom:1}
.prob_idx_box .prob_content .info .other-info:before,.prob_idx_box .prob_content .info .other-info:after{display:table;content:"";line-height:0}
.prob_idx_box .prob_content .info .other-info:after{clear:both}
.prob_idx_box .prob_content .more-actions .arrow{left:12px;top:8px;position:absolute;display:none}
.prob_idx_box .prob_content .more-actions .arrow:before, .prob_idx_box .prob_content .more-actions .arrow:after{color:transparent;bottom:100%;border:solid;content:"";height:0;width:0;position:absolute;pointer-events:none}
.prob_idx_box .prob_content .more-actions .arrow:before{border-color:transparent transparent #eef9ff transparent;border-width:6px;left:50%;margin-left:-6px;top:50%;margin-top:0}
.prob_idx_box .prob_content .more-actions .arrow:after{border-color:transparent transparent #eef9ff transparent;border-width:6px;left:50%;margin-left:-6px;top:50%;margin-top:0}
.prob_idx_box .prob_content .see-all{font-size:12px}
.prob_idx_box .prob_content .more-info{padding:10px;background:#eef9ff;display:none;border-radius:4px;margin:-3px 0 10px 0}
.prob_idx_box .prob_content .item{color:grey}
.prob_idx_box .prob_content .more-actions{float:right;text-align:right}
.prob_idx_box .prob_content .more-actions .sicon-like{vertical-align:middle}
.prob_idx_box .prob_content .more-actions .grey-light{margin-right:3px;position:relative;font-size:12px}


.prob_idx_box .topic-brief .poster-info-actions,.prob_idx_box.news-brief .poster-info-actions{margin-bottom:5px;line-height:19px;*zoom:1}
.prob_idx_box.topic-brief .poster-info-actions:before,.prob_idx_box.news-brief .poster-info-actions:before,.prob_idx_box.topic-brief .poster-info-actions:after,.prob_idx_box.news-brief .poster-info-actions:after{display:table;content:"";line-height:0}
.prob_idx_box.topic-brief .poster-info-actions:after,.prob_idx_box.news-brief .poster-info-actions:after{clear:both}
.prob_idx_box.topic-brief .poster-info-actions h3,.prob_idx_box.news-brief .poster-info-actions h3{font-size:13px;float:left}
.prob_idx_box.topic-brief .poster-info-actions .more,.prob_idx_box.news-brief .poster-info-actions .more{top:-1px;right:-3px}
.prob_idx_box.topic-brief .arrow,.prob_idx_box.news-brief .arrow{top:10px}
.prob_idx_box .sicon-task-completed{position:absolute;top:-11px;right:40px}
.prob_idx_box .sicon-judge-task,.prob_idx_box .sicon-judged-task{position:absolute;top:-6px;right:40px}
.prob_idx_box .sicon-topic-top,.prob_idx_box .sicon-activity{position:absolute;top:-2px;left:-5px;z-index:99}
.prob_idx_box .tb-poster-img{position:absolute;top:0;left:0}
.prob_idx_box .tb-poster-img .unverified-user{position:absolute;right:-1px;top:-3px}
.add-img{position:relative;display:inline-block};


