<script src="{SITE_URL}public/js/plugin/jquery.min.js"></script>
<script src="{SITE_URL}public/admin/js/jquery.wysiwyg.js"></script>
<script src="{SITE_URL}public/admin/js/custom.js"></script>
<script src="{SITE_URL}public/admin/js/cycle.js"></script>
<script src="{SITE_URL}public/admin/js/jquery.checkbox.min.js"></script>
<script src="{SITE_URL}public/admin/js/flot.js"></script>
<script src="{SITE_URL}public/admin/js/flot.resize.js"></script>
<script src="{SITE_URL}public/admin/js/flot-time.js"></script>
<script src="{SITE_URL}public/admin/js/flot-pie.js"></script>
<script src="{SITE_URL}public/admin/js/flot-graphs.js"></script>
<script src="{SITE_URL}public/admin/js/cycle.js"></script>
<!-- <script src="{SITE_URL}public/admin/js/jquery.tablesorter.min.js"></script> -->
<script type="text/javascript">
$('.cycle').cycle({
	fx: "scrollHorz",
	timeout: 0,
    slideResize: 0,
    prev:    '.left-btn', 
    next:    '.right-btn'
});
</script>
</body>
</html>
