<!DOCTYPE html>
<!--{eval 
  $setting = $this->setting;
  $regular = $this->regular;
  }-->

<html>
<head>
	<meta charset="utf-8">
	<title>Boostme管理</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{SITE_URL}public/admin/css/style.css" media="all" />
    <script src="{SITE_URL}public/js/plugin/jquery.min.js"></script>
    <script src="{SITE_URL}public/js/school_major.js"></script>
    <script src="{SITE_URL}public/js/common.js"></script>
    <!--[if IE]><link rel="stylesheet" href="{SITE_URL}public/admin/css/ie.css" media="all" /><![endif]-->
    <!--[if lt IE 9]><link rel="stylesheet" href="{SITE_URL}public/admin/css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body>
<div class="testing">
<header class="main">
	<h1><strong>Boostme</strong> 管理界面</h1>
	<input type="text" value="搜索" />
</header>
