<!--{template header,'admin'}-->
<script type="text/javascript">
    $(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (e.target.id == "jump1") {
            location.href = "{url admin_main/default}";
          } else if (e.target.id == "jump2") {
            location.href = "{url admin_main/user}";
          } else if (e.target.id == "jump3") {
            location.href = "{url admin_main/accepted}";
          }
        })
    })
</script>

<style type="text/css">
    .mybadge_div {margin-top: 10px; margin-bottom: 10px;}
    .mybadge {margin: 10px 20px;}
    .photo {position: absolute; top: 20px; left: 10px; }
    .action {position: absolute; right: 50px; bottom: 20px;} /* panel右下角的动作 */
    .list-group-item {min-height: 80px;border:0px;padding: 10px 5px;}
    .mypanel {margin: 0 10px 0 75px !important; padding: 10px; line-height: 26px;}
    .arrow {left:76px;top:40px;position:absolute;}
    .arrow:before,.arrow:after{color:transparent;bottom:100%;border:solid;content:"";height:0;width:0;position:absolute;pointer-events:none}
    .arrow:before{border-color:transparent #e7e7e7 transparent transparent;border-width:6px;left:50%;margin-left:-8px;top:50%;margin-top:-8px}
    .arrow:after{border-color:transparent #fff transparent transparent;border-width:6px;left:50%;margin-left:-6px;top:50%;margin-top:-8px}
</style>

<div class="container">
  <div class="col-md-2"><!--{template leftmenu,'admin'}--></div>
  <div class="col-md-9">
    <div class="list-group">
      <h4>已注册用户数量：{$statistics['all_user_num']}</h4>
    </div>    
  </div>
</div><!-- container end -->

<div class="modal fade" id="demandModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">附加信息</h4>
      </div>
      <form name="edit_message" action="{SITE_URL}?problem/demand.html" method="post" id="dialog_form">
      <div class="modal-body">
            <input type="hidden" value="" name="dialog_pid" id="dialog_pid"/>
            <input type="text" placeholder="请输入简短的请求信息" class="form-control" name="demand_message" id="demand_message"/>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="确&nbsp;认" />
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
var timer;
$(document).ready(function() {
    $(".prob_demand").click(function() {
        var pid = $(this).attr("id");
        $("#dialog_pid").val(pid);
        $("#demandModal").modal('show');
    });

    $(".prob_cancel").click(function(){
        if ({$user['uid']} == 0) {
            alert("您还未登录，请先登录");
            window.location.href = "{SITE_URL}index.php" + query + "user/login";
        }

        if (confirm('确定撤销请求?') === false) {
            return false;
        }

        var supportobj = $(this);
        var pid = $(this).attr("id");
        $.ajax({
            type: "GET",
            url:"{SITE_URL}index.php" + query + "problem/ajaxcancel/" + pid,
            cache: false,
            success: function(succeed){
                if (succeed == '-1') {
                    alert("您还未登录，请先登录");
                    window.location.href = "{SITE_URL}index.php" + query + "user/login";
                } else if (succeed == '0') {
                    alert("操作失败，请刷新页面重试");
                } else if (succeed == '1') {
                    supportobj.html("我要帮忙");
                } else if (succeed == '2') {
                    alert("您还没有发出过申请!");
                }
            }
        });
    });

    //slider
    $(".pagination li").hover(function() {
        $(".pagination li[class='spanhover']").removeClass("spanhover");
        var topicid = $(this).attr("topicid");
        $(this).addClass("spanhover");
        timer = setTimeout(function() {
            $(".topic").hide();
            $("#" + topicid).show();
        }, 100);
    });
    $("#weektab").hover(function() {
        $(this).attr("class", "select");
        $("#alltab").attr("class", "not-selected");
        $("#weektop").show();
        $("#alltop").hide();
    });
    $("#alltab").hover(function() {
        $(this).attr("class", "select");
        $("#weektab").attr("class", "not-selected");
        $("#alltop").show();
        $("#weektop").hide();
    });
});

</script>
<!--{template footer,'admin'}-->
