<section class="user">
	<div class="profile-img">
        <p><img src="{eval echo get_avatar_dir($this->user['uid'])}" alt="" height="40" width="40" /> 欢迎回来 {eval echo $this->user['username']}</p>
	</div>
	<div class="buttons">
		<button class="ico-font">&#9206;</button>
		<span class="button dropdown">
			<a href="#">Notifications <span class="pip">4</span></a>
			<ul class="notice">
				<li>
					<hgroup>
						<h1>You have a new task</h1>
						<h2>Report web statistics week by week.</h2> 
					</hgroup>
					<p><span>14:24</span></p>
				</li>
				<li>
					<hgroup>
						<h1>New comment</h1>
						<h2>Comment on <em>About page</em> by Darren.</h2> 
					</hgroup>
					<p><span>11:04</span></p>
				</li>
				<li>
					<hgroup>
						<h1>Broken link</h1>
						<h2>We've spotted a broken link on the <em>Blog page</em>.</h2> 
					</hgroup>
					<p><span>10:46</span></p>
				</li>
				<li>
					<hgroup>
						<h1>User report</h1>
						<h2><em>Lee Grant</em> has been promoted to admin.</h2> 
					</hgroup>
					<p><span>09:57</span></p>
				</li>
			</ul>
		</span> 
		<span class="button dropdown">
			<a href="#">Inbox <span class="pip">6</span></a>
			<ul class="notice">
				<li>
					<hgroup>
						<h1>Hi, I need a favour</h1>
						<h2>John Doe</h2>
						<h3>Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...</h3>
					</hgroup>
					<p><span>11:24</span></p>
				</li>
				<li>
					<hgroup>
						<h1><span class="icon">&#59154;</span>Hi, I need a favour</h1>
						<h2>John Doe</h2>
						<h3>Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...</h3>
					</hgroup>
					<p><span>11:24</span></p>
				</li>
				<li>
					<hgroup>
						<h1><span class="icon">&#59154;</span>Hi, I need a favour</h1>
						<h2>John Doe</h2>
						<h3>Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...</h3>
					</hgroup>
					<p><span>11:24</span></p>
				</li>
			</ul>
		</span> 
		<span class="button">Live</span>
		<span class="button">Help</span>
		<span class="button blue"><a href="index.html">Logout</a></span>
	</div>
</section>
</div>
<nav>
	<ul>
        <li <!--{if $regular == "admin_main/default"}-->class="section"<!--{/if}-->>
            <a href="{SITE_URL}admin_main/default"><span class="icon">&#128711;</span> 主控板</a>
        </li>

        <li <!--{if $regular == "admin_user/default"}-->class="section"<!--{/if}-->>
            <a href="{SITE_URL}admin_user/default"><span class="icon">&#128101;</span> 用户 <span class="pip">3</span></a>
        </li>

        <li <!--{if $regular == "admin_service/default"}-->class="section"<!--{/if}-->>
            <a href="{SITE_URL}admin_service/default"><span class="icon">&#128203</i></span> 咨询区</a>
        </li>

        <li <!--{if $regular == "admin_material/default"}-->class="section"<!--{/if}-->>
            <a href="{SITE_URL}admin_material/default"><span class="icon">&#128196;</span> 资料区</a>
		</li>

		<li>
			<a href="files.html"><span class="icon">&#127748;</span> Media <span class="pip">7</span></a>
			<ul class="submenu">
				<li><a href="files-upload.html">Upload file</a></li>
				<li><a href="files.html">View files</a></li>
			</ul>
		</li>

		<li>
			<a href="blog-timeline.html"><span class="icon">&#59160;</span> Blog <span class="pip">12</span></a>
			<ul class="submenu">
				<li><a href="blog-new.html">New post</a></li>
				<li><a href="blog-table.html">All posts</a></li>
				<li><a href="comments-timeline.html">View comments</a></li>
			</ul>
		</li>

		<li><a href="statistics.html"><span class="icon">&#128202;</span> Statistics</a></li>

		<li>
			<a href="ui-elements.html"><span class="icon">&#9881;</span> UI Elements</a>
			<ul class="submenu">
				<li><a href="icon-fonts.html">Icon fonts</a></li>
			</ul>
		</li>
	</ul>
</nav>
