<!--{template header,'admin'}-->
<!--{template left_common,'admin'}-->

<section class="alert">
	<form method="link" action="page-new.html">
		 <button class="green">Create new blog page</button>
	</form>
</section>

<section class="content">
	<section class="widget">
		<header>
			<span class="icon">&#128100;</span>
			<hgroup>
                <h1>注册用户({$statistics['all_user_num']})</h1>
				<h2>当前系统所有注册用户</h2>
			</hgroup>
			<aside>
				<span>
					<a href="#">&#9881;</a>
					<ul class="settings-dd">
						<li><label>Option a</label><input type="checkbox" /></li>
						<li><label>Option b</label><input type="checkbox" checked="checked" /></li>
						<li><label>Option c</label><input type="checkbox" /></li>
					</ul>
				</span>
			</aside>
		</header>
        <div class="content">
			<table id="myTable" border="0" width="100%">
				<thead>
					<tr>
						<th class="avatar">用户名</th>
						<th>联系方式</th>
						<th>注册时间</th>
						<th>赠送邀请码</th>
					</tr>
				</thead>
                <tbody>
                    <!--{loop $userlist $user}-->
                    <tr>
                        <td class="avatar"><img src="{eval echo get_avatar_dir($user['uid'])}" alt="" height="40" width="40" /> {$user['username']}</td>
                        <td>
                            <p>Email：{$user['email']}</p>
                            <p>手机：{$user['phone']}</p>
                            <p>QQ：  {$user['qq']}</p>
                            <p>微信： {$user['wechat']}</p>
                            <p>邀请者: {$user['invited_by_username']}</p>
                        </td>
                        <td>
                            <p>{eval echo tdate($user['regtime'])}</p>
                            <p>{$user['regip']}</p>
                        </td>
                        <td>
                            <input type="button" class="btn btn-sm" id="{$user['uid']}" value="赠送" onclick="give_invite_code({$user['uid']})"/>
                        </td>
                    </tr>
                    <!--{/loop}-->
                </tbody>
            </table>
            <center><div>{$departstr}</div></center>
		</div>
	</section>
</section>

<script type="text/javascript">
function give_invite_code(uid) {
    $.ajax({
        type: "GET",
        url:"{SITE_URL}admin_user/give_invite_code/" + uid,
        cache: false,
        dataType: 'json',
        success: function(data) {
            if (typeof(data.success) == 'undefined') {
                if (data.error == '101') {
                    alert("无效用户id");
                }
            } else {
                alert("赠送成功");
            }
        }
    });
}
</script>
<!--{template footer,'admin'}-->
