<include file="Common/header" />
<include file="Common/common_link" />
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-6 col-sm-5 setting-content form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        您当前账户余额为 <strong>¥{$user['balance']}</strong>，可提取现金为 <strong>¥{$user['balance']}</strong>
                        <!--{if count($ebank_account_list) == 0}-->
                        <p style="color:grey;">您还未认证过收款支付宝账户，套现的账户是需要认证的哦，现在就去<a target="_blank" href="{SITE_URL}/ebank/verify_account">认证</a></p>
                        <!--{/if}-->
                    </div>
                </div>
                <div class="form-group">
                    <label for="ebank_account" class="col-sm-3 control-label">收款支付宝账号</label>
                    <div class="col-sm-7">
                        <select id="ebank_account" class="form-control">
                            <!--{loop $ebank_account_list $account}-->
                                <!--{if $account['isdefault']}-->
                                <option value="{$account['ebank_type']}_{$account['ebank_account']}" selected="selected">{$account['ebank_account']}</option>
                                <!--{else}-->
                                <option value="{$account['ebank_type']}_{$account['ebank_account']}">{$account['ebank_account']}</option>
                                <!--{/if}-->
                            <!--{/loop}-->
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="money" class="col-sm-3 control-label">套现金额</label>
                    <div class="col-sm-7">
                        <input id="money" type="text" class="form-control" style="float:left; border-left:none;" value="{$user['balance']}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-7 jsk-setting-submit2">
                        <input id="add_withdraw_btn" class="btn btn-success col-sm-12" value="申请套现">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-7 gd" style="overflow:hidden" id="withdraw_history"></div>
        </div>
    </div>
</div>
<script type="text/template" id="withdraw_history_template">
<center><h2>已申请套现订单</h2></center>
<table width="100%" border="1px" cellspacing="0" style="text-align:center;">
    <tr style="background-color:#f2f7ff;">
        <th width="15%" style="text-align:center;">账户类型</th>
        <th width="40%" style="text-align:center;">账户账号</th>
        <th width="15%" style="text-align:center;">套现金额</th>
        <th width="15%" style="text-align:center;">状态</th>
        <th width="15%" style="text-align:center;">申请时间</th>
    </tr>
    <% _.each(withdraw_list, function(withdraw) { %>
    <tr style="height:50px;">
        <td>
            <% if (withdraw['ebank_type'] == 'alipay') { %>
            支付宝
            <% } else { %>
            其它
            <% } %>
        </td>
        <td><%= withdraw['ebank_account'] %></td>
        <td><%= withdraw['money'] %></td>
        <td>
            <% if (parseInt(withdraw['ispaid']) == 0) { %>
            <span style="color:red;">等待支付</span>
            <% } else { %>
            已支付
            <% } %>
        </td>
        <td><%= withdraw['format_apply_time'] %></td>
    </tr>
    <%})%>
</table>
</script>
<script src="{SITE_URL}/public/js/boostme/ebank.js"></script>
<include file="Common/footer" />
