<include file="Common/header" />
<include file="Common/common_link" />

<style type="text/css">
    .bm_rpadding_10 a:link, .bm_rpadding_10 a:hover, .bm_rpadding_10 a:visited, .bm_rpadding_10 a:active {color:black; text-decoration: none;}
</style>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-group col-md-10 col-sm-10 setting-content">
            <foreach name="latest_message_list" item="message">
                <li class="list-group-item" id="uid_{$message['to_uid']}">
                    <table class="bm_table_style">
                    <if condition="$message['to_uid'] eq 0">
                        <tr>
                            <td width="14%"><center><strong>系统消息</strong></center></td>
                            <td width="3%">
                                <if condition="$message['new_num'] gt 0">
                                <i class="fa fa-envelope bm_envelope_unread">{$message['new_num']}</i>
                                </if>
                            </td>
                            <td width="67%" class="bm_rpadding_10">
                                <a href="{:U('Message/system')}">{$message['content']}</a>
                            </td>
                            <td width="17%"><span>{:format_date($message['update_time'])}</span></td>
                        </tr>
                    <else />
                        <tr>
                            <td width="14%">
                                <center>
                                    <img width="60" height="60" src="{:get_user_avatar($message['to_uid'])}" class="img-circle"/>
                                    <p><small>{$message["to_nickname"]}</small></p>
                                </center>
                            </td>
                            <td width="3%">
                                <if condition="$message['new_num'] gt 0">
                                <i class="fa fa-envelope bm_envelope_unread">{$message['new_num']}</i>
                                </if>
                            </td>
                            <td width="67%" class="bm_rpadding_10">
                                <a href="{:U('Message/personal?uid=' . $message['to_uid'])}">{$message['content']}</a>
                            </td>
                            <td width="14%">
                                <span>{:format_date($message['update_time'])}</span>
                            </td>
                            <td width="3%">
                                <a type="button" class="glyphicon glyphicon-trash"
                                                     style="color:grey;cursor:pointer;"
                                                     id="rm_dialog_{$message['to_uid']}"></a>

                            </td>
                        </tr>
                    </if>
                    </table>
                </li>
            </foreach>
            <center><div class="split_page">{$departstr}</div></center>
            </ul>
        </div>
    </div>
</div>
<script src="__PUBLIC__/Home/Js/Message.js"></script>
<include file="Common/footer" />
