<include file="Common/header" />
<include file="Common/common_link" />

<script type="text/javascript" src="__PUBLIC__/Common/Js/third/editor/ueditor.config.js"></script> 
<script type="text/javascript" src="__PUBLIC__/Common/Js/third/editor/ueditor.all.js"></script> 
<style type="text/css">
    .list-group-item {border:0px;background-color:#FCFCFC;}
</style>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><a href="{:U('Message/index')}">消息中心</a></li>
                <li class="active">私信 - {:get_nickname($to_uid)}</li>
            </ol>
            <ul class="col-md-12 col-sm-12 setting-content">
                <div class="bm_bpadding_20">
                    <script type="text/plain" id="reply_content" name="reply_content" style="height: 144px;"></script>
                    <script type="text/javascript">UE.getEditor('reply_content', UE.utils.extend({toolbars:[[{$Think.config.EDITOR_TOOLBARS}]]}));</script>
                    <input value="回&nbsp;复" class="btn btn-primary bm_full_width" id="reply_btn">
                    <input value="{$to_uid}" id="to_uid" type="hidden">
                </div>

                <foreach name="message_list" item="message">
                <li class="list-group-item" id="message_{$message['id']}">
                    <table style="width:100%;text-align:left;min-height:46px;">
                        <tr>
                        <if condition="$message['from_uid'] eq $login_uid">
                            <td width="27%"></td>
                            <td width="50%" class="bm_rpadding_10"><div class="bm_float_right">{$message['content']}</div></td>
                            <td width="10%">
                                <center>
                                    <img width="60" height="60" src="{:get_user_avatar($message['from_uid'])}" class="img-circle"/>
                                    <p>{$message['from_nickname']}</p>
                                </center>
                            </td>
                            <td width="10%">
                                <small>
                                    {:format_date($message['create_time'])}
                                    <a type="button" class="glyphicon glyphicon-trash"
                                                     style="color:grey;cursor:pointer;"
                                                     id="remove_{$message['id']}"></a>
                                </small>
                            </td>
                        <else />
                            <td width="10%">
                                <small>
                                    <a type="button" class="glyphicon glyphicon-trash"
                                                     style="color:grey;cursor:pointer;"
                                                     id="remove_{$message['id']}"></a>
                                    {:format_date($message['create_time'])}
                                </small>
                            </td>
                            <td width="10%">
                                <center>
                                    <img width="60" height="60" src="{:get_user_avatar($message['from_uid'])}" class="img-circle"/>
                                    <p>{$message['from_nickname']}</p>
                                </center>
                            </td>
                            <td width="50%" class="bm_rpadding_10"><p>{$message['content']}</p></td>
                            <td width="27%"></td>
                        </if>
                        </tr>
                    </table>
                </li>
                </foreach>
                <center><div class="split_page">{$departstr}</div></center>
            </ul>
        </div>
    </div>
</div>

<script src="__PUBLIC__/Home/Js/User.js"></script>
<script src="__PUBLIC__/Home/Js/Message.js"></script>
<include file="Common/footer" />
