<include file="Common/header" />
<include file="Common/common_link" />

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><a href="{:U('Message/index')}">消息中心</a></li>
                <li class="active">系统消息</li>
            </ol>
            <ul class="col-md-9 col-sm-9 setting-content">
                <foreach name="message_list" item="message">
                <li class="list-group-item" id="message_{$message['id']}">
                    <table style="width:100%;text-align:left;min-height:86px;">
                        <tr>
                            <td width="67%" class="bm_rpadding_10">
                                <if condition="$message['new']">
                                <p style="font-size:14px;">
                                    <i class="fa fa-envelope bm_envelope_unread"></i>
                                    <strong>{$message['content']}</strong>
                                </p>
                                <else />
                                    <span style="font-size:13px;">{$message['content']} </span>
                                </if>
                            </td>
                            <td width="14%">
                                <span>{:format_date($message['create_time'])}</span>
                            </td>
                            <td width="3%">
                                <a type="button" class="glyphicon glyphicon-trash"
                                                 style="color:grey;cursor:pointer;"
                                                 id="remove_{$message['id']}"></a>
                            </td>
                        </tr>
                    </table>
                </li>
                </foreach>
                <center><div>{$departstr}</div></center>
            </ul>
            <div class="col-md-3 col-sm-3" style="overflow:hidden">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function show() {
    var windown_height = $(window).height();
    var document_scroll_top = $(document).scrollTop();

    $(".list-group-item:visible").each(function() {
        var id = $(this).attr("id");
        var offset = $("#" + id).offset().top - document_scroll_top;
        if (0 < offset && offset < $(window).height()) {
            //console.log("offset = " + offset);
            console.log($("#" + id).find("span").first().text());
        }
    });
    return;
}
//window.setTimeout(show, 1); 
//window.setInterval(show, 1000);
</script>

<script src="__PUBLIC__/Home/Js/Message.js"></script>
<include file="Common/footer" />
