<!--{template header}-->
<script type="text/javascript">
    $(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (e.target.id == "jump1") {
            location.href = "{url problem/search/$word}";
          } else if (e.target.id == "jump2") {
            <!--{eval $href_url = "problem/search/$word/" . PB_STATUS_SOLVED}-->
            location.href = "{url $href_url}";
          }
        })
    })
</script>
<style type="text/css">
    .list-group-item {border:0px;}
    .panel{margin: 5px 0px;}
    .mypanel {margin: 0 5px 0 55px !important; padding: 10px; line-height: 26px;}
    .avatar{position: absolute; top: 20px; left: 10px;}
</style>
<div class="container" style="font-size:13px;">
    <div <!--{if !$rownum}-->style="visibility:hidden;"<!--{/if}-->>
      <h5 style="color:grey;">{$setting['site_name']}为您找到相关结果约{$rownum}个</h5>
    </div>

    <div class="col-md-9">
      <!--{if $corrected_words}-->
      <h5 style="color:grey">您要找的是不是:
        <!--{loop $corrected_words $correct_word}-->
        <a class="btn btn-default btn-sm" href="{url problem/search/$correct_word}">{$correct_word}</a>
        <!--{/loop}-->
      </h5>
      <!--{/if}-->

      <ul class="nav nav-tabs" role="tablist">
        <!--{if $status == "all"}-->
        <li class="active"><a href="javascript:void(0)" role="tab" data-toggle="tab">全部求助</a></li>
        <!--{else}-->
        <li><a href="#no_content" id="jump1" role="tab" data-toggle="tab">全部求助</a></li>
        <!--{/if}-->

        <!--{if $status == PB_STATUS_SOLVED}-->
        <li class="active"><a href="javascript:void(0)" role="tab" data-toggle="tab">已解决求助</a></li>
        <!--{else}-->
        <li><a href="#no_content" id="jump2" role="tab" data-toggle="tab">已解决求助</a></li>
        <!--{/if}-->
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade in active">
          <!--{if $problemlist}-->
          <!--{loop $problemlist $problem}-->
          <div class="list-group-item">
            <div class="avatar" style="max-width:40px">
              <img class="img-circle" width="40px" height="40px" src={eval echo get_avatar_dir($problem['authorid']);}>
              <a href="{url user/space/$problem['authorid']}" class="trigger_btn align_center" >{$problem['author']}</a>
            </div>
            <div class="panel panel-default mypanel">
              <p>
                {$problem['title']}&nbsp;&nbsp;
                <!--{if in_array($problem['status'],array(PB_STATUS_SOLVED,PB_STATUS_CLOSED))}-->
                <img title="已解决" src="{SITE_URL}public/css/default/solved.gif" />
                <!--{/if}-->
              </p>
              <a href="{url problem/view/$problem['pid']}" target="_blank">查看详情</a>
            </div>
          </div>
          <!--{/loop}-->
          <!--{else}-->
          <div class="jumbotron" style="background-color:#ffffff;">
            <h4>抱歉，未找到和 "<code>{$word}</code>" 相关的内容。</h4>
            <p>
              <strong>建议您：</strong>
              <ul>
                <li><span>检查输入是否正确</span></li>
                <li><span>简化查询词或尝试其他相关词</span></li>
              </ul>
            </p>
          </div>
          <!--{/if}-->

          <!--{if $departstr}-->
          <div class="pages">{$departstr}</div>
          <!--{/if}-->

          <!--{if $setting['xunsearch_open']}-->
          <div class="panel panel-info">
            <div class="panel-heading">
              相关搜索 ：
              <!--{loop $related_words $index $word}-->
              <!--{if $index<=3}-->
              <a href="{url problem/search/$word}" class="btn btn-default btn-sm">{$word}</a>
              <!--{/if}-->
              <!--{/loop}-->
            </div>
            <div class="panel-body">
              <a href="{url problem/search/$related_words[4]}" class="btn btn-default btn-sm">{$related_words[4]}</a>
              <a href="{url problem/search/$related_words[5]}" class="btn btn-default btn-sm">{$related_words[5]}</a>
              <a href="{url problem/search/$related_words[6]}" class="btn btn-default btn-sm">{$related_words[6]}</a>
              <a href="{url problem/search/$related_words[7]}" class="btn btn-default btn-sm">{$related_words[7]}</a>
            </div>
          </div>
          <!--{/if}-->
        </div>
      </div>
      <div class="tab-pane" id="no_content"></div>
    </div>

    <div class="col-md-3">
      <h5>热门搜索</h5>
      <!--{if $hot_words}-->

      <ul class="list-group">
        <!--{loop $hot_words $hostword}-->
        <li class="list-group-item"><a href="{url problem/search/$hostword}">{$hostword}</a></li>
        <!--{/loop}-->
      </ul>

      <!--{else}-->

      <!--{eval $wordslist = unserialize($this->setting['hot_words']);}-->
      <ul class="list-group">
        <!--{loop $wordslist $hotword}-->
        <li class="list-group-item">
          <a {if $hotword['qid']}href="{url problem/view/$hotword['qid']}" {else}href="{url problem/search/$hotword['w']}"{/if}>{$hotword['w']}</a>
        </li>
        <!--{/loop}-->
      </ul>
      <!--{/if}-->
    </div>
</div>
<!--{template footer}-->
