    <ul class="list-group" style="font-size:13px;">
      <li class="list-group-item">
        <div class="panel panel-info">
          <div class="panel-heading">最新考研资讯</div>
          <div class="panel-body">
            <p>2015年硕士研究生招生考试初试时间为：2014年12月27日至12月28日；其中27日为思想政治理论、管理类联考综合能力和外国语笔试，28日为业务课笔试。</p>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="panel panel-success">
          <div class="panel-heading">我有资料</div>
          <div class="panel-body">
            <p>有Boostme没有的资料，这份资料非常珍贵？</p>
            <p>这就在Boostme上申请发布你的资料吧</p>
            <a href="{url material/add}">申请</a>
          </div>
        </div>
      </li>
    </ul>
    <span style="color:blue;">可以通过QQ群：32480019联系我们</span>
