<include file="Common/header" />
<include file="Common/common_link" />
<link rel="stylesheet" href="__PUBLIC__/Home/Css/main.css"/>
<link rel="stylesheet" href="__PUBLIC__/Common/Js/third/lightbox/lightbox.css"/>
<link href="__PUBLIC__/Home/Css/avatar.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="__PUBLIC__/Common/Js/third/lightbox/lightbox.js"></script>
<style type="text/css">
    .ui-datepicker-title {color:black;}
</style>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-7 col-sm-7 setting-content form-horizontal">
                <h4>
                    <span style="color:#3c86cf;font-size:16px;">教育经历</span>&nbsp;&nbsp;&nbsp;
                    <span style="color:red;font-size:13px;">请输入教育经历！ </span>
                </h4>
                <span id="add_edu_btn" class="btn" onclick="add_edu({})"
                  style="background:#f9f9f9;border:1px dashed #e8e8e8;margin-left:105px;width: 405px;color:#3c86cf;">
                  +&nbsp;&nbsp;增加更多教育经历
                </span>
                <div class="line_split"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="realname">真实姓名：</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="realname" value="{$realname}"/>
                    </div>
                    <span id="realname_tip"></span>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="mobile">手机：</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="mobile" value="{$mobile}"/>
                    </div>
                    <span id="mobile_tip"></span>
                </div> 

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="wechat">微信：</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="wechat" value="{$wechat}"/>
                    </div>
                    <span id="wechat_tip"></span>
                </div> 

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="QQ">QQ：</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="qq" value="{$qq}"/>
                    </div>
                    <span id="qq_tip"></span>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-5 jsk-setting-submit">
                        <input id="resume_update_btn" class="btn btn-success jsk-submit-btn" style="float:left" value="保存信息">
                        <span class="jsk-setting-success word-success">信息已经成功修改</span>
                    </div>
                    <div class="col-sm-5 jsk-setting-submit">
                        <input id="resume_apply_btn" class="btn btn-danger jsk-submit-btn" style="float:left" value="提交审核">
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-5" style="overflow:hidden">
                <iframe src="{:U('User/master')}" style="border:none;"
                        width="520px" height="300px;" frameborder="no" border="0"
                        marginwidth="0" marginheight="0" scrolling="no" ></iframe>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="resume_choose_school_template">
<div id="school_<%= id %>">
    <div class="line_split"></div>
    <div style="color:#3c86cf;font-size:14px;padding-bottom:15px;">教育经历（<%= id %>）</div>
    <div class="form-group" style="margin-bottom:5px;margin-top:15px"></div>
    <div class="form-group">
        <div style="position:absolute;right:40px;">
            <a type="button" class="glyphicon glyphicon-trash del_edu_btn" id="del_edu_<%= id %>" style="color:grey"></a>
        </div>
        <label class="col-sm-2 control-label">学校:</label>
        <div class="col-sm-5">
            <input type="text" id="school-<%= id %>" value="<%= edu['school'] %>" onclick="pop(<%= id %>)" class="form-control"/>
            <div id="choose-box-wrapper-<%= id %>" class="choose-box-wrapper">
                <div id="choose-box-<%= id %>" class="choose-box">
                    <div id="choose-box-title-<%= id %>" class="choose-box-title">
                        <span>选择学校</span>
                    </div>
                    <div id="choose-a-province-<%= id %>" class="choose-a-province"></div>
                    <div id="choose-a-school-<%= id %>" class="choose-a-school"></div>
                    <div id="choose-box-bottom-<%= id %>" class="choose-box-bottom">
                        <input type="button" onclick="hide(<%= id %>)" value="关闭"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">学历:</label>
        <div class="col-sm-5">
            <select class="form-control" id="degree-<%= id %>">
                <option value="">--请选择--</option>
                <% if (edu['degree'] == {$Think.EDU_HIGH_SCHOOL}) { %>
                <option value="{$Think.EDU_HIGH_SCHOOL}" selected>高中</option>
                <% } else { %>
                <option value="{$Think.EDU_HIGH_SCHOOL}">高中</option>
                <% } %>

                <% if (edu['degree'] == {$Think.EDU_BACHELOR}) { %>
                <option value="{$Think.EDU_BACHELOR}" selected>本科</option>
                <% } else { %>
                <option value="{$Think.EDU_BACHELOR}">本科</option>
                <% } %>

                <% if (edu['degree'] == {$Think.EDU_MASTER}) { %>
                <option value="{$Think.EDU_MASTER}" selected>硕士研究生</option>
                <% } else { %>
                <option value="{$Think.EDU_MASTER}">硕士研究生</option>
                <% } %>

                <% if (edu['degree'] == {$Think.EDU_DOCTOR}) { %>
                <option value="{$Think.EDU_DOCTOR}" selected>博士研究生</option>
                <% } else { %>
                <option value="{$Think.EDU_DOCTOR}">博士研究生</option>
                <% } %>

                <% if (edu['degree'] == {$Think.EDU_POST_DOCTOR}) { %>
                <option value="{$Think.EDU_POST_DOCTOR}" selected>博士后</option>
                <% } else { %>
                <option value="{$Think.EDU_POST_DOCTOR}">博士后</option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">院系:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" value="<%= edu['dept'] %>" id="dept-<%= id %>"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">专业:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" value="<%= edu["major"] %>" id="major-<%= id %>"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">开始时间:</label>
        <div class="col-sm-5">
            <input type="text" id="datepicker-0-<%= id %>" readonly
               class="form-control datepicker" style="cursor:pointer;" value="<%= edu["start_time"] %>"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">结束时间:</label>
        <div class="col-sm-5">
            <input type="text" id="datepicker-1-<%= id %>" readonly
               class="form-control datepicker" style="cursor:pointer;" value="<%= edu["end_time"] %>"/>
        </div>
    </div>
</div>
</script>

<link href="__PUBLIC__/Common/Js/third/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Common/Js/third/jquery-ui/jquery-ui.css" />
<script src="__PUBLIC__/Common/Js/third/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript">
    document.write("<script type='text/javascript' src='__PUBLIC__/Common/Js/third/uploadify/jquery.uploadify.js?" + (new Date()).getTime()  + "'></s" + "cript>"); 
    $.datepicker.regional["zh-CN"] = {closeText: "关闭", prevText: "&#x3c;上月", nextText: "下月&#x3e;", currentText: "今天", monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"], monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"], dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"], dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"], dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"], weekHeader: "周", dateFormat: "yy-mm-dd", firstDay: 1, isRTL: !1, showMonthAfterYear: !0, yearSuffix: "年" }
    $.datepicker.setDefaults($.datepicker.regional["zh-CN"]);
</script>
<script src="__PUBLIC__/Common/Data/category/university.js"></script>
<script src="__PUBLIC__/Home/Js/User.js"></script>
<include file="Common/footer" />
