<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<title>上传学生证</title>
<link href="__PUBLIC__/Home/Css/avatar.css" rel="stylesheet" type="text/css"/>
<script src="__PUBLIC__/Common/Js/third/jquery/jquery.min.js" charset="utf-8"></script>
<script src="__PUBLIC__/Common/Js/third/Jcrop/js/jquery.Jcrop.min.js" charset="utf-8"></script>
<script src="__PUBLIC__/Common/Js/third/jquery-form/jquery.form.js"></script>
<link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.css">
<link href="//cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<script type="text/javascript">
function upload_student() {
    $("#upload_form").ajaxSubmit({
        success: function(response, stat) {
            console.log(response);
            console.log(stat);
            if (stat && response['success']) {
                window.location.reload();
            } else {
                var error_dict = {
                    101 : "用户尚未登录",
                    102 : "更新数据失败",
                };
                if (response['error'] in error_dict) {
                    alert(error_dict[response['error']]);
                } else if (response['error'] == 103) {
                    alert(response['info']);
                } else {
                    alert("发生未知错误");
                }
            }
        },
    }); 
    return false;
}
</script>
</head>
<body>
<div id="head">
    <div class="pic">
        <if condition="isset($resume['student'])">
            <img src="{:U('Resource/student')}" id="target">
        <else />
            <div style="margin:14px;">
                在这里上传你的学生证……<br/>请使用4M以内的jpg、gif、png图片。
            </div>
        </if>
    </div>
</div>
<div class="upload" id="upload_student">
    <form action="{:U('Attach/upload_student')}" id="upload_form"
          enctype="multipart/form-data" method="post">
        <input name="upfile" id="upfile" type="file" onchange="upload_student();">
    </form>
</div>
</body>
</html>
