<include file="Common/header" />
<include file="Common/common_link" />

<style type="text/css">
    #register_service_panel td {padding-bottom : 20px;}
</style>

<div class="container">
    <if condition="count($service_list) gt 0">
    <div class="panel panel-success">
        <div class="panel-heading"><h3 class="panel-title">现有服务</h3></div>
        <div class="panel-body">
            <foreach name="service_list" item="service">
            <li class="list-group-item" id="rm_{$service['id']}">
                <table class="bm_full_width" style="min-height:46px;">
                    <tr>
                        <td width="67%" class="bm_rpadding_10">
                            <p>服务内容： {$service['content']}</p>
                            <p>服务价格： ￥{$service['price']} / {$service['duration']}分钟</p>
                            <p>服务分类：</p>
                            <div class="bm_lpadding_70" id="service_category_{$service['id']}">
                                <foreach name="service['category']" item="c">
                                    <p>{$c['region']}{$c['school']}{$c['dept']}{$c['major']}</p>
                                </foreach>
                            </div>
                        </td>
                        <td width="5%">
                            <p><a target="_blank" href="{:U('Service/view?id=' . $service['id'])}">预览</a></p>
                        </td>
                        <td width="12%">
                            <span>
                            <eq name="service['status']" value="0">未提交申请</eq>
                            <eq name="service['status']" value="$Think.SERVICE_STATUS_APPLY">正在审核</eq>
                            <eq name="service['status']" value="$Think.SERVICE_STATUS_ACCEPTED">对外提供服务</eq>
                            <eq name="service['status']" value="$Think.SERVICE_STATUS_DENIED">未通过审核</eq>
                            <eq name="service['status']" value="$Think.SERVICE_STATUS_CLOSED">暂时关闭</eq>
                            </span>
                        </td>
                        <td width="16%">
                            <if condition="$service['status'] eq $Think.SERVICE_STATUS_ACCEPTED">
                            <p>服务操作：<a class="bm_pointer" id="service_close_{$service['id']}">暂时关闭</a></p>
                            </if>
                            <p>创建时间：{$service['update_time']|format_date}</p>
                        </td>
                    </tr>
                </table>
            </li>
            </foreach>
        </div>
    </div>
    </if>

    <div class="panel panel-primary" id="register_service_panel">
        <div class="panel-heading"><h3 class="panel-title">申请提供新服务</h3></div>
        <div class="panel-body">
            <ul class="col-md-12 col-sm-12 setting-content">
                <if condition="count($edu_list) eq 0">
                <strong>请先完成<a href="{:U('User/authenticate')}" target="_blank">身份验证</a><span style="color:red;">(必填)</span></strong>
                <else/>
                </if>
                <div class="bm_tmargin_40"></div>
                <table>
                    <tr>
                        <td width="50px"><strong>描述</strong></td>
                        <td width="65%" class="bm_rpadding_10">
                            <textarea class="bm_full_width" name="content" id="content" style="height:150px;"></textarea>
                        </td>
                        <td width="30%"><span class="help-block">能够提供服务的详细内容</span></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="50px"><strong>分类</strong></td>
                        <td width="10%" class="bm_rpadding_10"><select class="selectpicker" id="select_region"></td>
                        <td width="10%"><select class="selectpicker" id="select_school" disabled="disabled"></select></td>
                        <td width="10%"><select class="selectpicker" id="select_dept" disabled="disabled"></select></td>
                        <td width="10%"><select class="selectpicker" id="select_major" disabled="disabled"></select></td>
                        <td width="13%">
                            <a id="add_category" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="添加">
                                <small class="glyphicon glyphicon-plus-sign"></small>
                            </a>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="50px"></td>
                        <td width="90%"><div id="category_list"></div></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td width="50px" class="bm_rpadding_10"><strong>价格</strong></td>
                        <td width="40%" class="bm_rpadding_10">
                            <input type="number" name="price" id="price" class="form-control" value="25">
                            <input type="hidden" name="duration" id="duration" value="15">
                        </td>
                        <td width="50%"><span class="help-block">元/15分钟</span></td>
                    </tr>
                    <tr>
                        <td><strong>手机</strong></td>
                        <td class="bm_rpadding_10"><input name="mobile" id="mobile" class="form-control" value="{$user_info['mobile']}"></td>
                        <td><span class="help-block">必填项</span></td>
                    </tr>
                    <tr>
                        <td><strong>QQ</strong></td>
                        <td class="bm_rpadding_10"><input name="qq" id="qq" class="form-control" value="{$user_info['qq']}"></td>
                        <td><span class="help-block">作为联系你的备选项</span></td>
                    </tr>
                    <tr>
                        <td><strong>微信</strong></td>
                        <td class="bm_rpadding_10"><input name="wechat" id="wechat" class="form-control" value="{$user_info['wechat']}"></td>
                        <td><span class="help-block">作为联系你的备选项</span></td>
                    </tr>
                </table>
                <input type="button" id="service_register_btn" class="btn btn-success col-sm-12" style="float:left" value="提交申请">
            </ul>
        </div>
    </div>
</div>

<link href="__PUBLIC__/Common/Js/third/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
<script src="__PUBLIC__/Common/Js/third/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="__PUBLIC__/Home/Js/Category.js"></script>
<script src="__PUBLIC__/Home/Js/Service.js"></script>
<script type="text/javascript">
$(function() {
    var choose_category_arr = new Array();

    $("#select_region").change(function() {
        select_region(null);
    });

    $("#select_school").change(function() {
        select_school(null);
    });

    $("#select_dept").change(function() {
        select_dept(null);
    });

    $("#select_major").change(function() {
        select_major(null);
    });
    refresh_category(null, null, null, null, null);

    $("#add_category").click(function() {
        var category = fetch_choose_category();
        if (category['region'].length == 0 && category['school'].length == 0
                                           && category['dept'].length == 0
                                           && category['major'].length == 0) {
            return;
        }
        if (_.some(choose_category_arr, function(t_category) {
                    return _.isEqual(t_category, category);
                })) {
            return;
        }
        var show_val = category['region'] + " " + category['school'] 
                                          + " " + category['dept']
                                          + " " + category['major'];
        category_show_id = choose_category_arr.length;
        show_str = "<p> + ";
        show_str += show_val;
        show_str += ' <a id="remove_category_' + category_show_id;
        show_str += '" class="glyphicon glyphicon-trash" style="color:grey;cursor:pointer;"></a></p>';
        $("#category_list").append(show_str);
        choose_category_arr.push(category);
        $("#select_region").val("");
        $("#select_region").change();
    });

    $("#service_register_btn").click(function() {
        var content = $("#content").val();
        var duration = $("#duration").val();
        var price = $("#price").val();
        var mobile = $("#mobile").val();
        var qq = $("#qq").val();
        var wechat = $("#wechat").val();

        $("#add_category").click();

        var service = new Service();
        service.add_service({"content" : content,
                             "duration" : duration,
                             "price" : price,
                             "category" : choose_category_arr}, function(response) {
            var error_dict = {
                101 : "尚未登录",
                102 : "保存成功，但由于没有手机号，申请提供服务操作失败",
                103 : "内容长度不合法",
                104 : "补充信息长度不合法",
                105 : "价格不合法",
                106 : "时长不合法"
            };
            if (response.success) {
                window.location.reload();
                alert("已成功提交申请，我们将在24小时内给您答复，请耐心等待");
            } else {
                errno_alert(response.error, error_dict);
            }
        });
    });

    $("body").on('click', 'a[id^=remove_category_]', function() {
        var remove_index = $(this).attr("id").substr(16);
        $(this).parent().remove();
        choose_category_arr.splice(remove_index, 1);
    }); 
});
</script>
<include file="Common/footer" />
