<!--{template header}-->
<script type="text/javascript" src="{SITE_URL}/public/js/plugin/editor/ueditor.config.js"></script> 
<script type="text/javascript" src="{SITE_URL}/public/js/plugin/editor/ueditor.all.js"></script>
<style type="text/css">
    .info_tip {margin-top:8px;color:grey;font-size:12px;}
    .pdh0 {padding-left:0px;padding-right:0px;}
    #img_preview img {max-height:250px;min-height:250px;max-width:350px;}
</style>

<!--{template common_link}-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><a href="{SITE_URL}/material/provide">我的资料</a></li>
                <!--{if $regular == "/material/add"}-->
                <li class="active">上传</li>
                <!--{elseif $regular == "/material/edit"}-->
                <li class="active">更改</li>
                <!--{/if}-->
            </ol>
            <div class="col-sm-8 setting-content form-horizontal" id="material_id_{$material['id']}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">标题：</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="title" value="{$material['title']}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">链接：</label>
                    <div class="col-sm-7">
                        <input class="form-control" id="site_url" value="{$material['site_url']}"/>
                    </div>
                    <div class="col-sm-3 info_tip">资料获取链接</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">密码：</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="access_code" value="{$material['access_code']}"/>
                    </div>
                    <div class="col-sm-4 info_tip">资料的提取密码</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">价格：</label>
                    <div class="col-sm-4">
                        <input class="form-control" id="price" value="{$material['price']}"/>
                    </div>
                    <div class="col-sm-4 info_tip">单位：元</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">类型：</label>
                    <div class="col-sm-4">
                        <select id="material_type" class="form-control">
                            <option value="major">专业课</option>
                            <option value="math">数学</option>
                            <option value="english">英语</option>
                            <option value="politics">政治</option>
                        </select>
                        <!--{if $material}-->
                        <script type="text/javascript">$("#material_type").val("{$material['type']}")</script>
                        <!--{/if}-->
                    </div>
                    <div class="col-sm-4 info_tip">公共课可不选择分类</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">分类：</label>
                    <div class="col-sm-10">
                        <div class="col-md-2 pdh0" style="padding-right:0px;">
                            <select class="selectpicker form-control" id="select_region"></select>
                        </div> 
                        <div class="col-md-3 pdh0">
                            <select class="selectpicker form-control" id="select_school" disabled="disabled"></select>
                        </div>
                        <div class="col-md-3 pdh0">
                            <select class="selectpicker form-control" id="select_dept" disabled="disabled"></select>
                        </div> 
                        <div class="col-md-4 pdh0">
                            <div class="pull-right" style="padding-top:4%;">
                                <a id="add_category" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="添加分类">
                                    <small class="glyphicon glyphicon-plus-sign"></small>
                                </a>
                            </div>
                            <div style="width:90%">
                                <select class="selectpicker form-control" id="select_major" disabled="disabled"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="div_category_list">
                    <label class="col-sm-2 control-label"></label>
                    <div id="category_list" class="col-sm-10"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述：</label>
                    <div class="col-sm-10"> 
                        <script type="text/plain" id="description" name="description" style="height: 520px;"></script>
                        <script type="text/javascript">UE.getEditor('description',
                                                                    UE.utils.extend({toolbars:[[{$toolbars}]],
                                                                                     initialContent:'{eval echo taddslashes($material['description'])}'}));</script>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <!--{if $regular == "/material/add"}-->
                        <input class="btn btn-primary col-sm-12" id="add_material_btn" value="提&nbsp;交"/>
                        <!--{elseif $regular == "/material/edit"}-->
                        <input class="btn btn-primary col-sm-12" id="save_material_btn" value="保&nbsp;存"/>
                        <!--{/if}-->
                    </div>
                </div>
            </div>
            <div class="col-sm-4" style="background:url({SITE_URL}/public/css/default/bg.jpg);" id="img_preview">
                <!--{if $regular == "/material/add"}-->
                <iframe src="{SITE_URL}/material/upload_picture" style="border:none;"
                        height="300px;" frameborder="no" border="0"
                        marginwidth="0" marginheight="0" scrolling="no" 
                        id="material_pic_frame"></iframe>
                <center><p style="color:grey;">封面预览</p></center>
                <!--{elseif $regular == "/material/edit"}-->
                <iframe src="{SITE_URL}/material/update_picture?mid={$material['id']}" style="border:none;"
                        height="300px;" frameborder="no" border="0"
                        marginwidth="0" marginheight="0" scrolling="no" 
                        id="material_pic_frame"></iframe>
                <!--{/if}-->
            </div>
        </div>
    </div>
</div>

<script src="{SITE_URL}/public/js/boostme/category.js"></script>
<script src="{SITE_URL}/public/js/boostme/material.js"></script>
<!--{template footer}--> 
