<!--{template header}-->
<script type="text/javascript" src="{SITE_URL}public/js/editor/ueditor.config.js"></script> 
<script type="text/javascript" src="{SITE_URL}public/js/editor/ueditor.all.js"></script>
<script type="text/javascript" src="{SITE_URL}public/js/category.js"></script>
<style type="text/css">
/*  .panel {position: relative; padding: 15px;} */
  .tips { color: grey; float: right; margin: 0px; }
  #ptitle {margin: 10px 0;}
  .info_tip {margin-top:8px;color:grey;font-size:12px;}
</style>

<div class="container" style="margin-top:30px;">
  <div class="panel panel-info">
    <div class="panel-heading">填写资料信息</div>
    <div class="panel-body">
      <form method="POST" action="{url material/add}" name="material_form"
          id="material_form" onsubmit="return check_form();" class="form-horizontal">

        <div id="prob_title" class="row">
          <div class="form-group">
            <label class="col-sm-1 control-label"><span style="color:red">*</span>标题：</label>
            <div class="col-sm-9"><input type="text" class="form-control" name="title" id="title" /></div>
            还可以输入<span id="title_tip" style="color:red;">50</span>字
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">

            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label"><span style="color:red;">*</span>封面：</label>
                <div class="col-sm-3">
                  <input id="picture" name="picture" type="file" class="btn btn-primary form-control">
                </div>
                <div class="col-sm-4 info_tip">.bmp .png .jpg .gif</div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label"><span style="color:red">*</span>链接：</label>
                <div class="col-sm-4"><input class="form-control" id="site_url" name="site_url" value=""/></div>
                <div class="col-sm-4 info_tip">*资料获取的链接地址</div>
              </div>
            </div>

            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label"><span style="color:red">*</span>密码：</label>
                <div class="col-sm-4"><input class="form-control" id="access_code" name="access_code" value=""/></div>
                <div class="col-sm-4 info_tip">*资料的提取密码</div>
              </div>
            </div>


            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label"><span style="color:red">*</span>价格：</label>
                <div class="col-sm-4"><input class="form-control" id="price" name="price" value=""/></div>
                <div class="col-sm-4 info_tip">*单位：元</div>
              </div>
            </div>


            <div class="row">
              <div class="form-group">
                <label class="col-sm-2 control-label"><span style="color:red">*</span>分类：</label>
                <div class="col-sm-10">
                  <input type="hidden" class="form-control" name="category_id" readonly style="cursor:pointer;" id="category_id"/>
                  <input type="text" class="form-control" name="category" readonly style="cursor:pointer;" id="category"/>
                </div>
              </div>
            </div>

          </div>

          <div class="col-sm-4" style="margin-left:60px;">
            <center><p style="color:grey;">封面预览</p></center>
            <img width="350px" height="300px" id="picture_preview">
            <input type="hidden" name="picture_tmp_url" id="picture_tmp_url"/>
          </div>
        </div>

        <div class="row" style="margin-top:20px;">
          <div class="form-group">
            <label class="col-sm-1 control-label"><span style="color:red">*</span>详细描述：</label>
            <div class="col-sm-9" id="description"> 
              <script type="text/plain" id="editor" name="description" style="height: 520px;"></script>
              <script type="text/javascript">UE.getEditor('editor', UE.utils.extend({toolbars:[[{$toolbars}]]}));</script>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
              <!--{if $setting['code_material_add']}-->
              <label for="code" class="col-sm-1 control-label">验证码：</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" id="code" name="code" onblur="check_code()">
              </div>
              <div class="col-sm-5">
                <span class="verifycode"><img src="{url user/code}" onclick="javascript:updatecode();" id="verifycode"></span>
                <a href="javascript:updatecode();" class="changecode">&nbsp;换一个</a>
              </div>
              <!--{else}-->
              <div class="col-sm-1"></div>
              <!--{/if}-->
              <div class="col-sm-2"><button type="submit" class="btn btn-primary" name="submit">提&nbsp;交</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="categoryModal" role="dialog">
  <div class="modal-dialog" style="width:1200px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">分类选择</h4>
      </div>
      <div class="modal-body">
        <table>
          <tr valign="top">
            <td style="width:105px;"><select id="region" size="11" name="region" style="width:100%;"></select></td>
            <td align="center" valign="middle" width="20px"><div style="" id="arrow1">>></div></td>

            <td width="250px"><select id="school" size="11" name="school" style="width:100%;"></select></td>
            <td align="center" valign="middle" width="25px"><div style="" id="arrow2">>>&nbsp;</div></td>

            <td width="250px"><select id="dept" size="11" name="dept" style="width:100%;"></select></td>
            <td align="center" valign="middle" width="25px"><div style="" id="arrow2">>>&nbsp;</div></td>

            <td width="250px"><select id="major" size="11" name="major" style="width:100%;"></select></td>

            <td align="center" valign="middle" width="25px">
              <div style="margin:5px;"><input type="button" class="btn btn-primary" value="添&nbsp;加" id="category_add_btn" disabled="true"/></div>
              <div style="margin:5px;"><input type="button" class="btn btn-primary" value="删&nbsp;除" id="category_del_btn" disabled="true"/></div>
            </div>

            <td width="170px">
              <span>已选择分类：</span>
              <select id="choose_list" size="10" name="choose_list" style="width:100%;"></select>
            </td>

          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <input type="button" class="btn btn-primary" data-dismiss="modal" value="确&nbsp;认" id="category_btn" disabled="true"/>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<link href="{SITE_URL}public/js/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{SITE_URL}public/js/uploadify/jquery.uploadify.js?ver=<?php echo rand(0,99999);?>"></script>
<script type="text/javascript" src="{SITE_URL}public/js/school_info_list.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    show_region();

    $("#title").keyup(function() {
        var pbyte = bytes($.trim($(this).val()));
        var limit = 100 - pbyte;
        if (limit % 2 == 0) {
            $("#title_tip").html((limit / 2));
        } else {
            $("#title_tip").html(((limit + 1) / 2));
        }
    });

    $("#category").click(function() {
        $("#categoryModal").modal('show');
    });

    $("#region").change(function() {
        $("#school").html("");
        $("#dept").html("");
        $("#major").html("");

        var region_id = $("#region option:selected").val();
        show_school(region_id);

        $("#category_id").val("");
        $("#category").val("");
        $("#category_btn").attr('disabled', 'disabled');
        $("#category_add_btn").attr('disabled', 'disabled');
    }); 

    $("#school").change(function() {
        $("#dept").html("");
        $("#major").html("");

        var school_id = $("#school option:selected").val();
        show_dept(school_id);

        $("#category_id").val("");
        $("#category").val("");
        $("#category_btn").attr('disabled', 'disabled');
        $("#category_add_btn").attr('disabled', 'disabled');
    }); 

    $("#dept").change(function() {
        $("#major").html("");

        var dept_id = $("#dept option:selected").val();
        show_major(dept_id);

        $("#category_id").val("");
        $("#category").val("");
        $("#category_btn").attr('disabled', 'disabled');
        $("#category_add_btn").attr('disabled', 'disabled');
    }); 

    $("#major").change(function() {
        update_category_value();
    }); 

    $("#category_add_btn").click(function() {
        $("#choose_list").html($("#choose_list").html() + "<option value='" + $("#major").val() + "'>" + $("#major option:selected").html() + "</option>");
        $("#category_add_btn").attr('disabled', 'disabled');
        update_category_value();
    });

    $("#choose_list").change(function() {
        if ($("#choose_list option:selected").length > 0) {
            $("#category_del_btn").removeAttr('disabled');
        } else {
            $("#category_del_btn").attr('disabled', 'disabled');
        }
    });

    $("#category_del_btn").click(function() {
        $("#choose_list option:selected").remove();

        update_category_value();
        $("#category_del_btn").attr('disabled', 'disabled');
        if ($.trim($("#choose_list").html()) == "") {
            $("#category_btn").atrr('disabled', 'disabled');
        }
    });

    $('#picture').uploadify({
        'swf': '{SITE_URL}public/js/uploadify/uploadify.swf',
        'uploader': "{url material/upload_picture}",
        'formData': { "session_id" : "{$user['sid']}" },
        'auto': true,
        'buttonText' : "上传资料封面",
        'buttonClass' : "btn btn-primary",
        'fileObjName': 'picture',
        'height': '40px',
        'multi': false,
        'fileSizeLimit': "7MB",
        'fileTypeExts': '*.bmp;*.png;*.jpg;*.gif',
        'fileTypeDesc': 'User (.bmp, .png, .jpg, .gif)',
        'onUploadSuccess': function(file, picture_url, response) {
            $("#picture_preview").attr("src", picture_url);
            $("#picture_tmp_url").val(picture_url);
            $(".uploadify-queue").hide();
        }
    });
});

function index_sort_func(x, y) {
    var int_x = parseInt(x['index']);
    var int_y = parseInt(y['index']);

    if (int_x > int_y) {
        return 1;
    } else {
        return -1;
    }
}

function show_region() {
    var optionhtml = '';
    var region_index_list = Array();
    for (var region_id in m_region_dict) {
        region_index_list.push({'index' : m_region_dict[region_id]['index'], 'id' : region_id});
    }
    region_index_list.sort(index_sort_func);

    for (var k = 0; k < region_index_list.length; ++k) {
        region_id = region_index_list[k]['id'];
        optionhtml += "<option value='" + region_id + "'>" + m_region_dict[region_id]['name'] + "</option>";
    }
    $("#region").html(optionhtml);
}

function show_school(region_id) {
    var optionhtml = '';
    var school_list = m_region_dict[region_id]['school_list'];

    var school_index_list = Array();
    for (var k = 0; k < school_list.length; ++k) {
        var school_id = school_list[k];
        school_index_list.push({'index' : m_school_dict[school_id]['index'], 'id' : school_id});
    }
    school_index_list.sort(index_sort_func);

    for (var k = 0; k < school_index_list.length; ++k) {
        school_id = school_index_list[k]['id'];
        optionhtml += "<option value='" + school_id + "'>" + m_school_dict[school_id]['name'] + "</option>";
    }
    $("#school").html(optionhtml);
}

function show_dept(school_id) {
    var optionhtml = '';
    var dept_list = m_school_dict[school_id]['dept_list'];

    var dept_index_list = Array();
    for (var k = 0; k < dept_list.length; ++k) {
        var dept_id = dept_list[k];
        dept_index_list.push({'index' : m_dept_dict[dept_id]['index'], 'id' : dept_id});
    }
    dept_index_list.sort(index_sort_func);

    for (var k = 0; k < dept_index_list.length; ++k) {
        dept_id = dept_index_list[k]['id'];
        optionhtml += "<option value='" + dept_id + "'>" + m_dept_dict[dept_id]['name'] + "</option>";
    }
    $("#dept").html(optionhtml);
}

function show_major(dept_id) {
    var optionhtml = '';
    var major_list = m_dept_dict[dept_id]['major_list'];

    var major_index_list = Array();
    for (var k = 0; k < major_list.length; ++k) {
        var major_id = major_list[k];
        major_index_list.push({'index' : m_major_dict[major_id]['index'], 'id' : major_id});
    }
    major_index_list.sort(index_sort_func);

    for (var k = 0; k < major_index_list.length; ++k) {
        major_id = major_index_list[k]['id'];
        optionhtml += "<option value='" + major_id + "'>" + m_major_dict[major_id]['name'] + "</option>";
    }
    $("#major").html(optionhtml);
}

function update_category_value() {
    var choose_num = $("#choose_list option").length;

    var text_array = new Array();
    var value_array = new Array();
    var already_choose = false;
    for (var i = 0; i < choose_num; ++i) {
        text_array.push($("#choose_list").get(0).options[i].text);
        value_array.push($("#choose_list").get(0).options[i].value);

        if ($("#major option:selected").html() == $("#choose_list").get(0).options[i].text) {
            already_choose = true;
        }
    }

    if (already_choose == true || $("#major").length == 0) {
        $("#category_add_btn").attr('disabled', 'disabled');
    } else {
        $("#category_add_btn").removeAttr('disabled');
    }

    if ($("#choose_list option:selected").length == 0) {
        $("#category_del_btn").attr('disabled', 'disabled');
    } else {
        $("#category_del_btn").removeAttr('disabled');
    }

    $("#category").val(text_array.join(","));
    $("#category_id").val(value_array.join(","));

    if (choose_num > 0) {
        $("#category_btn").removeAttr('disabled');
    } else {
        $("#category_btn").attr('disabled', 'disabled');
    }
}

function check_form() {
    var title = $("#title").val();
    if (bytes($.trim(title)) < 20 || bytes($.trim(title)) > 100) {
        alert("标题长度不得少于10个字，不能超过50字！");
        $("#title").focus();
        return false;
    }
    if ($("#category_id").val().length == 0) {
        alert("您还没有添加分类信息哦！");
        $("#category").click();
        return false;
    }
    if ($("#ptags").val().length == 0) {
        alert("您还没有添加任何标签哦！");
        $("#ptags").focus();
        return false;
    }
    if ($("#price").val().length == 0) {
        alert("您还没有填写回报哦！");
        $("#price").focus();
        return false;
    }
    return true;
}
</script>
<!--{template footer}--> 
