<!--{template header}-->
<script type="text/javascript" src="{SITE_URL}public/js/plugin/editor/ueditor.config.js"></script> 
<script type="text/javascript" src="{SITE_URL}public/js/plugin/editor/ueditor.all.js"></script>
<script type="text/javascript" src="{SITE_URL}public/js/category.js"></script>
<style type="text/css">
    .pdh0 {padding-left:0px;padding-right:0px;}
</style>

<div class="container">
    <h2>发布求助</h2>
    <hr style="border-color: #DFE2E6">

    <form method="POST" <!--{if $op_type=="add"}-->action="{SITE_URL}problem/add" <!--{else}-->action="{SITE_URL}problem/edit/{$problem['pid']}"<!--{/if}-->
          onsubmit="return check_form();" class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">求助内容：</label>
            <div class="col-sm-8">
                <textarea class="form-control" name="title" id="title" rows="5">{$problem['title']}</textarea>
            </div>
            还可以输入<span id="title_tip" style="color:red;">140</span>字
        </div>

        <div class="form-group">
            <!--{if $op_type == "add"}-->
            <label class="col-sm-2 control-label">分类：</label>
            <!--{elseif $op_type == "edit"}-->
            <label class="col-sm-2 control-label">增加分类：</label>
            <!--{/if}-->
            <div class="col-sm-8">
                <div class="col-md-2 pdh0" style="padding-right:0px;">
                    <select class="selectpicker form-control" id="select_region"></select>
                </div> 
                <div class="col-md-3 pdh0">
                    <select class="selectpicker form-control" id="select_school" disabled="disabled"></select>
                </div>
                <div class="col-md-3 pdh0">
                    <select class="selectpicker form-control" id="select_dept" disabled="disabled"></select>
                </div> 
                <div class="col-md-4 pdh0">
                    <div class="pull-right" style="padding-top:4%;">
                        <a id="add_category" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="添加分类">
                            <small class="glyphicon glyphicon-plus-sign"></small>
                        </a>
                    </div>
                    <div style="width:90%">
                        <select class="selectpicker form-control" id="select_major" disabled="disabled"></select>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" id="div_category_list">
            <label class="col-sm-2 control-label"></label>
            <div id="category_list" class="col-sm-10"></div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">手机：</label>
            <div class="col-sm-4">
                <input name="phone" id="phone" class="form-control" value="{$user['phone']}">
            </div>
            <span class="help-block">如果需要师兄师姐联系到你，此项建议填上</span>
        </div>
        <div class="form-group">
            <label for="qq" class="col-sm-2 control-label">QQ ：</label>
            <div class="col-sm-4">
                <input name="qq" id="qq" class="form-control" value="{$user['qq']}">
            </div>
            <span class="help-block">同"手机"项，作为联系你的备选项</span>
        </div>
        <div class="form-group">
            <label for="wechat" class="col-sm-2 control-label">微信：</label>
            <div class="col-sm-4">
                <input name="wechat" id="wechat" class="form-control" value="{$user['wechat']}">
            </div>
            <span class="help-block">同"手机"项，作为联系你的备选项</span>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">回报：</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="price" id="price" value="{$material['title']}"/>
            </div>
        </div>

        <!--{if $setting['code_ask']}-->
        <!--{else}-->
        <div class="form-group">
            <label for="login_code" class="col-sm-2 control-label">验证码：</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="code" name="code" onblur="check_code()">
            </div>
            <div class="col-sm-4">
                <span class="verifycode"><img src="{SITE_URL}user/code" onclick="javascript:updatecode();" id="verifycode"></span>
                <a href="javascript:updatecode();" class="changecode">&nbsp;换一个</a>
                <span id="codetip"></span>
            </div>
        </div>
        <!--{/if}-->

        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8">
                <!--{if $op_type == 'add'}-->
                <button type="submit" class="btn btn-primary col-sm-6" name="submit">提&nbsp;交</button>
                <!--{else}-->
                <button type="submit" class="btn btn-primary col-sm-6" name="submit">保&nbsp;存</button>
                <!--{/if}-->
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
var g_category_num = 0;

<!--{if $op_type == "edit"}-->
var t_category_info;
<!--{loop $category_list $category}-->
t_category_info = {};
t_category_info['category'] = {};
t_category_info['category']['region_id'] = "{$category['region_id']}";
t_category_info['category']['school_id'] = "{$category['school_id']}";
t_category_info['category']['dept_id'] = "{$category['dept_id']}";
t_category_info['category']['major_id'] = "{$category['major_id']}";
t_category_info['show_val'] = fetch_name_by_all("{$category['region_id']}", "{$category['school_id']}", "{$category['dept_id']}", "{$category['major_id']}");
add_category(t_category_info);
<!--{/loop}-->
<!--{/if}-->

$(document).ready(function() {
    $("#title").keyup(function() {
        var pbyte = bytes($.trim($(this).val()));
        var limit = 280 - pbyte;
        if (limit % 2 == 0) {
            $("#title_tip").html((limit / 2));
        } else {
            $("#title_tip").html(((limit + 1) / 2));
        }
    });

    $("#add_category").click(function() {
        var category_info = get_select_category();
        var category = category_info['category'];
        if (!category['region_id']) {
            alert("所添加的分类为空");
            return false;
        }
        add_category(category_info);
    });

    $("body").on('click', '.glyphicon-trash', function() {
        $(this).parent().remove();
    });

    <!--{if $op_type == 'edit'}-->
    $('.glyphicon-trash').click(function() {
        var target = $(this).parent();
        var major_id = $(this).attr("id");

        $.ajax({
          type: "GET",
          url:"{SITE_URL}?material/ajaxrm_material_category/{$mid}/" + major_id,
          cache: false,
          success: function(succeed){
                if (succeed == '-1') {
                    alert("操作失败");
                } else if (succeed == '1') {
                    target.hide();
                }
            }
        });
    });
    <!--{/if}-->
});

function add_category(category_info) {
    var category = category_info['category'];
    var show_val = category_info['show_val'];

    var input_html = "";
    if (category['region_id']) {
        input_html += '<input type="hidden" name="category[' + g_category_num + '][region_id]" value="' + category['region_id'] + '"/>';
    }
    if (category['school_id']) {
        input_html += '<input type="hidden" name="category[' + g_category_num + '][school_id]" value="' + category['school_id'] + '"/>';
    }
    if (category['dept_id']) {
        input_html += '<input type="hidden" name="category[' + g_category_num + '][dept_id]" value="' + category['dept_id'] + '"/>';
    }
    if (category['major_id']) {
        input_html += '<input type="hidden" name="category[' + g_category_num + '][major_id]" value="' + category['major_id'] + '"/>';
    }
    $("#category_list").append("<p>" + show_val + '<a class="glyphicon glyphicon-trash" style="color:grey;cursor:pointer;"></a>' + input_html + "</p>");
    g_category_num += 1;
    clear_select_state();
}

function check_form() {
    var title = $("#title").val();
    if (bytes($.trim(title)) > 280) {
        alert("求助内容不能超过140字！");
        $("#title").focus();
        return false;
    }
    if ($("#price").val().length == 0) {
        alert("您还没有填写回报哦！");
        $("#price").focus();
        return false;
    }
    if ($.trim($("#select_region option:selected").val())) {
        add_category(get_select_category());
    }
    return check_code();
}
</script>
<script src="{SITE_URL}public/js/choose_category.js"></script>
<!--{template footer}--> 
