<!--{template header}-->
<link href="{SITE_URL}public/css/default/forum.css" rel="stylesheet">
<link rel="stylesheet" href="{SITE_URL}public/js/plugin/lightbox/lightbox.css"/>
<script type="text/javascript" src="{SITE_URL}public/js/plugin/lightbox/lightbox.js"></script>
<script type="text/javascript" src="{SITE_URL}public/js/plugin/editor/ueditor.config.js"></script>
<script type="text/javascript" src="{SITE_URL}public/js/plugin/editor/ueditor.all.js"></script> 
<script type="text/javascript" src="{SITE_URL}public/js/forum.js"></script> 
<style type="text/css">
    .answer_num {position: absolute; top: 20px; left: 10px; }
    .msg_content {margin: 0 10px 0 45px !important; padding: 10px; line-height: 26px;}
    .msg_content img {max-width:150px;max-height:150px;}
    .list-group-item {border:0px;background-color:#FCFCFC;}
    .container {width:90%;}

    #description {max-height:100px;max-width:500px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    #description img{max-height:100px;max-width:200px;}
    a:link {color: #0449be;}
    a:visited {color: #653096;}
    a:hover {color: #2d64b3;}
    a:active {}

    .modal-dialog {margin-top:10%;}
</style>

<div style="margin-top:84px;"></div>
<div class="container">
    <div class="col-sm-2"><!--{template forum_left}--></div>
    <div class="col-sm-10">
        <ol class="breadcrumb">
            <li><a href="{SITE_URL}topic/default">匿名爆料</a></li>
            <li class="active">{$topic['title']}</li>
        </ol>

        简介：{$topic['description']}
        <div style="background: url({SITE_URL}public/css/default/forum_editor.jpg) repeat;">
            <div class="msg_content">
                <script type="text/plain" id="content" name="content" style="height: 144px;"></script>
                <script type="text/javascript">UE.getEditor('content', UE.utils.extend({toolbars:[[{$toolbars}]]}));</script>
                <div style="margin-top:15px;">
                    <!--{if $setting['topic_chat_need_code']}-->
                    <span>验证码：</span>
                    <input type="text" class="code-input" id="code" name="code" onblur="check_code()">&nbsp;
                    <img src="{SITE_URL}user/code" onclick="javascript:updatecode();" id="verifycode">
                    <a href="javascript:updatecode();">&nbsp;换一个</a><span id="codetip"></span>
                    <input id="submit_btn" type="button" value="发&nbsp;表" class="btn btn-primary pull-right" style="width:200px;">
                    <!--{else}-->
                    <input id="submit_btn" type="button" value="发&nbsp;表" class="btn btn-primary" style="width:400px;">
                    <!--{/if}-->
                </div>
            </div>
        </div>

        <ul class="list-group">
            <!--{loop $chat_list $chat}-->
            <li class="list-group-item" id="{$topic['id']}">
                <hr style="border-color: #DFE2E6">
                <table style="width:100%;text-align:left;min-height:31px;">
                    <tr>
                        <td width="85%" style="padding-right:20px;">
                            {$chat['content']}
                        </td>
                        <td width="15%">
                            <img src="{SITE_URL}public/images/topic_avatar/{$chat['avatar']}.png" style="width:48px;height:48px;"/>
                            <center><div style="color:grey;"><p>{$chat['format_time']}</p></div></center>
                        </td>
                    </tr>
                </table>
            </li>
            <!--{/loop}-->
            <hr style="border-color: #DFE2E6">
            <center><div class="pages">{$departstr}</div></center>
        </ul>

    </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $("#submit_btn").click(function() {
        var req_data_dict = {};
        req_data_dict['content'] = $.trim(UE.getEditor('content').getPlainTxt());
        req_data_dict['topic_id'] = "{$topic['id']}";

        async_request("{SITE_URL}chat/ajax_add", "post", req_data_dict, function(response) {
            if (response.success) {
                window.location.reload("{SITE_URL}topic/view/{$topic['id']}");

            } else if (response.error == 101) {
                alert("您还未登录");

            } else if (response.error == 102) {
                alert("内容不能为空");

            } else if (response.error == 103) {
                alert("数据库添加失败");

            } else if (response.error == 104) {
                alert("该用户尚未加入该话题，无权回复");
            }
        });
    });

    $("i[id^='join_btn_']").click(function() {
        if (confirm('确认加入该话题?') === false) {
            return false;
        }
        var topic_id = $(this).parents(".list-group-item").attr("id");
        async_request("{SITE_URL}topic/ajax_join", "post", {"topic_id" : topic_id},
                function(response) {
            if (response.success) {
            } else {
                alert("发生未知错误！");
            }
        });
    });
});

</script>
<!--{template footer}-->
