<link href="{SITE_URL}/public/css/default/new-general.css" rel="stylesheet" type="text/css"/>
<link href="{SITE_URL}/public/css/default/new-setting.css" rel="stylesheet" type="text/css"/>

<div class="jumbotron jsk-setting">
    <div class="container">
        <ul class="nav nav-pills" role="tablist">
            <li <!--{if $regular == "/user/default"}-->class="active"<!--{/if}-->>
                <a href="{SITE_URL}/user/default">基本资料</a>
            </li>

            <li <!--{if $regular == "/user/uppass"}-->class="active"<!--{/if}-->>
                <a href="{SITE_URL}/user/uppass">修改密码</a>
            </li>

            <li <!--{if $regular == "/user/resume"}-->class="active"<!--{/if}-->>
                <a href="{SITE_URL}/user/resume">身份认证</a>
            </li>

            <li <!--{if $regular == "/trade/default"}-->class="active"<!--{/if}-->>
                <a href="{SITE_URL}/trade/default">购买历史</a>
            </li>

            <li <!--{if $regular == "/material/provide"}-->class="active"<!--{/if}-->>
                <a href="{SITE_URL}/material/provide">我的资料</a>
            </li>

            <li <!--{if $regular == "/service/register"}-->class="active"<!--{/if}-->>
                <a href="{SITE_URL}/service/register">申请提供服务</a>
            </li>

            <li <!--{if $regular == "/ebank/withdraw"}-->class="active"<!--{/if}-->>
                <a href="{SITE_URL}/ebank/withdraw">余额套现</a>
            </li>

            <li <!--{if $regular == "/message/default"}-->class="active"<!--{/if}-->>
                <a href="{SITE_URL}/message/default">消息中心</a>
            </li>
        </ul>
    </div>
</div>

