<!--{template header}-->
<style type="text/css">
  .photo {position: absolute; top: 20px; left: 10px; }
  .action {position: absolute; right: 50px; bottom: 20px;}
  .list-group-item {min-height: 80px;border:0px;padding: 10px 5px;}
  .mypanel {margin: 0 10px 0 75px !important; padding: 10px; line-height: 26px;}
  .arrow {left:76px;top:40px;position:absolute;}
  .arrow:before,.arrow:after{color:transparent;bottom:100%;border:solid;content:"";height:0;width:0;position:absolute;pointer-events:none}
  .arrow:before{border-color:transparent #e7e7e7 transparent transparent;border-width:6px;left:50%;margin-left:-8px;top:50%;margin-top:-8px}
  .arrow:after{border-color:transparent #fff transparent transparent;border-width:6px;left:50%;margin-left:-6px;top:50%;margin-top:-8px}
</style>

<script type="text/javascript">
$(function(){
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      if (e.target.id == "all_prob") {
        location.href = "{url index/default}";
      } else if (e.target.id == "school") {
        location.href = "{url category/school/master}";
      } else if (e.target.id == "course") {
        location.href = "{url category/course/master}";
      }
    });
    $("#menu_profile").addClass("active");
    $("#birthday").datepicker({
        changeYear: true,
        changeMonth: true,
        yearRange: '-60:+0',
        dateFormat: 'yy-mm-dd'
    });
})
</script>

<div class="container" style="margin-top:23px;">
  <div class="col-sm-9">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#all_prob" id="all_prob" role="tab" data-toggle="tab">全部求助</a></li>
      <li><a href="#school" id="school" role="tab" data-toggle="tab">考研院校</a></li>
      <li class="active"><a href="#course" id="course" role="tab" data-toggle="tab">考研课程</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="all_prob"></div>
      <div class="tab-pane active" id="school">

        <div class="list-group">
          <li class="list-group-item">
            <!--{if $type == "master"}-->
            <!--{template master_course}-->
            <!--{/if}-->
          </li>
        </div> <!-- list-group -->
      </div> <!-- tab-pane -->
    </div><!-- tab-content -->
  </div>
  <div class="col-sm-3">
    <!--{template right_info}-->
  </div><!--col-sm-3-->
</div><!-- container end -->

<div class="modal fade" id="demandModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">附加信息</h4>
      </div>
      <form name="edit_message" action="{SITE_URL}?problem/demand.html" method="post" id="dialog_form">
        <div class="modal-body">
          <input type="hidden" value="" name="dialog_pid" id="dialog_pid"/>
          <input type="text" placeholder="请输入简短的请求信息" class="form-control" name="demand_message" id="demand_message"/>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="确&nbsp;认" />
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
var timer;
$(document).ready(function() {
  $(".prob_demand").click(function() {
    <!--{if $user['uid']}-->
      <!--{if $user['can_teach']}-->
      var pid = $(this).attr("id");
      $("#dialog_pid").val(pid);
      $("#demandModal").modal('show');
      <!--{else}-->
      alert("您还没有获得资格，现在就去填写资料申请吧");
      window.location.href = "{SITE_URL}?user/resume";
      <!--{/if}-->
    <!--{else}-->
      alert("您还未登录，请先登录");
      window.location.href = "{SITE_URL}?user/login";
    <!--{/if}-->
  });

  $(".prob_cancel").click(function(){
    <!--{if $user['uid']}-->
    if (confirm('确定撤销请求?') === false) {
      return false;
    }
    var supportobj = $(this);
    var pid = $(this).attr("id");
    $.ajax({
      type: "GET",
      url:"{SITE_URL}?problem/ajaxcancel/" + pid,
      cache: false,
      success: function(succeed){
        if (succeed == '-1') {
          alert("您还未登录，请先登录");
          window.location.href = "{SITE_URL}?user/login";

        } else if (succeed == '0') {
          alert("操作失败，请刷新页面重试");

        } else if (succeed == '1') {
          supportobj.html("我要帮忙");

        } else if (succeed == '2') {
          alert("您还没有发出过申请!");
        }
      }
    });
    <!--{else}-->
    alert("您还未登录，请先登录");
    window.location.href = "{SITE_URL}?user/login";
    <!--{/if}-->
  });
});

</script>
<!--{template footer}-->
