</div> <!-- END OF main-content -->
</div> <!-- END OF fixed_wrapper -->

<div id="footer">
    <div>
        <p>Copyright &copy; 2014 {$setting['site_name']}&nbsp;|&nbsp;<span>QQ群: 32480019</span> - <a href="http://www.miitbeian.gov.cn" target="_blank">&nbsp;京ICP备14035508号&nbsp;</a></p>
    </div>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ac1419689aa1e8e8f326ada97caeb69d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>
