<!--{template header}-->
<link rel="stylesheet" href="{SITE_URL}public/js/lightbox/lightbox.css"/>
<script type="text/javascript" src="{SITE_URL}public/js/lightbox/lightbox.js"></script>
<script type="text/javascript" src="{SITE_URL}public/js/editor/ueditor.config.js"></script> 
<script type="text/javascript" src="{SITE_URL}public/js/editor/ueditor.all.js"></script> 
<style type="text/css">
    .answer_num {position: absolute; top: 20px; left: 10px; }
    .msg_content {margin: 0 10px 0 45px !important; padding: 10px; line-height: 26px;}
    .msg_content img {max-width:150px;max-height:150px;}
</style>

<script type="text/javascript">
$(function(){
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      if (e.target.id == "all_prob") {
        location.href = "{url index/default}";
      } else if (e.target.id == "forum") {
        location.href = "{url forum/view}";
      } else if (e.target.id == "material") {
        location.href = "{url material/categorylist}";
      } 
    });
    $("#menu_profile").addClass("active");
    $("#birthday").datepicker({
        changeYear: true,
        changeMonth: true,
        yearRange: '-60:+0',
        dateFormat: 'yy-mm-dd'
    });
})
</script>

<div class="container" style="margin-top:23px;">
  <div class="col-sm-11">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="#all_prob" id="all_prob" role="tab" data-toggle="tab">找人辅导</a></li>
      <li><a href="#material" id="material" role="tab" data-toggle="tab">考研资料</a></li>
      <li class="active"><a href="#forum" id="forum" role="tab" data-toggle="tab">考研帮</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="all_prob"></div>
      <div class="tab-pane active" id="forum">
        <ul class="list-group">
          <!--{loop $questionlist $question}-->
          <li class="list-group-item">
            <div class="answer_num" style="max-width:60px;">
              <span class="badge alert-info">{$question['answers']}</span>
            </div>
            <div class="msg_content">
              <a href="{url question/view/$question['qid']}">{$question['title']}</a>
              <div style="font-size:12px !important;">{$question['description']}</div>
              <div style="position:absolute;right:20px;bottom:5px;font-size:12px;color:grey;">
                <span>{$question['format_time']}</span>
              </div>
            </div>
          </li>
          <!--{/loop}-->
        </ul>
        <center><div class="pages">{$departstr}</div></center>

        <div style="background: url({SITE_URL}public/css/default/forum_editor.jpg) repeat;">
          <div style="padding:10px;">
            共有贴子<span style="color:red">{$question_num}</span>篇，考研小伙伴<span style="color:red">{$user_num}</span>枚
          </div>
          <form name="questionform" action="{url question/add}" method="POST" onsubmit="return check_form();">
            <div class="msg_content">
              <div id="question_title" style="margin-bottom:15px;">
                <div id="limit_num" class="pull-right">还可输入<span style="color:red">40</span>字</div>
                <input type="text" class="form-control" placeholder="请输入主题" name="title" id="title"/>
              </div>
              <script type="text/plain" id="content" name="content" style="height: 122px;"></script>
              <script type="text/javascript">UE.getEditor('content', UE.utils.extend({toolbars:[[{$toolbars}]]}));</script>
              <div style="margin-top:15px;">
                <span>验证码：</span>
                <input type="text" class="code-input" id="code" name="code" onblur="check_code()">&nbsp;
                <img src="{url user/code}" onclick="javascript:updatecode();" id="verifycode">
                <a href="javascript:updatecode();">&nbsp;换一个</a><span id="codetip"></span>
                <input type="submit" value="发&nbsp;表" class="btn btn-primary pull-right" name="submit">
              </div>
            </div>
          </form>
        </div>
      </div> <!-- tab-pane -->
    </div><!-- tab-content -->
  </div>
  <div class="col-sm-3"></div><!--col-sm-3-->
</div><!-- container end -->

<script type="text/javascript">
$(document).ready(function() {
    $(".msg_content img").each(function(i) {
        var img = $(this);
        $.ajax({
            type: "POST",
            url: "{SITE_URL}index.php?index/ajaxchkimg",
            async: true,
            data: "imgsrc=" + img.attr("src"),
            success: function(status) {
                if ('1' == status) {
                    img.wrap("<a href='" + img.attr("src") + "' title='" + img.attr("title") + "' data-lightbox='comment'></a>");
                }
            }
        });
    }); 

    $("#title").keyup(function() {
        var title = $(this).val();
        var chars_num = 0;
        for (var i = 0; i < title.length; ++i) {
            if (title.charCodeAt(i) > 255) {
                chars_num += 2;
            } else {
                ++chars_num;
            }

            if (chars_num > 80) {
                title = title.substr(0, i);
                $(this).val(title);
                $("#limit_num span").html(0);
                return false;
            }
        }
        $("#limit_num span").html(Math.floor((80 - chars_num)/2));
    });
});

function check_form() {
    <!--{if empty($user['uid'])}-->
    alert("您还未登录，请先登录");
    window.location.href = "{SITE_URL}?user/login";
    return false;
    <!--{/if}-->
    if ($.trim($("#title").val()) == '') {
        alert("请输入主题!");
        return false;
    }
    /*
    if ($.trim(UE.getEditor('content').getPlainTxt()) == '') {
        alert("内容不能为空!");
        return false;
    }
    */
    return check_code();
}
</script>
<!--{template footer}-->
