<!DOCTYPE html>
  <!--{eval
  $user = $this->user;
  $setting = $this->setting;
  $regular = $this->regular;
  $toolbars="'".str_replace(",", "','", $setting['editor_toolbars'])."'";
  }-->

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset={WEB_CHARSET}"/>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><!--{if $navtitle}-->{$navtitle} - <!--{/if}-->{$setting['site_name']}</title>
    <meta name="description" content="找名校学生做家教，找兼职" />
    <meta name="author" content="{$setting['site_name']}">
    <link rel="stylesheet" type="text/css" href="public/js/jquery-ui/jquery-ui.css" />
    <link rel="shortcut icon" href="public/images/icon.png" />
    <link href="public/css/plugin/font-awesome.min.css" rel="stylesheet">
    <link href="public/js/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/default/common.css" rel="stylesheet">

    <script src="public/js/plugin/jquery.min.js"></script>
    <script src="public/js/plugin/jquery-ui/jquery-ui.min.js"></script>
    <script src="public/js/plugin/bootstrap/js/bootstrap.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="mobile_menu">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{SITE_URL}"><i class="glyphicon glyphicon-home"></i> &nbsp;首页</a></li>
        <li><a href="index/tutor"><i class="glyphicon glyphicon-briefcase"></i> &nbsp;找辅导</a></li>
        <li><a href="material/categorylist"><i class="glyphicon glyphicon-bullhorn"></i> &nbsp;资料区</a></li>
        <li><a href="forum/view"><i class="glyphicon glyphicon-calendar"></i> &nbsp;交流区</a></li>
        <li><a href="index/help"><i class="glyphicon glyphicon-phone-alt"></i> &nbsp;帮助</a></li>
    </ul>
</div>
<div class="container_wapper">
    <div id="nav_menu">
        <div class="container-fluid">
            <div class="col-xs-3 nav_menu_logo">
                <a rel="nofollow" href="{SITE_URL}">
                    <!-- <img src="public/images/logo.png" id="logo_img" alt="dragonfruit free html5 template" /> -->
                	<h1 id="logo_text">boost<span>me</span></h1>
                </a>
            </div>
            <div class="col-sm-9 hidden-xs">
                <!-- <ul class="nav nav-justified"> -->
                <div class="col-sm-8">
                    <ul class="nav nav-justified" id="nav_menu_link">
                        <li <!--{if $regular == "index/default"}-->class="menu_link_on"<!--{/if}-->>
                            <a href="{SITE_URL}">首页</a>
                        </li>

                        <li <!--{if $regular == "index/tutor"}-->class="menu_link_on"<!--{/if}-->>
                            <a href="index/tutor">找辅导</a>
                        </li>

                        <li <!--{if $regular == "material/categorylist"}-->class="menu_link_on"<!--{/if}-->>
                            <a href="material/categorylist">资料区</a>
                        </li>

                        <li <!--{if $regular == "forum/view"}-->class="menu_link_on"<!--{/if}-->>
                            <a href="forum/view">交流区</a>
                        </li>

                        <li <!--{if $regular == "index/help"}-->class="menu_link_on"<!--{/if}-->>
                            <a href="index/help">帮助</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4" id="nav_menu_right">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="user-tip" id="user-tip" data-toggle="popover" data-placement="bottom" data-container="#user-tip" data-html="true" data-content="<div class='nav-user-basic'><a class='home' href=''>个人主页</a><span class='coin'>财富值：65</span></div>">
                                <span onclick="gotoFun(13552)">张健</span>
                                <span class="badge" id="msg-alert"></span>
                            </a>
                        </li>
                        <li><a href="#" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="消息"><i class="fa fa-comments-o"></i></a></li>
                        <li><a href="#" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="退出"><i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-9 visible-xs">
                <a href="#" id="mobile_menu"><span class="glyphicon glyphicon-th-list"></span></a>
           </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function(){
    $('.tip').tooltip({animation:true, trigger:'hover'});
});
</script>
