<!--{template header}-->
<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-9" role="main">
        	<div class="bs-docs-section">
				<h1 id="how_to_user_Boostme" class="page-header">如何使用Boostme</h1>
	  			<p class="lead">我们提醒您注意，您需要注册并登陆，才能享受我们的完整服务进行各项操作，否则您只有部分浏览的权限。</p>
		  	</div>
            <div class="bs-docs-section">
  				<h1 class="page-header">咨询区</h1>
                <h2> 致各位考研学子：</h2>
                <p>1、 寻找师兄师姐咨询：关于各位对于复试相关事宜（譬如复试时笔试内容、面试时常见的导师提问），如有任何疑虑，都可以在筛选框进行选择，譬如：您可以选择“北京”→“清华大学”→“化学系”→“化学”，然后便会出现清华大学化学系相关师兄师姐，点击其中一个进行付款，付款后您便可以获取师兄师姐的联系方式，这样您就可以尽情地咨询啦！</p>
                <p>2、 评分机制：亲，咨询服务后，请您不要忘了对师兄师姐提供的咨询服务进行打分哦！这样不仅能保证您的权益，同时还能让我们为大家提供越来越优质的咨询服务！</p>

                <h2>致研究生师兄师姐们：</h2>
                <p>1、 提供咨询服务：各位研究生师兄师姐们是否想在闲暇时分赚一些外快呢？那就快来Boostme填写您所能提供到的帮助吧！您只要接一个电话就能帮助到苦恼中的广大考研学子！</p>
                <p>2、 邀请机制（这是一个对师兄师姐来说不容错过的赚钱方式）：只要您的“提供咨询”申请通过了我们的审核，便可获得3个邀请码，您可以将这三个邀请码发给您的同学，只要他们提供了相应的咨询服务，您便可获得额外的收益哦！（受邀者前三次提供的服务您都可以分红哦！）</p>
                <h2>关于研究生师兄师姐如何套现？</h2>
                <p>首先，进入自己的主页，进入“余额套现”区，点击“认证”认证你的支付宝账号吧，只需提交1分钱的认证费，即可马上对您的支付宝进行认证(您需要再次登录支付宝确认收货哦！)。您可以通过认证后的账号对您所赚的资金进行套现，我们会在每周六晚对您的套现申请进行集体办理！</p>
			</div>

          	<div class="bs-docs-section">
  				<h1 id="invite_user" class="page-header">邀请用户</h1>
                <p class="lead">{$setting['site_name']}鼓励大家邀请研究生大牛们来注册,邀请别人来提供咨询是有现金奖励的哦！</p>
				<code>什么是邀请码？</code><br/>
                <p>邀请码是系统赠送给提供咨询的用户的一个唯一的编号，用户使用此编号可以邀请身边的同学来注册。注册的同学成功使用该邀请码，则视邀请码拥有者成功邀请一人</p>

				<code>什么是现金反馈？</code><br/>
                <p>用户使用Boostme邀请码成功邀请一个用户，如果被邀请的用户在Boostme上提供咨询，则每成功服务一考研同学，邀请者将获得现金奖励。</p>
                <p>用户每成功邀请一个用户，且该用户提供了咨询服务，则邀请者将获得3次收入现金奖励的机会</p>

                <p>以成功提供咨询给用户，扣除支付宝手续费后，系统进账100元为例，各方获取收入如下表所示：</p>

				<h2 id="increase_score" class="page-header">现金奖励(以进账100元为例):</h2>
				<table class="table table-bordered">
                    <tr><th>被服务者打分</th><th>被邀请者</th><th>邀请者</th><th>说明</th></th>
					<tr><td>5.0</td>
						<td>100</td>
						<td>奖励2个邀请码，不扣除奖励次数</td>
						<td>被邀请者收入=(5.0/5) * 100，邀请者在服务打满分时获取邀请码的奖励</td>
					</tr>
					<tr><td>4.5</td>
						<td>90</td>
						<td>奖励8元，扣除奖励次数1次</td>
						<td>被邀请者收入=(4.5/5)*100，邀请者收入=(4.5-2.5)/2.5*100*10%</td>
					</tr>
					<tr><td>4.0</td>
						<td>80</td>
						<td>奖励6元，扣除奖励次数1次</td>
						<td>被邀请者收入=(4.0/5)*100，邀请者收入=(4.0-2.5)/2.5*100*10%</td>
					</tr>
					<tr><td>3.5</td>
						<td>70</td>
						<td>奖励4元，扣除奖励次数1次</td>
						<td>被邀请者收入=(3.5/5)*100，邀请者收入=(3.5-2.5)/2.5*100*10%</td>
					</tr>
					<tr><td>3.0</td>
						<td>60</td>
						<td>奖励2元，扣除奖励次数1次</td>
						<td>被邀请者收入=(3.0/5)*100，邀请者收入=(3.0-2.5)/2.5*100*10%</td>
					</tr>
					<tr><td><3.0</td>
						<td>0</td>
						<td>0</td>
						<td>被服务者有资格邀请管理员重新安排一次服务</td>
					</tr>
				</table>
			</div>
			<div class="bs-docs-section">
  				<h1 id="material_region" class="page-header">资料区</h1>
                <h2>1、下载资料：</h2>
                <p>按照您心仪院校的地区、名称、学院、专业进行搜索，这样就可以找到您心仪的资料了。如果还没有师兄师姐上传相应的资料，您可以去交流区发帖请求师兄师姐上传心仪的资料</p>

                <h2>2、上传资料：</h2>
                <p>如果您拥有珍贵的考研资料，您可以上传到资料区，并对该资料进行定价。好资料，大家齐分享！</p>

                <h2>3、收藏资料：</h2>
                <p>特别心仪清华大学建筑学专业？快快收藏吧！点击添加按钮将它添加到“快捷入口”就可以啦！</p>

                <h2>4、注意事项：</h2>
                <p>考研资料非常珍贵，师兄师姐也是自己花钱购买的，所以在分享资料时我们给予了他们充分的自主定价权，希望大家理解并支持。当然，我们保证定价处于合理区间，Boostme会严格审查每一份上传资料，请大家放心！</p>
			</div>

			<div class="bs-docs-section">
  				<h1 id="problem_region" class="page-header">辅导区</h1>
                <h2>1、找辅导：</h2>
                <p>各位考研研友们，还在为微积分、英语阅读、专业课疑难点而烦恼吗？快来“辅导区”发布您的求助吧，填写详细信息，并附上联系方式和相应的时薪，等着师兄师姐来抢单吧！</p>

                <h2>2、提供辅导：</h2>
                <p>考研不易，师弟师妹遇到困难啦！大神们，快来帮助师弟师妹吧！Boostme将为大家提供一个尽情展示专业知识的平台。快来注册认证吧！</p>

                <h2>3、注意事项：</h2>
                <p>师兄师姐平时也很忙碌的，提供辅导也需要一点点报酬啦，当然，这个都交由你们自己商量。</p>
  			</div>
        </div>
    </div>
</div>
<!--{template footer}-->
