<!--{template header}-->
<link href="{SITE_URL}/public/css/default/material.css" rel="stylesheet">
<link href="{SITE_URL}/public/css/boostme/search_form.css" rel="stylesheet">
<link href="{SITE_URL}/public/css/boostme/material.css" rel="stylesheet">

<style type="text/css">
.images img {max-width:200px;max-height:150px;}
</style>

<section class="container">
    <ol class="breadcrumb row">
        <li><a href="{SITE_URL}/material/default">考研资料</a></li>
        <!--{if $type == "major"}-->
        <li class="active">专业课</li>
        <!--{elseif $type == "math"}-->
        <li class="active">数学</li>
        <!--{elseif $type == "english"}-->
        <li class="active">英语</li>
        <!--{elseif $type == "politics"}-->
        <li class="active">政治</li>
        <!--{/if}-->
    </ol>
    <!--{if $type == "major"}-->
    <div class="row">
        <h3>资料类别
        <div class="col-sm-10 pull-right">
            <select class="selectpicker" id="select_region"><option value=''>地区</option></select>
            <select class="selectpicker" id="select_school"><option value=''>学校</option></select>
            <select class="selectpicker" id="select_dept"><option value=''>院系</option></select>
            <select class="selectpicker" id="select_major"><option value=''>专业</option></select>
            <a id="add_easy_access" href="#" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="添加到快捷入口">
                <small class="glyphicon glyphicon-plus-sign"></small>
            </a>
        </div>
        </h3>
    </div>
    <!--{/if}-->
    <div class="row">
        <div class="row">
            <ul class="list-group setting-content">
            <div id="board_show"></div>
        </div>
        <div class="col-sm-6 col-sm-push-3 col-md-4 col-md-push-4">
            <p><a id="more" class="btn-load-more btn btn-primary btn-lg btn-block"><i class="fa fa-th"></i>  更多资料</a></p>
        </div>
    </div>
</section>

<script type="text/template" id="material_category_list_template">
<% _.each(material_list, function(material) { %>
<li class="list-group-item col-sm-11 col-md-11" id="<%= material['id'] %>" style="min-height:160px;">
<div class="col-sm-10 com-md-10">
    <dt>
        <a href="{SITE_URL}/material/view?id=<%= material["id"] %>" target="_blank" class="bm_link">
            <h4 class="bm_highlight"><%= start %>. <%= material["title"] %></h4>
            <% start += 1; %>
        </a>
    </dt>
    <dd>
        <p><%= material["desc_content"] %></p>
        <% if (material['desc_images'].length > 0) { %>
        <div class="images">
            <% _.each(material['desc_images'], function(image) { %>
                <%= image %>
            <% }) %>
        </div>
        <% } %>
        <p class="bm_item_foot">
            <small>
                <span style="color:#218868;">{SITE_URL}/material/view?id=<%= material["id"] %></span> |
                <span><%= material['format_time'] %></span>
            </small>
        </p>
    </dd>
</div>
<div class="col-sm-2 col-md-2 pull-right">
    <img class="bm_wh_140" src="<%= material['picture'] %>"/>
</div>
</li>
<%})%>
</script>

<script type="text/javascript">
var g_region_id = "{$region_id}";
var g_school_id = "{$school_id}";
var g_dept_id = "{$dept_id}";
var g_major_id = "{$major_id}";
var g_view_page_num = 0;
var g_easy_access_type = "material";
var g_easy_access_cnt = 0;
var g_material_type = "{$type}";
</script>

<link href="{SITE_URL}/public/js/plugin/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
<script src="{SITE_URL}/public/js/plugin/bootstrap-select/js/bootstrap-select.min.js"></script>

<script src="{SITE_URL}/public/js/boostme/category.js"></script>
<script src="{SITE_URL}/public/js/boostme/material.js"></script>
<!--{template footer}-->
