<!--{template header}-->
<style type="text/css">
  .photo {position: absolute; top: 20px; left: 10px; }
  .action {position: absolute; right: 50px; bottom: 20px;}
  .list-group-item {min-height: 80px;padding: 10px 5px;}
  .mypanel {margin: 0 10px 0 75px !important; padding: 10px; line-height: 26px;}
  .arrow {left:76px;top:40px;position:absolute;}
  .arrow:before,.arrow:after{color:transparent;bottom:100%;border:solid;content:"";height:0;width:0;position:absolute;pointer-events:none}
  .arrow:before{border-color:transparent #e7e7e7 transparent transparent;border-width:6px;left:50%;margin-left:-8px;top:50%;margin-top:-8px}
  .arrow:after{border-color:transparent #fff transparent transparent;border-width:6px;left:50%;margin-left:-6px;top:50%;margin-top:-8px}
</style>

<script type="text/javascript">
$(function(){
    var school_id = m_major_dict['{$cid}']['school'];
    $(".breadcrumb").append("<li><a href=\"{SITE_URL}?material/categorylist/" + school_id + "\">" + m_school_dict[school_id]['name'] + "</a></li>");
    $(".breadcrumb").append("<li class=\"active\">" + m_major_dict['{$cid}']['name'] + "</li>");
})
</script>

<div class="container">
  <ol class="breadcrumb">
    <li><a href="{SITE_URL}">首页</a></li>
    <li><a href="{SITE_URL}?material/categorylist">考研资料</a></li>
  </ol>

  <div id="test_school"></div>

  <div class="col-sm-9">
    <div class="tab-content">
      <div class="tab-pane active" id="all_prob">
          <!--{if count($material_list) == 0}-->
          <h5>暂没有相关资料，如果您需要相关资料，可以在系统中登记</h5>

          <!--{else}-->

          <!--{eval $m_num = count($material_list);}-->
          <!--{eval $index_list = range(0, $m_num);}-->
          <!--{eval array_pop($index_list);}-->
          <table class="table">
            <!--{loop $index_list $index}-->
              <!--{if $index % 3 == 0}--><tr><!--{/if}-->
                <td width="33%" height="250px;" style="padding:20px;">
                  <!--{eval $mid = $material_list[$index]['id'];}-->
                  <p style="font-size:14px"><a href="{url material/view/$mid}">{$material_list[$index]['title']}</a></p>
                  <div>
                    <a href="{url material/view/$mid}"><img src="{$material_list[$index]['picture']}" style="max-width:90%;max-height:90%;"></a>
                  </div>
                </td>
              <!--{if $index % 3 == 2}--></tr><!--{/if}-->
            <!--{/loop}-->

            <!--{if $m_num % 3 == 1}-->
            <td width=""></td><td width=""></td></tr>
            <!--{elseif $m_num % 3 == 2}-->
            <td></td></tr>
            <!--{/if}-->
          </table>

        <!--{/if}-->

        <!--
        <div class="list-group">
          <!--{loop $material_list $material}-->
          <div id="{$material['id']}" class="list-group-item">
            <p style="font-size:14px"><a href="{url material/view/$material['id']}">{$material['title']}</a></p>
            <img src="{$material['picture']}" style="left:-100px;max-width:30%;max-height:200px;">
          </div>   
          <!--{/loop}-->
          <!--{/if}-->
        </div>
        -->

        <center><ul class="pagination">{$departstr}</ul></center>
      </div> <!-- tab-pane -->
    </div><!-- tab-content -->
  </div>
  <div class="col-sm-3">
    <ul class="list-group" style="font-size:13px;">
      <li class="list-group-item" style="border:0px;">
        <div class="panel panel-success">
          <div class="panel-heading">我有资料</div>
          <div class="panel-body">
            <p>有Boostme没有的资料，这份资料非常珍贵？</p>
            <p>这就在Boostme上申请发布你的资料吧</p>
            <a href="{url material/add}">申请</a>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">我要资料</div>
          <div class="panel-body">
            <p>没有找到你想要的资料，这就登记吧！<a data-toggle="modal" id="reg_material" data-target="#reg_materialModal">开始登记</a>
            <!-- <a href="{url material/reg}">开始登记</a></p> -->
          </div>
        </div>
      </li>
    </ul>
    <span style="color:blue;">可以通过QQ群：32480019联系我们</span>
  </div><!--col-sm-3-->
</div><!-- container end -->

<div class="modal fade" id="reg_materialModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">填写您想要的资料信息</h4>
      </div>
      <form name="reg_form" action="{SITE_URL}?material/reg.html" method="post" id="reg_dialog">
        <div class="modal-body" id="reg_body">
          <p>详细描述您的资料需求，我们会尽最大努力帮你找到这份资料</p>
          <textarea class="form-control" name="description" id="reg_desc" rows="5" required></textarea>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" id="submit_reg" name="submit" value="提&nbsp;交" />
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
var timer;
$(document).ready(function() {
  $(".prob_demand").click(function() {
    <!--{if $user['uid']}-->
      <!--{if $user['can_teach']}-->
      var pid = $(this).attr("id");
      $("#dialog_pid").val(pid);
      $("#demandModal").modal('show');
      <!--{else}-->
      alert("您还没有获得资格，现在就去填写资料申请吧");
      window.location.href = "{SITE_URL}?user/resume";
      <!--{/if}-->
    <!--{else}-->
      alert("您还未登录，请先登录");
      window.location.href = "{SITE_URL}?user/login";
    <!--{/if}-->
  });

  $(".prob_cancel").click(function(){
    <!--{if $user['uid']}-->
    if (confirm('确定撤销请求?') === false) {
      return false;
    }
    var supportobj = $(this);
    var pid = $(this).attr("id");
    $.ajax({
      type: "GET",
      url:"{SITE_URL}?problem/ajaxcancel/" + pid,
      cache: false,
      success: function(succeed){
        if (succeed == '-1') {
          alert("您还未登录，请先登录");
          window.location.href = "{SITE_URL}?user/login";

        } else if (succeed == '0') {
          alert("操作失败，请刷新页面重试");

        } else if (succeed == '1') {
          supportobj.html("我要帮忙");

        } else if (succeed == '2') {
          alert("您还没有发出过申请!");
        }
      }
    });
    <!--{else}-->
    alert("您还未登录，请先登录");
    window.location.href = "{SITE_URL}?user/login";
    <!--{/if}-->
  });
});

</script>

<script type="text/javascript" src="{SITE_URL}public/js/school_info_list.js"></script> 
<!--{template footer}-->
