<!--{template header}-->
<!--{template common_link}-->

<style type="text/css">
    .bm_rpadding_10 a:link, .bm_rpadding_10 a:hover, .bm_rpadding_10 a:visited, .bm_rpadding_10 a:active {color:black; text-decoration: none;}
</style>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-group col-md-10 col-sm-10 setting-content">
            <!--{if $page == 1}-->
            <li class="list-group-item" id="{$system_message['mid']}">
                <table class="bm_table_style">
                    <tr>
                        <td width="14%"><center><strong>系统消息</strong></center></td>
                        <td width="3%">
                            <!--{if $user['new_system_msg'] > 0}-->
                            <i class="fa fa-envelope bm_envelope_unread"></i>
                            <!--{/if}-->
                        </td>
                        <td width="67%" class="bm_rpadding_10">
                            <a href="{SITE_URL}/message/system">{$system_message['subject']}</a>
                        </td>
                        <td width="17%"><span>{eval echo tdate($system_message['time'])}</span></td>
                    </tr>
                </table>
            </li>
            <!--{/if}-->
            <!--{loop $personal_message_list $message}-->
            <li class="list-group-item" id="{$message['fromuid']}">
                <table class="bm_table_style">
                    <tr>
                        <td width="14%">
                            <center>
                                <img width="60" height="60" src="{echo get_avatar_dir($message['fromuid'])}" class="img-circle"/>
                                <p><small>{$message['from']}</small></p>
                            </center>
                        </td>
                        <td width="3%">
                            <!--{if $message['tot_new_msg'] > 0}-->
                            <i class="fa fa-envelope bm_envelope_unread"> {$question['answers']}</i>
                            <!--{/if}-->
                        </td>
                        <td width="67%" class="bm_rpadding_10">
                            <a href="{SITE_URL}/message/personal?uid={$message['fromuid']}">{echo strip_tags($message['content'])}</a>
                        </td>
                        <td width="14%">
                            <span>{eval echo tdate($message['time'])}</span>
                        </td>
                        <td width="3%">
                            <a type="button" class="glyphicon glyphicon-trash" style="color:grey;cursor:pointer;"></a>
                        </td>
                    </tr>
                </table>
            </li>
            <!--{/loop}-->
            <center><div class="split_page">{$departstr}</div></center>
            </ul>
        </div>
    </div>
</div>
<script src="{SITE_URL}/public/js/boostme/message.js"></script>
<!--{template footer}-->
