<!--{template header}-->
<link href="{SITE_URL}/public/css/default/service.css" rel="stylesheet">

<header id="top-header" class="top-header jumbotron" style="background-image: url(/public/images/index/banner_slide_01.jpg);">
    <div class="container">
            <div class="col-md-8">
                <h2>选学校，挑专业，一头雾水？</h2>
                <h2>进复试，找老师，寻路无门？</h2>
                <h3> —— 快来咨询师兄师姐吧！</h3>
                <div class="features media">
                    <h5 class="media-left">快捷入口：</h5>
                    <div class="media-body" id="easy_access_list"></div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm hidden-xs">
                <div class="activities-wrap">
                    <div class="activities">
                        <h2>提供咨询服务<i class="fa fa-star"></i></h2>
                        <p>高校在读研究生，想要提供咨询服务？现在就登记吧！</p>
                        <p class="text-center">
                            <a class="btn btn-default btn-sm" target="_blank" href="{SITE_URL}/service/register">提供咨询</a>
                            <!-- <a class="btn btn-default btn-sm" href="{SITE_URL}service/add">上传资料</a> -->
                        </p>
                    </div>
                </div>
            </div>
    </div>
</header>

<section class="newest-jobs container">
    <div class="page-header">
        <h3>师兄师姐
            <div class="col-sm-10 pull-right">
                <select class="selectpicker col-sm-2" id="select_region"><option value=''>地区</option></select>
                <select class="selectpicker col-sm-3" id="select_school"><option value=''>学校</option></select>
                <select class="selectpicker col-sm-3" id="select_dept"><option value=''>院系</option></select>
                <select class="selectpicker col-sm-3" id="select_major"><option value=''>专业</option></select>
                <a id="add_easy_access" href="#" data-toggle="tooltip" class="tip" data-placement="bottom" data-original-title="添加到快捷入口">
                    <small class="glyphicon glyphicon-plus-sign"></small>
                </a>
            </div>
        </h3>
    </div>
</section>

<section class="job-list">
    <div class="container">
        <div class="row" id="board_show"></div>
        <div class="col-sm-6 col-sm-push-3 col-md-4 col-md-push-4">
            <p><a id="more" class="btn-load-more btn btn-primary btn-lg btn-block"><i class="fa fa-th"></i>  查看更多</a></p>
        </div>
    </div>
</section>

<script type="text/javascript">
var g_region_id = "{$region_id}";
var g_school_id = "{$school_id}";
var g_dept_id = "{$dept_id}";
var g_major_id = "{$major_id}";
var g_view_page_num = 0;
var g_easy_access_type = "service";
var g_easy_access_cnt = 0;
</script>

<link href="{SITE_URL}/public/js/plugin/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
<script src="{SITE_URL}/public/js/plugin/bootstrap-select/js/bootstrap-select.min.js"></script>

<script src="{SITE_URL}/public/js/boostme/category.js"></script>
<script src="{SITE_URL}/public/js/boostme/service.js"></script>
<!--{template footer}-->
