<!--{template header}-->
<link href="{SITE_URL}public/css/default/forum.css" rel="stylesheet">
<link rel="stylesheet" href="{SITE_URL}public/js/plugin/lightbox/lightbox.css"/>

<script type="text/javascript" src="{SITE_URL}public/js/plugin/lightbox/lightbox.js"></script>
<script type="text/javascript" src="{SITE_URL}public/js/plugin/editor/ueditor.config.js"></script> 
<script type="text/javascript" src="{SITE_URL}public/js/plugin/editor/ueditor.all.js"></script> 
<script type="text/javascript" src="{SITE_URL}public/js/forum.js"></script> 
<style type="text/css">
    .answer_num {position: absolute; top: 20px; left: 10px; }
    .msg_content {margin: 0 10px 0 45px !important; padding: 10px; line-height: 26px;}
    .msg_content img {max-width:150px;max-height:150px;}
    .list-group-item {border:0px;background-color:#FCFCFC;}
    .container {width:90%;}

    #description {max-height:100px;max-width:500px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    #description img{max-height:100px;max-width:200px;}
    a:link {color: #0449be;}
    a:visited {color: #653096;}
    a:hover {color: #2d64b3;}
    a:active {}

    .modal-dialog {margin-top:10%;}
</style>

<div style="margin-top:84px;"></div>
<div class="container">
    <div class="col-sm-2"><!--{template forum_left}--></div>
    <div class="col-sm-10">
        <a id="create_topic" type="button" class="btn btn-link" data-toggle="modal"
                data-target="#createTopicModal" style="text-decoration:none;"/>+ 创建新话题</a>
        <ul class="list-group">
            <!--{loop $topic_list $topic}-->
            <li class="list-group-item" id="{$topic['id']}">
                <table style="width:100%;text-align:left;min-height:31px;">
                    <tr>
                        <td width="60%">
                            <!-- 
                            主题：<a href="{SITE_URL}topic/view/{$topic['id']}">{$topic['title']}</a>
                            -->
                            主题：<span id="title_{$topic['id']}">{$topic['title']}</span>

                            <div>简介：{$topic['description']}</div>
                        </td>
                        <td width="10%">
                            <p><i id="join_btn_{$topic['id']}" class="fa fa-plus" style="cursor: pointer;">加入</i></p>
                        </td>
                        <td width="15%" id="num_show_{$topic['id']}">
                            <p><i class="fa fa-comments-o"> {$topic['chat_num']}</i></p>
                            <p><i class="fa fa-user"> {$topic['members']}/1000</i></p>
                        </td>
                        <td width="15%">
                            <div style="color:grey;">
                                <p>最近更新：{$topic['format_last_time']}</p>
                                <p>创建时间：{$topic['format_time']}</p>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr style="border-color: #DFE2E6">
            </li>
            <!--{/loop}-->
            <center><div class="pages">{$departstr}</div></center>
        </ul>
    </div>
</div>

<div class="modal fade" id="createTopicModal" tabindex="-1" role="dialog" 
    aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:65536">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">创建新话题</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="title" class="col-sm-2 control-label">主题：</label>
                        <div class="col-sm-10">
                            <input type="text" name="title" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">简介：</label>
                        <div class="col-sm-10">
                            <textarea name="description" maxlength="140" class="form-control"
                                style="height:130px;padding:5px;"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input id="createTopicSubmitBtn" type="button" class="btn btn-primary" value="提交更改"/>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

<script type="text/javascript">
$(document).ready(function() {
    $("#createTopicSubmitBtn").click(function() {
        var title = $.trim($("input[name='title']").val());
        var description = $.trim($("textarea[name='description']").val());

        var req_data_dict = {};
        req_data_dict['title'] = title;
        req_data_dict['description'] = description;

        async_request("{SITE_URL}topic/ajax_add", "post", req_data_dict, function(response) {
            if (response.success) {
                $("#createTopicModal").modal("hide");
                alert("创建成功");
                window.location.reload("{SITE_URL}topic/default");

            } else if (response.error == 101) {
                window.location.href = "{SITE_URL}user/login";

            } else if (response.error == 102) {
                alert("服务器添加失败，请重试！");

            } else if (response.error == 103) {
                alert("新话题主题不能为空！");
            }
        });
    });

    $("i[id^='join_btn_']").click(function() {
        if (confirm('确认加入该话题?') === false) {
            return false;
        }
        var topic_id = $(this).parents(".list-group-item").attr("id");
        async_request("{SITE_URL}topic/ajax_join", "post", {"topic_id" : topic_id},
                function(response) {
            if (response.success) {
                alert("加入成功！");
                var join_html = "<p class='text-success'>已加入</p>";
                $("#" + topic_id).find("i[id^='join_btn']").parent().html(join_html);

                var title_target = $("#title_" + topic_id);
                var title = title_target.html();
                var link_title = "<a href='{SITE_URL}topic/view/" + topic_id + "'>" + title + "</a>";
                title_target.html(link_title);

            } else if (response.error == 101) {
                alert("用户尚未登录！");

            } else if (response.error == 102) {
                alert("用户已经加入了该话题！");

            } else if (response.error == 103) {
                alert("数据库添加失败！");

            } else if (response.error == 104) {
                alert("参数错误，话题ID号无效！");

            } else if (response.error == 105) {
                alert("您为该话题管理员，无需再加入！");

            } else {
                alert("发生未知错误！");
            }
        });
    });

    var topic_item_list = $("li.list-group-item");
    for (var i = 0; i < topic_item_list.length; ++i) {
        var topic_id = topic_item_list[i].id;
        async_request("{SITE_URL}topic/ajax_already_joined", "post", {"topic_id" : topic_id},
                function(response) {
            if (response.success) {
                var topic_id = response.topic_id;
                var join_html = "<p class='text-success'>已加入</p>";
                $("#" + topic_id).find("i[id^='join_btn']").parent().html(join_html);

                if (response.isadmin) {
                    var admin_html = "<p><i class='fa fa-user' style='color:blue;'>管理员</i></p>";
                    $("#num_show_" + topic_id).append(admin_html);
                }

                var title_target = $("#title_" + topic_id);
                var title = title_target.html();
                var link_title = "<a href='{SITE_URL}topic/view/" + topic_id + "'>" + title + "</a>";
                title_target.html(link_title);
            }
        });
    }
});
</script>
<!--{template footer}-->
