<!--{template header}-->
<style type="text/css">
    a:link { color: #003399; }
    .px12 { font-size: 12px; }
    a:visited { color: #003399; }
    a:hover { color: #FF6600; }
    .list-group-item {border:0px;}
    .summary {color:red; font-weight:bold;}
</style>
<div class="container">
    <div style="margin:30px;"></div>
    <!--{if $trade['status'] ==TRADE_STATUS_WAIT_BUYER_PAY}-->
    <h4>等待付款</h4>
    <!--{/if}-->
    <!--{if count($trade_info_list) > 0}-->
    <form method="POST" action="{SITE_URL}ebank/alipaytransfer" name="trade_form" id="trade_form" class="form-horizontal">
        <table height="100px;" width="100%" border="1px" cellspacing="0" style="text-align:center;">
            <tr style="background-color:#f2f7ff;">
                <th width="60%" style="text-align:center;">商品名称</th>
                <th width="15%" style="text-align:center;">价格</th>
                <th width="15%" style="text-align:center;">小结（元）</th>
            </tr>
            <!--{eval $tot_price = 0}-->
            <!--{loop $trade_info_list $trade_info}-->
            <tr id="{$trade_info['target_id']}_{$trade_info['type']}">
                <td>
                    <div>
                        <!--{if $trade_info['type'] == TRADE_TARGET_MATERIAL}-->
                        <a href="{SITE_URL}material/view/{$trade_info['target_id']}">{$trade_info['target_info']['title']}</a>
                        <!--{elseif $trade_info['type'] == TRADE_TARGET_SERVICE}-->
                        <a href="{SITE_URL}service/view/{$trade_info['target_id']}">{$trade_info['target_info']['profile']}</a>
                        <!--{/if}-->
                        <span class="glyphicon glyphicon-trash pull-right"></span>
                    </div>
                </td>
                <td>{$trade_info['target_info']['price']}</td>
                <!--{eval $part_sum = $trade_info['target_info']['price'] * $trade_info['buy_num']}-->
                <!--{eval $tot_price += $part_sum}-->
                <td class="summary">{$part_sum}</td>
            </tr>
            <!--{/loop}-->
        </table>
        <div style="margin-top:10px;font-weight:bold;" class="pull-right">
            <span style="font-size:20px;">总计：</span>
            <span class="summary" id="total_price" style="font-size:20px;margin-right:20px;">¥&nbsp;{$tot_price}</span>
            <input type="submit" class="btn btn-danger" id="submit_btn" value="支付宝支付"/>
        </div>

        <input type="hidden" name="trade_no" id="trade_no" value="{$trade['trade_no']}">
        <input type="hidden" name="product_name" id="product_name" value="Boostme考研">
        <input type="hidden" name="order_price" id="order_price" value="{$tot_price}"/>
        <input type="hidden" name="trade_mode" id="trade_mode" value="1"/>
    </form>
    <!--{else}-->
    <h4>购物车还没有任何资料，现在就去购买想要的考研资料&nbsp;&nbsp;&nbsp;&nbsp;<a href="{SITE_URL}material/default">进入</a></h4>
    <!--{/if}-->
</div>
<div style="margin-bottom:300px;"></div>

<script src="{SITE_URL}public/js/trade.js"></script>
<script type="text/javascript">
var g_trade = new Trade();

$(document).ready(function() {
    $(".glyphicon-trash").click(function() {
        parent_target = $(this).parent().parent().parent();
        id = parent_target.attr('id').split('_');
        target_id = id[0];
        type = id[1];

        part_sum = parseFloat($(this).parent().parent().next().next().html()).toFixed(2);
        order_price = parseFloat($("#order_price").val()).toFixed(2);
        new_order_price = order_price - part_sum;

        g_trade.delete_goods('{$trade['trade_no']}', target_id, type, function(data) {
            if (typeof(data.success) == 'undefined') {
                if (data.error == '101') {
                    alert("无效参数");
                } else if (data.error == '102') {
                    alert("您无权执行此操作");
                } else if (data.error == '103') {
                    alert("未知错误");
                }
            } else {
                parent_target.hide();
                $("#order_price").val(new_order_price.toFixed(2));
                $("#total_price").html("¥&nbsp;" + new_order_price.toFixed(2));
            }
        });
    });
});
</script>

<!--{template footer}--> 
