<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>头像上传成功</title>
    <link href="{SITE_URL}/public/css/default/avatar.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.2.0/css/bootstrap.css">
    <link href="//cdn.staticfile.org/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{SITE_URL}/public/css/boostme/utils.css" rel="stylesheet">
</head>
<body>
<div id="head"><div class="pic"><img src="{SITE_URL}{$material['picture']}"></div></div>
<div class="cut">
    <center>
        <a href="{SITE_URL}/material/upload_picture" class="btn btn-success btn-sm">更改图片</a>
    </center>
</div>
</body>
</html>
