<!--{template header}-->
<!--{template common_link}-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="col-md-8 col-sm-6 setting-content form-horizontal">
                <div class="form-group">
                    <label for="oldpwd" class="col-sm-2 control-label">当前密码</label>
                    <div class="col-sm-5"><input type="password" class="reg-ipt form-control" id="oldpwd" name="oldpwd"></div>
                    <span id="oldpwd_tip"></span>
                </div>
                <div class="form-group">
                    <label for="newpwd" class="col-sm-2 control-label">新密码:</label>
                    <div class="col-sm-5"><input type="password" class="form-control" id="newpwd" name="newpwd"></div>
                    <span id="newpwd_tip"></span>
                </div>
                <div class="form-group">
                    <label for="confirmpwd" class="col-sm-2 control-label">确认密码:</label>
                    <div class="col-sm-5"><input type="password" class="form-control"id="confirmpwd" name="confirmpwd"></div>
                    <span id="confirmpwd_tip"></span>
                </div>
                <div class="form-group">
                    <label for="login_code" class="col-sm-2 control-label">验证码</label>
                    <div class="col-sm-2"><input type="text" class="form-control" id="code" name="code" onblur="check_code()"></div>
                    <div class="col-sm-6">
                        <span class="verifycode">
                            <img src="{SITE_URL}/user/ajax_code" onclick="update_code();" id="verifycode">
                        </span>
                        <a href="update_code();" class="changecode">&nbsp;换一个</a>
                        <span id="codetip"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <input type="button" id="update_passwd_btn" class="btn btn-primary btn-block" value="确认提交"/>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<script src="{SITE_URL}/public/js/boostme/user.js"></script>
<!--{template footer}-->
