<!--{template header}-->
<!--{template common_link}-->
<script src="{SITE_URL}/public/js/plugin/jquery-ui/jquery-ui.min.js"></script>
<link href="{SITE_URL}/public/js/plugin/jquery-ui/jquery-ui.min.css" rel="stylesheet">
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="col-md-7 col-sm-6 setting-content form-horizontal">
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input name="email" id="email" class="form-control" value="{$user['email']}">
                        <span class="help-block">Boostme会将对您最重要的信息发送到这个邮箱</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender" class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <select name="sex" id="gender" class="form-control">
                            <option value="0" <!--{if $user['gender'] == "0"}-->selected="selected"<!--{/if}-->>男生</option>
                            <option value="1" <!--{if $user['gender'] == "1"}-->selected="selected"<!--{/if}-->>女生</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-2 control-label">手机</label>
                    <div class="col-sm-10">
                        <input name="phone" id="phone" class="form-control" value="{$user['phone']}">
                        <span class="help-block">如果您是研究生，想提供服务或者您是考研同学，想要获得服务，此项是必填项</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="qq" class="col-sm-2 control-label">QQ</label>
                    <div class="col-sm-10">
                        <input name="qq" id="qq" class="form-control" value="{$user['qq']}">
                        <span class="help-block">同"手机"项，作为联系你的备选项</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="wechat" class="col-sm-2 control-label">微信</label>
                    <div class="col-sm-10">
                        <input name="wechat" id="wechat" class="form-control" value="{$user['wechat']}">
                        <span class="help-block">同"手机"项，作为联系你的备选项</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="bday" class="col-sm-2 control-label">生日</label>
                    <div class="col-sm-10">
                        <input type="text" name="bday" id="bday" readonly class="form-control datepicker" value="{$user['bday']}" style="cursor:pointer;"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="signature" class="col-sm-2 control-label">个人简介</label>
                    <div class="col-sm-10">
                        <textarea name="signature" id="signature" maxlength="70" class="form-control" style="height:130px;padding:5px;">{$user['signature']}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10 jsk-setting-submit">
                        <input type="button" id="update_info_btn" class="btn btn-success jsk-submit-btn" style="float:left" value="确认信息">
                        <span class="jsk-setting-success word-success">信息已经成功修改</span>
                    </div>
                </div>
            </ul>
            <div class="col-md-5 col-sm-6 gd" style="overflow:hidden">
                <!--
                <iframe src="{SITE_URL}/user/upload_avatar" style="border:none;" width="520px" height="300px;" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" ></iframe>
                -->
                <iframe src="{SITE_URL}/user/editimg" style="border:none;" width="520px" height="300px;" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="no" ></iframe>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function(){
    $.datepicker.regional["zh-CN"] = {
            closeText: "关闭",
            prevText: "&#x3c;上月",
            nextText: "下月&#x3e;",
            currentText: "今天",
            monthNames: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthNamesShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            dayNames: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            dayNamesShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
            dayNamesMin: ["日", "一", "二", "三", "四", "五", "六"],
            weekHeader: "周",
            dateFormat: "yy-mm-dd",
            firstDay: 1,
            isRTL: !1,
            showMonthAfterYear: !0,
            yearSuffix: "年"
    };
    $.datepicker.setDefaults($.datepicker.regional["zh-CN"]);
    $("#bday").datepicker({
        changeYear: true,
        changeMonth: true,
        yearRange: '-50:+0',
        dateFormat: 'yy-mm-dd'
    });
});
</script>
<script src="{SITE_URL}/public/js/boostme/user.js"></script>
<!--{template footer}-->
