<!--{template header}-->
<!--{template common_link}-->
<style type="text/css">
    a:link { color: #003399; }
    .px12 { font-size: 12px; }
    a:visited { color: #003399; }
    a:hover { color: #FF6600; }
    .list-group-item {border:0px;}
</style>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><a href="{SITE_URL}/trade/default">购买历史</a></li>
                <li class="active">订单号 - {$trade['trade_no']}
                    <!--{if $trade['status'] == TRADE_STATUS_WAIT_BUYER_PAY}-->
                    <span class="bm_wait_pay_color">【等待付款】</span>
                    <!--{/if}-->
                </li>
            </ol>
            <ul class="col-md-12 col-sm-12 setting-content">
                <li class="list-group-item">
                    <table width="100%" border="1px" cellspacing="0" class="bm_center_text">
                        <tr class="bm_trade_table_head">
                            <th class="bm_center_text" width="55%">详细情况</th>
                            <th class="bm_center_text" width="10%">价格</th>
                            <th class="bm_center_text" width="15%">数量</th>
                            <th class="bm_center_text" width="10%">小结（元）</th>
                            <th class="bm_center_text" width="10%">操作</th>
                        </tr>
                        <!--{loop $trade_info_list $trade_info}-->
                        <tr class="bm_trade_table_row" id="item_info_{$trade_info['target_id']}_{$trade_info['type']}">
                            <td class="bm_left_text">
                                <!--{if $trade_info['type'] == TRADE_TARGET_MATERIAL}-->
                                <a href="{SITE_URL}/material/view/{$trade_info['target_id']}">{$trade_info['target_info']['title']}</a>
                                <!--{elseif $trade_info['type'] == TRADE_TARGET_SERVICE}-->
                                <table>
                                    <tr>
                                        <td width="70px">
                                            <p><img width="50" height="50" src="{echo get_avatar_dir($trade_info['target_info']['uid'])}" class="img-circle"/></p>
                                            <p>{$trade_info['target_info']['username']}</p>
                                        </td>
                                        <td class="bm_lpadding_20">
                                            <p>服务内容：<a target="_blank" href="{SITE_URL}/service/view?service_id={$trade_info['target_id']}">{$trade_info['target_info']['service_content']}</a></p>
                                            <p>服务时长：{$trade_info['target_info']['service_time']}分钟</p>
                                        </td>
                                    </tr>
                                </table>
                                <!--{/if}-->
                            </td>
                            <td class="item_price">{$trade_info['target_info']['price']}</td>
                            <td class="item_quantity">
                                <!--{if $trade['status'] == TRADE_STATUS_WAIT_BUYER_PAY}-->
                                <div class="bm_trade_quantity">
                                    <a class="bm_quantity_op_btn">-</a><input type="text" class="bm_trade_quantity" value="{$trade_info['buy_num']}" readonly /><a class="bm_quantity_op_btn">+</a>
                                </div>
                                <!--{else}-->
                                {$trade_info['buy_num']}
                                <input type="hidden" class="bm_trade_quantity" value="{$trade_info['buy_num']}"/>
                                <!--{/if}-->
                            </td>
                            <td class="bm_trade_summary">0</td>
                            <td>
                                <!--{if $trade['status'] == TRADE_STATUS_WAIT_BUYER_PAY}-->
                                <a class="bm_pointer item_remove">删除</a>
                                <!--{/if}-->
                            </td>
                        </tr>
                        <!--{/loop}-->
                    </table>
                    <div class="pull-right bm_tmargin_10 bm_font_bold">
                        <span style="font-size:20px;">总计：</span>
                        <span class="bm_trade_summary" id="total_price" style="font-size:20px;margin-right:20px;"></span>
                        <!--{if $trade['status'] == TRADE_STATUS_WAIT_BUYER_PAY}-->
                        <input class="btn btn-danger" id="alipay_submit_btn" value="支付宝支付"/>
                        <!--{/if}-->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
var g_trade_no = "{$trade['trade_no']}";
</script>
<script src="{SITE_URL}/public/js/boostme/trade.js"></script>
<script src="{SITE_URL}/public/js/boostme/ebank.js"></script>
<!--{template footer}-->
