<!--{template header}-->
<link href="{SITE_URL}/public/css/default/material.css" rel="stylesheet">
<link rel="stylesheet" href="{SITE_URL}/public/js/plugin/lightbox/lightbox.css"/>
<script type="text/javascript" src="{SITE_URL}/public/js/plugin/lightbox/lightbox.js"></script>
<style type="text/css">
.action {position: absolute; right: 5px; top: 15px;}
.panel-body {position: relative;}
#description img {max-width:800px;max-height:800px;}
.rmb {font-family: arial;font-weight: 400;margin-right:4px;}
.rmb_num {font-size:16px;font-weight:bold;font-family: verdana,arial;}
.minfo_ul {list-style: none;padding:0px;margin-top:5px;}
.minfo_ul li {padding:10px;}
.price_info {background-color:#FFF2E8;line-height:30px;}
.li_text_info {width:60px;float:left;}
.buy_btn {width:150px;font-size:16px;}
.panel {border:0px;}
</style>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="col-sm-4" style="height:300px;left:-20px;">
                <img src="{$material['picture']}" style="left:-100px;max-width:350px;max-height:300px;">
            </div>
            <div class="col-sm-8">
                <h4>{$material['title']}</h4>
                <ul class="minfo_ul">
                    <li class="price_info">
                        <span class="li_text_info">价格</span>
                        <span style="color:red">
                            <span class="rmb">¥</span>
                            <span class="rmb_num">{$material['price']}</span>
                        </span>
                        <span class="pull-right">
                            浏览&nbsp;{$material['view_num']}&nbsp;次&nbsp;&nbsp;|&nbsp;&nbsp;交易量&nbsp;{$material['sold_num']}&nbsp;
                        </span>
                    </li>

                    <li class="line-height:28px;display:none;">
                        <div style="display:none;">
                            <span class="li_text_info" style="margin-top:2px;">数量</span>
                            <input type="number" id="quantity" name="quantity" step="1" min="1" max="10000" value="1" readonly />
                        </div>
                    </li>
                    <!--{if $user['uid'] > 0 && empty($material['price'])}-->
                    <li><input type="button" class="btn btn-danger buy_btn" id="access_info_btn" value="获取链接"></li>
                    <div style="display:none;" id="access_div">
                        <li>链接：<a href="{$material['site_url']}" target="_blank">{$material['site_url']}</a></li>
                        <li>密码：{$material['access_code']}</li>
                    </div>
                    <!--{elseif $user['uid'] == 0 && empty($material['price']) }-->
                    <li><a class="btn btn-danger buy_btn" id="submit_btn" href="{SITE_URL}/user/login">登录下载</a></li>
                    <!--{else}-->
                    <li><button class="btn btn-danger buy_btn" id="buy_material_btn">立即购买</button></li>
                    <!--{/if}-->
                </ul>
            </div>
        </div>
    </div>

    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li><a href="#desc_tab" role="tab" data-toggle="tab">详细描述</a></li>
            <li class="active"><a href="#comment_tab" role="tab" data-toggle="tab">用户评价</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="desc_tab">
                <div class="" id="description" style="margin-top:13px;">{$material['description']}</div>
            </div>
            <div class="tab-pane active" id="comment_tab">
                <div>
                    <div style="padding-top:20px;">
                        <span style="font-size:18px;">我的评价</span>&nbsp;
                        <span id="self_star"></span>
                    </div>
                    <div id="user_comment">
                        <div class="form-group">
                            <textarea class="form-control" id="evaluation_content" maxlength="1000" name="evaluation[content]" placeholder="这个人很懒,没留下任何内容..." rows="5"></textarea>
                        </div>
                        <p class="help-block text-right">你还可以输入<span id="evaluation_content-word" class="word-num-counter">1000</span>字</p>
                        <div class="text-right btm">
                            <!--{if $user['uid'] > 0}-->
                            <input class="btn btn-primary" click_source="evaluation" id="evaluation-submit-btn" name="commit" type="submit" value="提交评价" />
                            <!--{else}-->
                            <label class="text-primary"><a href="{SITE_URL}/user/login">登录</a></label>后
                            <input class="btn btn-blue" click_source="evaluation" disabled="disabled" id="evaluation-submit-btn" name="commit" type="submit" value="提交评价" />
                            <!--{/if}-->
                        </div>
                    </div>
                </div>

                <hr style="border-color: #DFE2E6">
                <div>
                    <span style="font-size:18px;">资料评价</span>&nbsp;
                    <span id="avg_star"></span>
                    <span>{$material['avg_score']}分</span>
                </div>

                <div class="open-class-eval-list" id="comment_list"></div>
                <center><div class="pages">{$departstr}</div></center>
            </div>
        </div>
    </div>
</div>
<script type="text/template" id="material_comment_list_template">
<% _.each(comment_list, function(comment) { %>
<div class="item clearfix">
    <div class="pic">
        <img class="pull-left pic" height="50" src="<%= comment['avatar'] %>" width="50" />
    </div>
    <div class="cont">
        <div class="original">
            <div class="star">
                <span id="user_score_<%= comment['id'] %>_<%= comment['score'] %>"></span><span><%= comment['score'] %>分</span>
            </div>
            <div class="name">
                <strong><%= comment['author'] %></strong><em><%= comment['format_time'] %></em>
            </div>
            <div class="mess break-paragraph"><%= comment['content'] %></div>
            <div class="atti">
                <label>
                    <a id="thumbs_0_<%= comment['id'] %>"><span class="glyphicon glyphicon-thumbs-up"></span><em>有用(<%= comment['up'] %>)</em></a>
                </label>
                <label>
                    <a id="thumbs_1_<%= comment['id'] %>"><span class="glyphicon glyphicon-thumbs-down"></span><em>没用(<%= comment['down'] %>)</em></a>
                </label>
            </div>
        </div>
    </div>
</div>
<% }) %>
</script>

<script type="text/javascript">
var g_material_id = {$material['id']};
var g_material_avg_score = {$material['avg_score']};
</script>

<script src="{SITE_URL}/public/js/plugin/raty/jquery.raty.js"></script>
<link rel="stylesheet" href="{SITE_URL}/public/js/plugin/raty/jquery.raty.css">

<script src="{SITE_URL}/public/js/boostme/category.js"></script>
<script src="{SITE_URL}/public/js/boostme/material.js"></script>
<script src="{SITE_URL}/public/js/boostme/trade.js"></script>
<!--{template footer}-->
