<!--{template header}-->
<link href="{SITE_URL}public/css/default/material.css" rel="stylesheet">

<div style="margin-top:84px;"></div>
<link rel="stylesheet" href="{SITE_URL}public/js/lightbox/lightbox.css"/>
<script type="text/javascript" src="{SITE_URL}public/js/lightbox/lightbox.js"></script>
<style type="text/css">
h4, h5, h6 { margin-top: 0px; margin-bottom: 0px;}

.photo {position: absolute; top: 15px; left: 15px; }
.action {position: absolute; right: 5px; top: 15px;}
.panel-body {position: relative;}

#description img {max-width:200px;max-height:200px;}
</style>
<style type="text/css">
.rmb {font-family: arial;font-weight: 400;margin-right:4px;}
.rmb_num {font-size:16px;font-weight:bold;font-family: verdana,arial;}
.minfo_ul {list-style: none;padding:0px;margin-top:5px;}

.minfo_ul li {padding:10px;}
.price_info {background-color:#FFF2E8;line-height:30px;}
.li_text_info {width:60px;float:left;}

.buy_btn {width:150px;font-size:16px;}

.panel {border:0px;}
</style>

<div class="container">
    <div class="panel panel-info">
        <div class="panel-body">
            <div class="col-sm-4" style="height:300px;left:-20px;">
                <img src="{SITE_URL}{$service['picture']}" style="left:-100px;max-width:350px;max-height:300px;">
            </div>
            <div class="col-sm-8">
                <!--{if $user['uid'] == $service['uid']}-->
                <a href="{url service/register}" class="glyphicon glyphicon-pencil pull-right">编辑</a>
                <!--{/if}-->
                <form method="POST" action="{url trade/buy_now}" name="service_form"
                      id="service_form" onsubmit="return check_form();" class="form-horizontal">
                    <!--{eval $title = $service['profile']}-->
                    <input type="hidden" name="target_id" id="target_id" value="{$service['id']}"/>
                    <input type="hidden" name="type" id="type" value="{TRADE_TARGET_SERVICE}"/>
                    <h5>{$title}</h5>
                    <ul class="minfo_ul">
                        <li class="price_info">
                            <span class="li_text_info">价格</span>
                            <span style="color:red">
                                <span class="rmb">¥</span>
                                <span class="rmb_num">{$service['price']}</span>
                                <input type="hidden" name="price" id="price" value="{$service['price']}"/>
                            </span>
                            <span class="pull-right">
                                浏览&nbsp;{$service['view_num']}&nbsp;次&nbsp;&nbsp;|&nbsp;&nbsp;交易量&nbsp;{$service['service_num']}&nbsp;
                            </span>
                        </li>
                        <li class="line-height:28px;display:none;">
                            <div style="display:none;">
                                <span class="li_text_info" style="margin-top:2px;">数量</span>
                                <input type="number" id="quantity" name="quantity" step="1" min="1" max="10000" value="1" readonly />
                            </div>
                        </li>

                        <li><button type="submit" name="submit" class="btn btn-danger buy_btn" id="submit_btn">立即联系</button></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>

    <div style="padding-top:20px;">
        <span style="font-size:18px;">我的评价</span>&nbsp;
        <span id="star"></span>
    </div>
    <div>
        <!--{if empty($user_comment)}-->
        <div class="form-group">
            <textarea class="form-control" id="evaluation_content" maxlength="1000" name="evaluation[content]" placeholder="这个人很懒,没留下任何内容..." rows="5"></textarea>
        </div>
        <p class="help-block text-right">你还可以输入<span id="evaluation_content-word" class="word-num-counter">1000</span>字</p>
        <div class="text-right btm">
            <!--{if $user['uid'] > 0}-->
            <input class="btn btn-primary" click_source="evaluation" id="evaluation-submit-btn" name="commit" type="submit" value="提交评价" />
            <!--{else}-->
            <label class="text-primary"><a href="{SITE_URL}user/login">登录</a></label>后
            <input class="btn btn-blue" click_source="evaluation" disabled="disabled" id="evaluation-submit-btn" name="commit" type="submit" value="提交评价" />
            <!--{/if}-->
        </div>
        <!--{else}-->
        <div style="padding:20px 0;"><p>{$user_comment['content']}</p></div>
        <!--{/if}-->
    </div>

    <hr style="border-color: #DFE2E6">

    <div>
        <span style="font-size:18px;">用户评价</span>&nbsp;
        <span id="avg_star"></span>
        <span>{$service['avg_score']}分</span>
    </div>

    <div class="open-class-eval-list">
        <!--{loop $comment_list $comment}-->
        <div class="item clearfix">
            <div class="pic">
                <img alt="Avatar" class="pull-left pic" height="50" src="{eval echo get_avatar_dir($comment['authorid'])}" width="50" />
            </div>
            <div class="cont">
                <div class="original">
                    <div class="star">
                        <span id="user_score_{$comment['id']}_{$comment['score']}"></span><span>{$comment['score']}分</span>
                    </div>
                    <div class="name">
                        <strong>{$comment['author']}</strong><em>{eval echo tdate($comment['time'])}</em>
                    </div>
                    <div class="mess break-paragraph">{$comment['content']}</div>
                    <div class="atti" id="useful_or_useless_evaluation_8269">
                        <label>
                            <a id="thumbs_0_{$comment['id']}"><span class="glyphicon glyphicon-thumbs-up"></span><em>有用({$comment['up']})</em></a>
                        </label>
                        <label>
                            <a id="thumbs_1_{$comment['id']}"><span class="glyphicon glyphicon-thumbs-down"></span><em>没用({$comment['down']})</em></a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!--{/loop}-->
    </div>
    <center><div class="pages">{$departstr}</div></center>
</div>

<div style="height:29px;"></div>

<script type="text/javascript">

$(document).ready(function() {
    $('#star').raty({
        number : 5,
        hints: ['1', '2', '3', '4', '5'],
        path:"{SITE_URL}public/js/plugin/raty/images",
        starOff:"star-off-big.png",
        starOn:"star-on-big.png",
        starHalf:"star-half-big.png",
        half : true,
        round : {down: .26, full: .6, up: .76},
        <!--{if !empty($user_comment)}-->
        score : {$user_comment['score']}
        <!--{/if}-->
        //readOnly:  true,
        //score:0,
        //precision  : true,
        //target: '#result',
        //targetFormat : '{score}',
        //targetKeep : true,
        //click: function (score, evt) { alert('评分：'+(score)); },
        //targetFormat : 'Rating: {score}',
    });

    $('#avg_star').raty({
        number : 5,
        path:"{SITE_URL}public/js/plugin/raty/images",
        starOff:"star-off-big.png",
        starOn:"star-on-big.png",
        starHalf:"star-half-big.png",
        half : true,
        readOnly:  true,
        score:{$service['avg_score']},
    });

    $('span[id^="user_score_"]').each(function(){
        var id = $(this).attr('id'); 
        var score = id.substr(id.lastIndexOf('_') + 1);

        $(this).raty({
            number : 5,
            path: "{SITE_URL}public/js/plugin/raty/images",
            half: true,
            readOnly: true,
            score: score
        });
    });

    $("#description img").each(function(i) {
        var img = $(this);
        $.ajax({
            type: "POST",
            url: "index/ajaxchkimg",
            async: true,
            data: "imgsrc=" + img.attr("src"),
            success: function(status) {
                if ('1' == status) {
                    img.wrap("<a href='" + img.attr("src") + "' title='" + img.attr("title") + "' data-lightbox='comment'></a>");
                }
            }
        });
    }); 

    $("#submit_btn").click(function() {
        $("#access_div").show();
    });

    <!--{if $user['uid'] > 0}-->
    $("#evaluation-submit-btn").click(function() {
        var score = $("input[name='score']").val();
        if (!score) {
            alert("您还没有选择评分");
            return false;
        }
        var content = $("#evaluation_content").val();

        $.post("{SITE_URL}service/comment", {'sid' : {$sid}, 'score': score, 'content': content}, function(flag) {
            if (flag == '1') {
                alert("感谢您的评价");
                window.top.location.reload();
            } else if (flag == '0') {
                alert("请先登录");
                window.location.href = "{SITE_URL}user/login";
            } else if (flag == '-1') {
                alert("添加评论失败");
            } else if (flag == '-2') {
                alert("您未购买过该服务，不能评论");
            } else if (flag == '-3') {
                alert("请等待交易成功结束后再评论，谢谢!");
            } else if (flag == '-4') {
                alert("您已评论过，请勿重复操作");
            }
        });
    });
    <!--{/if}-->

    $("a[id^='thumbs_']").click(function() {
        var id = $(this).attr('id'); 
        var comment_id = id.substr(id.lastIndexOf('_') + 1);
        var t_id = id.substr(0, id.lastIndexOf('_'));
        var thumbs_type = t_id.substr(t_id.lastIndexOf('_') + 1);

        var num_target = $(this).children('em');


        $.get("{SITE_URL}service/comment_support/" + comment_id + "/" + thumbs_type, "", function(data) {
            data = parseInt(data);
            if (data > 0) {
                if (thumbs_type == '0') {
                    num_target.html("有用(" + data + ")");
                } else {
                    num_target.html("无用(" + data + ")");
                }
            } else if (data == '0') {
                alert("请先登录");
                window.location.href = "{SITE_URL}user/login";
            } else if (data == '-1') {
                alert("操作失败");
            } else if (data == '-2') {
                alert("请勿重复操作");
            }
        });
    });
});

</script>
<script src="{SITE_URL}public/js/plugin/raty/jquery.raty.js"></script>
<link rel="stylesheet" href="{SITE_URL}public/js/plugin/raty/jquery.raty.css">
<!--{template footer}-->
