<!--{template header}-->
<!--{template common_link}-->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <ol class="breadcrumb">
                <li><a href="{SITE_URL}/message/default">消息中心</a></li>
                <li class="active">系统消息</li>
            </ol>
            <ul class="col-md-9 col-sm-9 setting-content">
                <!--{loop $message_list $message}-->
                <li class="list-group-item" id="{$message['mid']}">
                    <table style="width:100%;text-align:left;min-height:86px;">
                        <tr>
                            <td width="67%" class="bm_rpadding_10">
                                <p style="font-size:14px;">
                                    <!--{if $message['new']}-->
                                    <i class="fa fa-envelope bm_envelope_unread"> {$question['answers']}</i>
                                    <!--{/if}-->
                                    <strong>{$message['subject']}</strong>
                                </p><br/>
                                <span style="font-size:13px;"> {$message['content']} </span>
                            </td>
                            <td width="14%">
                                <span>{eval echo tdate($message['time'])}</span>
                            </td>
                            <td width="3%">
                                <a class="bm_pointer" id="remove_{$message['mid']}">删除</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <!--{/loop}-->
                <center><div>{$departstr}</div></center>
            </ul>
            <div class="col-md-3 col-sm-3" style="overflow:hidden">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function show() {
    var windown_height = $(window).height();
    var document_scroll_top = $(document).scrollTop();

    $(".list-group-item:visible").each(function() {
        var id = $(this).attr("id");
        var offset = $("#" + id).offset().top - document_scroll_top;
        if (0 < offset && offset < $(window).height()) {
            //console.log("offset = " + offset);
            console.log($("#" + id).find("span").first().text());
        }
    });
    return;
}
//window.setTimeout(show, 1); 
//window.setInterval(show, 1000);
</script>

<script src="{SITE_URL}/public/js/boostme/message.js"></script>
<!--{template footer}-->
