body{
  background: #ebebeb;
}
.jsk-setting{
  padding-top: 10px;
  background: #11354B;
  color: #ddd;
  margin-bottom: -30px;
  height: 90px;
}
.setting-content{
  padding-top: 10px;
}
.setting-content input,
.setting-content textarea,
.setting-content select{
  border:1px solid #eee;
}
.jsk-submit-btn:link,
.jsk-submit-btn:active,
.jsk-submit-btn:visited,
.jsk-submit-btn:hover{
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: none;
}
.jsk-setting-submit{
  line-height: 34px;
}
.jsk-setting-success{
  color:#393;
  margin-left: 14px;
  display: none;
}
.th{
margin:14px;
float:left;
width:827px;
}
.th li{
width: 260px;
height: 76px;
border: 3px solid #ddd;
line-height:76px;
font-size:50px;
font-weight:bold;
text-align:center;
float:left;
margin-right:14px;
margin-bottom:14px;
cursor:pointer;
color:#77D1D7;
font-family:Georgia, "Times New Roman", Times, serif;
list-style: none;
border-radius: 5px;
}
.th .rt{
margin-right:0;
}

/*profile page*/
.jsk-jumbotron{
  padding-top: 70px;
  color: #eee;
  font-family:'Microsoft YaHei','微软雅黑','黑体';
}

.jsk-jumbotron-index{
  height:350px;
}
.jsk-jumbotron h1{
  font-family:'Microsoft YaHei','微软雅黑','黑体';
  color: #fff;
  margin-top: 20px;
}
.jsk-jumbotron p{
  margin:16px 0;
}
.jsk-jumbotron p > span{
  margin-right:25px;
}
.jsk-jumbotron-course .container {
height:70px;
}
.jsk-jumbotron-course .container h1{
font-size:30px;
margin-top:20px;
}

.jsk-jumbotron-profile{
height:264px;
border-bottom:1px solid #bbb;
}

.jsk-profile{
margin-top:20px
}

.uf{
margin-top:50px;
background:#eee;
border-bottom:1px solid #ccc;
position:relative;
overflow:hidden;
padding-top:1px;
background-position:0 -60px;
background-repeat:repeat-x;
background-color:#eee;
}
.uf-p-img{
width:155px;
height:155px;
float:left;
overflow:hidden;
margin:19px 20px 20px 0;
background:#fcfcfc;
border:1px solid #ddd
}
.uf-p-img img{
margin:5px;
}
.uf-p{
width:982px;
margin:auto auto;
padding:20px 0 10px 0;
background-color: rgb(245, 245, 245);
border-bottom: 1px solid rgb(210, 210, 210);
}

.uf-p-des{
margin:20px 80px 20px 5px;
display:block;
float:left;
overflow:hidden;
width:500px;
}
.uf-p-des span{
display:block;
float:left;
}
.uf-p-des-n{
color:#333;
height:36px;
font-size:26px;
font-weight:bold;
font-family:"微软雅黑","黑体";
}
.uf-p-des-no{
color:#777;
margin-left:7px;
margin-top:14px;
}
.uf-p-des-role{
border-radius:3px;
font-family:"微软雅黑","黑体";
color:#aa0;
background-color:#fffcb3;border:1px solid #cc0;padding:0 4px;margin:4px 0 0 4px;font-size:12px;line-height:18px;display:inline-block;font-weight:700
}

.uf-p-des-des{
line-height:24px;
color:#666;
margin:7px 0 0 0;
float:left;
width:499px;
display:block;
}

.uf-p-des-loc{
margin-top:14px;
display: inline-block;
vertical-align: text-top;
background-repeat: no-repeat;
width:500px;
font-size:12px;
color:#999;
height: 22px;
padding-left:20px;
line-height:22px;
background:url(/public/css/default/location.png) no-repeat 3px center;
}
.uf-p-des-link{
display: inline-block;
vertical-align: text-top;
background-repeat: no-repeat;
width:500px;
font-size:12px;
height: 22px;
padding-left:20px;
line-height:22px;
background:url(/public/css/default/link.png) no-repeat center left;
}
.uf-p-des-link a{
color:#999;
margin-right:6px;
}
.uf-p-stats{
margin:60px 0 0 0;
width:180px;
height:120px;
float:left;
overflow:hidden;
color: #777;
}
.uf-p-stats div{
margin:0;
}
.uf-p-stats span{
font-weight: 700;
font-size: 20px;
color: #333;
}


.bl{
margin-top:30px;
}
.bl-l{
float:left;
}
.bl-l-tit{
font-size:14px;
font-weight:bold;
color:#666;
margin-bottom:14px;
}
.bl-l li{
width:40px;
height:40px;
float:left;
margin:0 11px 11px 0;
list-style: none;
}
.bl-cl-badge-a{
width:40px;
height:40px;
margin:0;
overflow:hidden;
}
.bl-cl-badge-a a{
width:40px;
height:40px;
display:block;
}


.bl-r li{
position:relative;
float:left;
width:100%;
border:1px solid #ddd;
background:#f5f5f5;
border-radius:3px;
margin-bottom:20px;
list-style: none;
}
.bl-r-t{
margin:0 20px;
line-height:60px;
height:60px;
text-align:center;
font-size:14px;
font-weight:bold;
color:#333;
}
.bl-r-x{
height:120px;
margin:0 40px;
text-align:center;
font-size:14px;
font-weight:bold;
color:#333;
}
.bl-r-n{
width:100%;
height:48px;
line-height:24px;
margin:36px 0px;
text-align:center;
font-size:16px;
color:#999;
position:absolute;
top:60px;
left:0;
}
.bl-r-in{
height:40px;
line-height:40px;

margin-top:14px;
text-align:center;
}
.bl-r-in a{
color:#666;
}
