<!--{template header}-->
<link rel="stylesheet" type="text/css" href="{SITE_URL}css/default/problem.css" />

<!--{eval $statistics = $this->fromcache('statistics');}-->
<!--{eval $onlineusernum = $this->fromcache('onlineusernum');}-->
<div class="bm_nav_line">
    <div class="bm_icon_count"/></div>
    <span>已解决需求：{$statistics['solves']}</span>
    <span>待解决需求：{$statistics['nosolves']}</span>
    <span>当前在线：{$onlineusernum[0]}人</span>
</div>

<div class="bm_wrapper bm_clearfix">
    <div class="bm_content">
        <div class="bm_main">

            <!-- 求助 -->
            <div class="bm_index_problem bm_mt10">
                <h3 class="title">现有求助</h3>
                <!--{loop $page_tobesolvedlist $index $problem}-->
                <ul class="prob_idx_list">
                    <li id="{$problem['pid']}" class="prob_idx_box">
                        <div class="prob_poster_img">
                            <a href=""><img class="prob_idx_avatar" src={eval echo get_avatar_dir($problem['authorid']);}></a>
                        </div>
                        <div class="prob_content">
                            <h3 class="prob_title"><a href="{url problem/view/$problem['pid']}">{$problem['title']}</a></h3>
                            <div class="prob_price">
                                <span>回报：¥{$problem['price']}&nbsp;&nbsp;|&nbsp;&nbsp;{$problem['demands']}人在抢</span>
                            </div>
                            <div class="prob_ops">
                                <!--{if $problem['authorid'] != $user['uid']}-->
                                <!--{if $_ENV['demand']->already_demand($problem['pid'])}-->
                                <a id="{$problem['pid']}" href="#" class="prob_cancel last" onclick="javascript:return false;";>撤销请求</a>
                                <!--{else}-->
                                <a id="{$problem['pid']}" href="#" class="prob_demand last" onclick="javascript:return false;";>我要帮忙</a>
                                <!--{/if}-->
                                <!--{else}-->
                                <a href="{url problem/view/$problem['pid']}" class="last">查看</a>
                                <!--{/if}-->
                            </div> 
                            <span class="arrow"></span>
                        </div>
                    </li>
                </ul>
                <!--{/loop}-->
            </div>
            <div class="pages">{$departstr}</div>
        </div>
    </div>
</div>

<div id="dialog_message" title="附加信息" style="display: none">
    <form name="edit_message" action="{url problem/demand}" method="post" id="dialog_form">
        <input type="hidden" value="" name="dialog_pid" id="dialog_pid"/>
        <table border="0" cellpadding="0" cellspacing="0" width="470px">
            <tr>
                <td>
                    <div class="inputbox mt15">
                        <input type="text" placeholder="请输入简短的请求信息" class="tag-input" name="demand_message" id="demand_message"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td><input type="submit" class="normal-button flright mt15" value="确&nbsp;认" /></td>
            </tr>
        </table>
    </form>
</div>


<script type="text/javascript">
var timer;
$(document).ready(function() {
    $(".prob_demand").click(function() {
        var pid = $(this).attr("id");
        $("#dialog_pid").val(pid);
        $("#dialog_message").dialog({
            autoOpen: false,
            width: 500,
            modal: true,
            resizable: false
        });
        $("#dialog_message").dialog("open");
    });

    $(".prob_demand_asdf").click(function(){
        if ({$user['uid']} == 0) {
            alert("您还未登录，请先登录");
            window.location.href = "{SITE_URL}index.php" + query + "user/login";
        }
        var supportobj = $(this);
        var pid = $(this).attr("id");
        $.ajax({
            type: "GET",
            url:"{SITE_URL}index.php" + query + "problem/ajaxdemand/" + pid,
            cache: false,
            success: function(succeed){
                if (succeed == '-1') {
                    alert("您还未登录，请先登录");
                    window.location.href = "{SITE_URL}index.php" + query + "user/login";
                } else if (succeed == '0') {
                    alert("操作失败，请刷新页面重试");
                } else if (succeed == '1') {
                    supportobj.html("取消抢位");
                } else if (succeed == '2') {
                    alert("正在排队，请耐心等候");
                } else if (succeed == '3') {
                    alert("您还没有获得抢位的资格，填写您的简历，审核通过后，您就可以进行抢位啦！");
                    window.location.href = "{SITE_URL}index.php" + query + "user/resume";
                }
            }
        });
    }); 

    $(".prob_cancel").click(function(){
        if ({$user['uid']} == 0) {
            alert("您还未登录，请先登录");
            window.location.href = "{SITE_URL}index.php" + query + "user/login";
        }
        var supportobj = $(this);
        var pid = $(this).attr("id");
        $.ajax({
            type: "GET",
            url:"{SITE_URL}index.php" + query + "problem/ajaxcancel/" + pid,
            cache: false,
            success: function(succeed){
                if (succeed == '-1') {
                    alert("您还未登录，请先登录");
                    window.location.href = "{SITE_URL}index.php" + query + "user/login";
                } else if (succeed == '0') {
                    alert("操作失败，请刷新页面重试");
                } else if (succeed == '1') {
                    supportobj.html("抢位");
                } else if (succeed == '2') {
                    alert("您还没有在该求助上抢位!");
                }
            }
        });
    });

    //slider
    $(".pagination li").hover(function() {
        $(".pagination li[class='spanhover']").removeClass("spanhover");
        var topicid = $(this).attr("topicid");
        $(this).addClass("spanhover");
        timer = setTimeout(function() {
            $(".topic").hide();
            $("#" + topicid).show();
        }, 100);
    });
    $("#weektab").hover(function() {
        $(this).attr("class", "select");
        $("#alltab").attr("class", "not-selected");
        $("#weektop").show();
        $("#alltop").hide();
    });
    $("#alltab").hover(function() {
        $(this).attr("class", "select");
        $("#weektab").attr("class", "not-selected");
        $("#alltop").show();
        $("#weektop").hide();
    });

    $(".bm_demand_btn").click(function(){
        if ({$user['uid']} == 0) {
            alert("您还未登录，请先登录");
            window.location.href = "{SITE_URL}index.php" + query + "user/login";
        }
        var supportobj = $(this);
        var pid = $(this).parent().attr("id");

        $.ajax({
            type: "GET",
            url:"{SITE_URL}index.php" + query + "problem/ajaxdemand/" + pid,
            cache: false,
            success: function(succeed){
                if (succeed == '-1') {
                    alert("您还未登录，请先登录");
                    window.location.href = "{SITE_URL}index.php" + query + "user/login";
                } else if (succeed == '0') {
                    supportobj.val("抢位失败");
                    supportobj.css({color:"#FF0000"});
                } else if (succeed == '1') {
                    supportobj.val("抢位成功");
                    supportobj.attr("disabled", "true");
                    supportobj.css({color:"#00FF00"});
                } else if (succeed == '2') {
                    alert("正在排队，请耐心等候");
                } else if (succeed == '3') {
                    alert("您还没有获得抢位的资格，填写您的简历，审核通过后，您就可以进行抢位啦！");
                    window.location.href = "{SITE_URL}index.php" + query + "user/resume";
                }
            }
        });
    }); 
});

</script>
<!--{template footer}-->
