<style type="text/css">
    .avatar {position: absolute; top:5px; left:5px;}
    .userinfo {margin: 0 10px 0 80px !important; padding: 3px; line-height: 26px;}

    .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
      color: #fff;
      background-color: #428bca;
    }
    .nav-sidebar > li > a {
      padding-right: 20px;
      padding-left: 20px;
    }
    .sidebar {
      margin-top: 20px;
    }
    .nav-sidebar {
      margin-top: 5px;
      margin-bottom: 5px;
      background: #f5f5f5;
    }
</style>
<div class="sidebar">
  <div class="panel" style="position:relative;">
    <img class="img-circle avatar" src="{$user['avatar']}" width="70px" height="70px">
    <div class="userinfo" style="font-size:13px;">
      <h5>{$user['username']}</h5>
      <div class="balance">
        账户余额：¥{$user['balance']}
        <a href="#" style="font-size:12px;">充值</a>
      </div>
    </div>
  </div>

  <ul class="list-unstyled" style="font-size:13px;">
    <li><h5>个人空间</h5></li>
    <ul class="nav nav-sidebar">
      <li id="menu_space" <!--{if $type == "user/space"}--> class="active"<!--{/if}--> > <a href="{url user/space}">最近动态</a> </li> 
    </ul>

    <li><h5>我的求助</h5></li>
    <ul class="nav nav-sidebar">
      <li id="menu_problem_all" <!--{if $type == "user/problem/all"}--> class="active"<!--{/if}--> > <a href="{url user/problem/all}">我的求助</a> </li>
      <li id="menu_problem_solved" <!--{if $type == "user/problem/solved"}--> class="active"<!--{/if}--> > <a href="{url user/problem/solved}">解决求助</a> </li>
    </ul>

    <li><h5>个人信息</h5></li>
    <ul class="nav nav-sidebar">
      <li id="menu_profile"  <!--{if $type == "user/profile"}--> class="active"<!--{/if}--> ><a href="{url user/profile}">基本信息</a></li>
      <li id="menu_uppass" <!--{if $type == "user/uppass"}--> class="active"<!--{/if}--> ><a href="{url user/uppass}">修改密码</a></li>
      <li id="menu_editimg" <!--{if $type == "user/editimg"}--> class="active"<!--{/if}--> ><a href="{url user/editimg}">修改头像</a></li>
      <li id="menu_resume" <!--{if $type == "user/resume"}--> class="active"<!--{/if}--> ><a href="{url user/resume}">我的简历</a></li>
    </ul>

    <li><h5>收件箱</h5></li>
    <ul class="nav nav-sidebar">
      <li id="menu_personal" <!--{if $type == "message/personal"}--> class="active"<!--{/if}--> ><a href="{url message/personal}">私人消息</a></li>
      <li id="menu_system" <!--{if $type == "message/resume"}--> class="active"<!--{/if}--> ><a href="{url message/system}">系统消息</a></li>
    </ul>
  </ul>
</div>
