<style type="text/css">
    .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
      color: #fff;
      background-color: #428bca;
    }
    .nav-sidebar > li > a {
      padding-right: 20px;
      padding-left: 20px;
    }
    .sidebar {
      margin-top: 20px;
    }
    .nav-sidebar {
      margin-top: 5px;
      margin-bottom: 5px;
      background: #f5f5f5;
    }
</style>
<div class="sidebar">
  <ul class="list-unstyled">
    <li><h4>个人空间</h4></li>
    <ul class="nav nav-sidebar">
      <li id="menu_space"><a href="#">最近动态</a></li>
      <li id="menu_problem"><a href="#">解决一下困难</a></li>
    </ul>
    <li><h4>我的账号</h4></li>
    <ul class="nav nav-sidebar">
      <li id="menu_profile"><a href="{url user/profile}">个人资料</a></li>
      <li id="menu_uppass"><a href="{url user/uppass}">修改密码</a></li>
      <li id="menu_editimg"><a href="{url user/editimg}">修改头像</a></li>
      <li id="menu_resume"><a href="{url user/resume}">我的简历</a></li>
    </ul>
    <li><h4>我的信箱</h4></li>
    <ul class="nav nav-sidebar">
      <li id="menu_personal"><a href="{url message/personal}">私人消息</a></li>
      <li id="menu_system"><a href="{url message/system}">系统消息</a></li>
    </ul>
  </ul>
</div>

<script type="text/javascript">
  $(function(){
    $("#menu_space").click(function(){
      $("#menu_problem").removeClass("active");
      $(this).addClass("active");
      $('#jump1').tab('show');
    });
    $("#menu_problem").click(function(){
      $("#menu_space").removeClass("active");
      $(this).addClass("active");
      $('#jump2').tab('show');
    });
  })
</script>