<!--{template header}-->
<div class="bm_wrapper bm_mt10 bm_clearfix">
    <div class="user-content">
        <div class="my-answerbox">
            <div class="title">个人信息</div>
            <div id="qa-tabcard">
                <ul>
                    <li><a href="{url user/profile}">基本资料</a></li>
                    <li><a href="{url user/uppass}">修改密码</a></li>
                    <li><a href="{url user/editimg}">修改头像</a></li>
                    <li class="on">我的简历</li>
                </ul>
            </div>
            <div class="loginform">
                <form method="POST" name="upinfoForm" action="{url user/resume}">
                    <div class="resume_school_box">
                        <div class="input-bar">
                            <h2>大学生:</h2>
                            <input type="text" name="bachelor_school" id="bachelor-school" value="{$resume['bachelor_school']}" onclick="pop('bachelor')" class="normal-input"/>
                            <div id="bachelor-choose-box-wrapper" class="choose-box-wrapper">
                                <div id="bachelor-choose-box" class="choose-box">
                                    <div id="bachelor-choose-box-title" class="choose-box-title"> <span>选择学校</span> </div>
                                    <div id="bachelor-choose-a-province" class="choose-a-province"></div>
                                    <div id="bachelor-choose-a-school" class="choose-a-school"> </div>
                                    <div id="bachelor-choose-box-bottom" class="choose-box-bottom"><input type="botton" onclick="hide('bachelor')" value="关闭" /> </div>
                                </div>
                            </div>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>院系:</h2>
                            <input type="text" name="bachelor_dept" id="bachelor-dept" value="{$resume['bachelor_dept']}" class="normal-input"/>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>专业:</h2>
                            <input type="text" name="bachelor_major" id="bachelor-major" value="{$resume['bachelor_major']}" class="normal-input"/>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>入学年月:</h2>
                            <select name="bachelor_year" id="bachelor-year" class="normal_select">
                                <option value=""></option>
                                <!--{eval $curyear=date("Y");}-->
                                <!--{eval $yearlist = range($curyear, 1921, -1);}-->
                                <!--{loop $yearlist $year}-->
                                <option value="{$year}" <!--{if ({$year}== $resume['bachelor_year'])}-->selected<!--{/if}--> >{$year}</option>
                                <!--{/loop}-->
                            </select> 年&nbsp;&nbsp;
                            <select name="bachelor_month" id="bachelor-month" class="normal_select">
                                <option value=""></option>
                                <option value="1" <!--{if (1 == $resume['bachelor_month'])}-->selected<!--{/if}--> >1</option>
                                <option value="2" <!--{if (2 == $resume['bachelor_month'])}-->selected<!--{/if}--> >2</option>
                                <option value="3" <!--{if (3 == $resume['bachelor_month'])}-->selected<!--{/if}--> >3</option>
                                <option value="4" <!--{if (4 == $resume['bachelor_month'])}-->selected<!--{/if}--> >4</option>
                                <option value="5" <!--{if (5 == $resume['bachelor_month'])}-->selected<!--{/if}--> >5</option>
                                <option value="6" <!--{if (6 == $resume['bachelor_month'])}-->selected<!--{/if}--> >6</option>
                                <option value="7" <!--{if (7 == $resume['bachelor_month'])}-->selected<!--{/if}--> >7</option>
                                <option value="8" <!--{if (8 == $resume['bachelor_month'])}-->selected<!--{/if}--> >8</option>
                                <option value="9" <!--{if (9 == $resume['bachelor_month'])}-->selected<!--{/if}--> >9</option>
                                <option value="10" <!--{if (10 == $resume['bachelor_month'])}-->selected<!--{/if}--> >10</option>
                                <option value="11" <!--{if (11 == $resume['bachelor_month'])}-->selected<!--{/if}--> >11</option>
                                <option value="12" <!--{if (12 == $resume['bachelor_month'])}-->selected<!--{/if}--> >12</option>
                            </select> 月&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="resume_school_box">
                        <div class="input-bar">
                            <h2>研究生:</h2>
                            <input type="text" name="master_school" id="master-school" value="{$resume['master_school']}" onclick="pop('master')" class="normal-input"/>
                            <div id="master-choose-box-wrapper" class="choose-box-wrapper">
                                <div id="master-choose-box" class="choose-box">
                                    <div id="master-choose-box-title" class="choose-box-title"> <span>选择学校</span> </div>
                                    <div id="master-choose-a-province" class="choose-a-province"></div>
                                    <div id="master-choose-a-school" class="choose-a-school"> </div>
                                    <div id="master-choose-box-bottom" class="choose-box-bottom"><input type="botton" onclick="hide('master')" value="关闭" /> </div>
                                </div>
                            </div>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>院系:</h2>
                            <input type="text" name="master_dept" id="master-dept" value="{$resume['master_dept']}" class="normal-input"/>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>专业:</h2>
                            <input type="text" name="master_major" id="master-major" value="{$resume['master_major']}" class="normal-input"/>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>入学年月:</h2>
                            <select name="master_year" id="master-year" class="normal_select">
                                <option value=""></option>
                                <!--{eval $curyear=date("Y");}-->
                                <!--{eval $yearlist = range($curyear, 1921, -1);}-->
                                <!--{loop $yearlist $year}-->
                                <option value="{$year}" <!--{if ({$year}== $resume['master_year'])}-->selected<!--{/if}--> >{$year}</option>
                                <!--{/loop}-->
                            </select> 年&nbsp;&nbsp;
                            <select name="master_month" id="master-month" class="normal_select">
                                <option value=""></option>
                                <option value="1" <!--{if (1 == $resume['master_month'])}-->selected<!--{/if}--> >1</option>
                                <option value="2" <!--{if (2 == $resume['master_month'])}-->selected<!--{/if}--> >2</option>
                                <option value="3" <!--{if (3 == $resume['master_month'])}-->selected<!--{/if}--> >3</option>
                                <option value="4" <!--{if (4 == $resume['master_month'])}-->selected<!--{/if}--> >4</option>
                                <option value="5" <!--{if (5 == $resume['master_month'])}-->selected<!--{/if}--> >5</option>
                                <option value="6" <!--{if (6 == $resume['master_month'])}-->selected<!--{/if}--> >6</option>
                                <option value="7" <!--{if (7 == $resume['master_month'])}-->selected<!--{/if}--> >7</option>
                                <option value="8" <!--{if (8 == $resume['master_month'])}-->selected<!--{/if}--> >8</option>
                                <option value="9" <!--{if (9 == $resume['master_month'])}-->selected<!--{/if}--> >9</option>
                                <option value="10" <!--{if (10 == $resume['master_month'])}-->selected<!--{/if}--> >10</option>
                                <option value="11" <!--{if (11 == $resume['master_month'])}-->selected<!--{/if}--> >11</option>
                                <option value="12" <!--{if (12 == $resume['master_month'])}-->selected<!--{/if}--> >12</option>
                            </select> 月&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="resume_school_box">
                        <div class="input-bar">
                            <h2>博士生:</h2>
                            <input type="text" name="doctor_school" id="doctor-school" value="{$resume['doctor_school']}" onclick="pop('doctor')" class="normal-input"/>
                            <div id="doctor-choose-box-wrapper" class="choose-box-wrapper">
                                <div id="doctor-choose-box" class="choose-box">
                                    <div id="doctor-choose-box-title" class="choose-box-title"> <span>选择学校</span> </div>
                                    <div id="doctor-choose-a-province" class="choose-a-province"></div>
                                    <div id="doctor-choose-a-school" class="choose-a-school"> </div>
                                    <div id="doctor-choose-box-bottom" class="choose-box-bottom"><input type="botton" onclick="hide('doctor')" value="关闭" /> </div>
                                </div>
                            </div>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>院系:</h2>
                            <input type="text" name="doctor_dept" id="doctor-dept" value="{$resume['doctor_dept']}" class="normal-input"/>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>专业:</h2>
                            <input type="text" name="doctor_major" id="doctor-major" value="{$resume['doctor_major']}" class="normal-input"/>
                        </div>

                        <div class="clr"></div>
                        <div class="input-bar">
                            <h2>入学年月:</h2>
                            <select name="doctor_year" id="doctor-year" class="normal_select">
                                <option value=""></option>
                                <!--{eval $curyear=date("Y");}-->
                                <!--{eval $yearlist = range($curyear, 1921, -1);}-->
                                <!--{loop $yearlist $year}-->
                                <option value="{$year}" <!--{if ({$year}== $resume['doctor_year'])}-->selected<!--{/if}--> >{$year}</option>
                                <!--{/loop}-->
                            </select> 年&nbsp;&nbsp;
                            <select name="doctor_month" id="doctor-month" class="normal_select">
                                <option value=""></option>
                                <option value="1" <!--{if (1 == $resume['doctor_month'])}-->selected<!--{/if}--> >1</option>
                                <option value="2" <!--{if (2 == $resume['doctor_month'])}-->selected<!--{/if}--> >2</option>
                                <option value="3" <!--{if (3 == $resume['doctor_month'])}-->selected<!--{/if}--> >3</option>
                                <option value="4" <!--{if (4 == $resume['doctor_month'])}-->selected<!--{/if}--> >4</option>
                                <option value="5" <!--{if (5 == $resume['doctor_month'])}-->selected<!--{/if}--> >5</option>
                                <option value="6" <!--{if (6 == $resume['doctor_month'])}-->selected<!--{/if}--> >6</option>
                                <option value="7" <!--{if (7 == $resume['doctor_month'])}-->selected<!--{/if}--> >7</option>
                                <option value="8" <!--{if (8 == $resume['doctor_month'])}-->selected<!--{/if}--> >8</option>
                                <option value="9" <!--{if (9 == $resume['doctor_month'])}-->selected<!--{/if}--> >9</option>
                                <option value="10" <!--{if (10 == $resume['doctor_month'])}-->selected<!--{/if}--> >10</option>
                                <option value="11" <!--{if (11 == $resume['doctor_month'])}-->selected<!--{/if}--> >11</option>
                                <option value="12" <!--{if (12 == $resume['doctor_month'])}-->selected<!--{/if}--> >12</option>
                            </select> 月&nbsp;&nbsp;
                        </div>
                    </div>

                    <div class="clr"></div>
                    <div class="input-bar">
                        <h2>个人主要经历(500字以内):</h2>
                        <textarea name="experience" id="experience" style="width:500px;height:148px;" class="normal-text" maxlength="500">{$resume['experience']}</textarea>
                    </div>

                    <div class="clr"></div>
                    <div class=""> <input id="file_upload" name="file_upload" type="file"/> </div>
                    <!--{if !empty($resume['resume_path'])}-->
                    <a href="{$resume['resume_path']}"><!--{if empty($user['realname'])}-->{$user['username']}<!--{else}-->{$user['realname']}<!--{/if}-->简历</a>
                    <!--{/if}-->
                    
                    <div class="clr"></div>
                    <div class="auto-login"> <input type="submit" name="submit" id="submit" class="normal-button" value="保&nbsp;存" /> </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="{SITE_URL}js/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{SITE_URL}js/school.js"></script>
<script type="text/javascript" src="{SITE_URL}js/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#file_upload').uploadify({
        'swf': '{SITE_URL}js/uploadify/uploadify.swf',
        'uploader': "{url user/upload_resume/$user['uid']}",
        'auto': false,
        'buttonImage': '{SITE_URL}js/uploadify/selectresume.gif',
        'fileObjName': 'userresume',
        'multi': false,
        'fileSizeLimit': "5MB",
        'fileTypeExts': '*.pdf;*.doc;*.docx',
        'fileTypeDesc': 'User resume(.pdf, .doc, .docx)',
        'onUploadSuccess': function() {
            alert('简历上传成功!');
            document.location = "{url user/resume}";
        }
    });
    $('#submit').click(function() {
        $('#file_upload').uploadify("upload", "*");
    });
});

//弹出窗口
function pop(type){
    //将窗口居中
    makeCenter(type);

    //初始化省份列表
    initProvince(type);

    //默认情况下, 给第一个省份添加choosen样式
    $('[province-id="1"]').addClass('choosen');

    //初始化大学列表
    initSchool(1, type);
}
//隐藏窗口
function hide(type)
{
    $('#' + type + '-choose-box-wrapper').css("display","none");
}

function initProvince(type)
{
    target_name='#' + type + "-choose-a-province";
    //原先的省份列表清空
    $(target_name).html('');
    for(i=0;i<schoolList.length;i++)
    {
        $(target_name).append('<a class="province-item" province-id="'+schoolList[i].id+'">'+schoolList[i].name+'</a>');
    }
    //添加省份列表项的click事件
    $('.province-item').bind('click', function(){
            var item=$(this);
            var province = item.attr('province-id');
            var choosenItem = item.parent().find('.choosen');
            if(choosenItem)
                $(choosenItem).removeClass('choosen');
            item.addClass('choosen');
            //更新大学列表
            initSchool(province, type);
        }
    );
}

function initSchool(provinceID, type)
{
    target_name = '#' + type + '-choose-a-school';
    //原先的学校列表清空
    $(target_name).html('');
    var schools = schoolList[provinceID-1].school;
    for(i=0;i<schools.length;i++)
    {
        $(target_name).append('<a class="school-item" school-id="'+schools[i].id+'">'+schools[i].name+'</a>');
    }
    //添加大学列表项的click事件
    $('.school-item').bind('click', function(){
            var item=$(this);

            var school = item.attr('school-id');
            //更新选择大学文本框中的值

            item.parents(".input-bar").children(".normal-input").val(item.text());
            //$('#bachelor-school').val(item.text());
            //关闭弹窗
            hide(type);
        }
    );
}

function makeCenter(type)
{
    target_name = '#' + type + '-choose-box-wrapper';
    $(target_name).css("display","block");
    $(target_name).css("position","absolute");
    $(target_name).css("top", Math.max(0, (($(window).height() - $('.choose-box-wrapper').outerHeight()) / 2) + $(window).scrollTop()) + "px");
    $(target_name).css("left", Math.max(0, (($(window).width() - $('.choose-box-wrapper').outerWidth()) / 2) + $(window).scrollLeft()) + "px");
}

</script>

<style type="text/css">
.choose-box-wrapper{
    width: 652px;
    background-color:#000;
    filter:alpha(opacity=50);
    background-color: rgba(0, 0, 0, 0.5);
    padding:10px;
    border-radius:5px;
    display:none;
}
.choose-box{
    border: 1px solid #005EAC;
    width:650px;
    background-color:white;
}
.choose-box-title{
    background:#3777BC;
    color: white;
    padding: 4px 10px 5px;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
.choose-box-title span{
    font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
}

.choose-a-province, .choose-a-school{
    margin:5px 8px 10px 8px;
    border: 1px solid #C3C3C3;
}
.choose-a-province a{
    display:inline-block;
    height: 18px;
    line-height: 18px;
    color:#005EAC;
    text-decoration: none;
    font-size: 9pt;
    font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
    margin:2px 5px;
    padding: 1px;
    text-align: center;
}
.choose-a-province a:hover{
    text-decoration:underline;
    cursor:pointer;
}
.choose-a-province .choosen{
    background-color: #005EAC;
    color:white;
}

.choose-a-school{
    overflow-x: hidden;
    overflow-y: auto;
    height: 200px;
}
.choose-a-school a{
    height: 18px;
    line-height: 18px;
    color:#005EAC;
    text-decoration: none;
    font-size: 9pt;
    font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
    float: left;
    width: 160px;
    margin: 4px 12px;
    padding-left:10px;
    background:url(2012072500060712.gif) no-repeat 0 9px;
}
.choose-a-school a:hover{
    background-color:#005EAC;
    color:white;
    cursor:pointer;
}

.choose-box-bottom{
    background: #F0F5F8;
    padding: 8px;
    text-align: right;
    border-top: 1px solid #CCC;
    height:40px;
}
.choose-box-bottom input{
    vertical-align: middle;
    text-align: center;
    background-color:#005EAC;
    color:white;
    border-top: 1px solid #B8D4E8;
    border-left: 1px solid #B8D4E8;
    border-right: 1px solid #114680;
    border-bottom: 1px solid #114680;
    cursor: pointer;
    width: 60px;
    height: 25px;
    margin-top: 6px;
    margin-right: 6px;
}
</style>

</body>
</html>

</script>

<!--{template footer}-->
