<!--{template header}-->
<style type="text/css">
    /* .photo {position: absolute; top: 20px; left: 20px; } */
    /* .mypanel {margin: 0 10px 0 120px !important; padding: 10px; line-height: 26px;} */
    .action {position: absolute; right: 50px; bottom: 5px;} /* panel右下角的动作 */
</style>

<div class="container" style="margin-top:5px;">

  <!--{if $userid == $this->user['uid']}-->
  <div class="col-md-3"> <!--{template leftmenu}--> </div>
  <!--{/if}-->

  <script type="text/javascript">$("#menu_space").addClass("active");</script>
  <!--{if $userid == $this->user['uid']}-->
  <div class="col-md-9">
  <!--{else}-->
  <div>
  <!--{/if}-->
    <h5>最近动态</h5>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="prob">
        <!--{if count($problemlist) == 0}-->
        <p style="color:grey;">暂无动态~</p>
        <!--{else}-->
        <!--{loop $problemlist $problem}-->
        <div class="panel <!--{if $problem['data_type'] == 'prob'}-->panel-info<!--{else}-->panel-success<!--{/if}-->" style="margin-bottom:15px !important;">
          <!--{if $problem['data_type'] == 'prob'}-->
          <div class="panel-heading">发出求助</div>
          <!--{else}-->
          <div class="panel-heading">解决求助</div>
          <!--{/if}-->
          <div class="panel-body" style="font-size:13px;">
            <span>{$problem['title']}</span>
            <span>
              <a href='{url problem/view/$problem['pid']}' target="_blank">查看</a>
            </span>
            <br/><span class="pull-right">{$problem['format_time']}</span>
          </div>
        </div>
        <!--{/loop}-->
        <!--{/if}-->
      </div><!-- existing problems tab end -->
    </div>
  </div>
</div><!-- container end -->
<!--{template footer}-->
