{eval $setting=$this->setting; $user=$this->user; }
<!--相关已解决-->
<!--{if isset($userinfo)}-->
<div style="width:650px;">
    <div class="row">
        <div class="col-md-2">
            <a href="{url user/space/$userinfo['uid']}">
                <img src="{$userinfo['avatar']}" class="img-circle" alt="{$userinfo['username']}"/>
            </a>
        </div>
        <div class="col-md-10">
            <div>
                <a href="{url user/space/$userinfo['uid']}">{eval echo cutstr($userinfo['username'],24,'');}</a>
                {if $userinfo['gender']!=2}
                    <span class="icon_{$userinfo['gender']}"></span>
                {/if}{if $userinfo['expert']}
                    <span class="icon_expert" title='专家'></span>
                {/if}
            </div>
            <div>
                <!--{if $userinfo['signature']}-->
                <h5 class="info">{$userinfo['signature']}</h5>
                <!--{/if}-->
                <!--{if $userskill}-->
                <h5 class="info">擅长:
                    <!--{loop $userskill $skill}-->
                        <i class="expert-field"><?=$skill?></i>
                    <!--{/loop}-->
                </h5>
                <!--{/if}-->
                 <!--{if !empty($userresume['doctor_school'])}-->
                    博士：{$userresume['doctor_school']}
                    <!--{if !empty($userresume['doctor_dept'])}-->
                    {$userresume['doctor_dept']}
                    <!--{/if}-->
                    <!--{if !empty($userresume['doctor_major'])}-->
                    {$userresume['doctor_major']}
                    <!--{/if}-->
                    <!--{if !empty($userresume['doctor_year'])}-->
                    {$userresume['doctor_year']}年
                    <!--{/if}-->
                    <!--{if !empty($userresume['doctor_month'])}-->
                    {$userresume['doctor_month']}月
                    <!--{/if}-->
                </h5>
                <!--{/if}-->
                <!--{if !empty($userresume['master_school'])}-->
                <h5 class="info">
                    硕士：{$userresume['master_school']}
                    <!--{if !empty($userresume['master_dept'])}-->
                    {$userresume['master_dept']}
                    <!--{/if}-->
                    <!--{if !empty($userresume['master_major'])}-->
                    {$userresume['master_major']}
                    <!--{/if}-->
                    <!--{if !empty($userresume['master_year'])}-->
                    {$userresume['master_year']}年
                    <!--{/if}-->
                    <!--{if !empty($userresume['master_month'])}-->
                    {$userresume['master_month']}月
                    <!--{/if}-->
                </h5>
                <!--{/if}-->
                <!--{if !empty($userresume['bachelor_school'])}-->
                <h5 class="info">
                    大学：{$userresume['bachelor_school']}
                    <!--{if !empty($userresume['bachelor_dept'])}-->
                    {$userresume['bachelor_dept']}
                    <!--{/if}-->
                    <!--{if !empty($userresume['bachelor_major'])}-->
                    {$userresume['bachelor_major']}
                    <!--{/if}-->
                    <!--{if !empty($userresume['bachelor_year'])}-->
                    {$userresume['bachelor_year']}年
                    <!--{/if}-->
                    <!--{if !empty($userresume['bachelor_month'])}-->
                    {$userresume['bachelor_month']}月
                    <!--{/if}-->
                </h5>
                <!--{/if}-->
            </div>
            <a href="#" class="btn btn-default btn-md disabled" role="button">成功抢单{$userinfo['solved']}个</a>
        </div><!-- col-md-9 right end -->
        <div class="col-md-12">
            <!--{if $userresume['experience']}-->
            <h6>{$userresume['experience']}</h6> 
            <!--{/if}-->
        </div>
    </div>
</div>
<!--{/if}-->
