<!--{template header}-->
<div style="height:29px;"></div>
<script type="text/javascript">
    $(function(){
        $('.mypopover').popover({
            trigger:'manual',
            placement : 'right', //top, bottom, left or right
            title : '<div style="color:blue;text-align:center;font-size:14px;">用户信息</div>',
           html: 'true',
           animation: false
       });
        $('.mypopover').hover(function(){
            var jqObj = $(this);
            if (jqObj.attr("data-content") == "") {
                var uid=this.id.substring(7);
                $("#usercard").load(g_site_url + "index.php" + query + "user/ajaxuserinfo/" + uid, {}, function() {
                    jqObj.attr("data-content", $('#usercard').html());
                    jqObj.popover('show');
                });
            } else {
                jqObj.popover('show');
            }
        }, function(){
            $('.popover').popover('hide');
        });
    })
</script>
<style type="text/css">
.floatele { display :inline; float:left; margin-right: 10px;}
.pro_tags {margin: 10px 65px;}
.pro_tags a {margin-right: 10px; padding: 3px 7px;}
.inner_panel {margin: 10px 45px;}
h4, h5, h6 { margin-top: 0px; margin-bottom: 0px;}

.photo {position: absolute; top: 15px; left: 15px; }
.action {position: absolute; right: 5px; top: 15px;}
.mypanel_for_action {margin: 0 70px 0 60px !important; padding: 0px 10px; line-height: 26px;}
.mypanel {margin: 0 0 0 55px !important; padding: 0px 10px; line-height: 26px; min-height: 90px;}
.panel-body {position: relative;}
</style>
<style type="text/css">
/*===================for popover================*/
.trigger_btn {border: #ffffff; background: #ffffff; color: #428bca; display: block;}
.trigger_btn:hover {text-decoration: underline;}
.icon_common { margin-left: 2px; height: 15px; width: 8px;}
.icon_1 { background: url("../../css/default/boy.gif") no-repeat scroll 0 50% rgba(0, 0, 0, 0); }
.icon_0 { background: url("../../css/default/girl.gif") no-repeat scroll 0 50% rgba(0, 0, 0, 0); }
.popover {max-width: 700px !important; }
</style>

<div class="container">
    <div class="row">

        <!--{if $problem['authorid'] != 0 && ($problem['authorid'] == $user['uid']) && (PB_STATUS_SOLVED == $problem['status'])}-->
        <div class="col-md-7"> <!--{else}--> <div>
        <!--{/if}-->
            <div class="panel panel-info">
                <div class="panel-heading"><h3 class="panel-title">求助描述</h3></div>
                <div class="panel-body">
                    <div class="photo" style="max-width:60px">
                        <img width="60" height="60" src="{eval echo get_avatar_dir($problem['authorid']);}" class="img-circle"/>
                        <a target="blank" href="{url user/space/$problem['authorid']}" class="trigger_btn align_center" >{$problem['author']}</a>
                    </div>
                    <div class="mypanel_for_action"><h5>{$problem['title']}</h5></div>
                    <!--{if PB_STATUS_UNSOLVED == $problem['status']}-->
                        <!--{if $problem['authorid'] != 0 && ($problem['authorid'] != $user['uid'])}-->
                            <!--{if $_ENV['demand']->already_demand($problem['pid'])}-->
                            <a id="{$problem['pid']}" type="button" class="action btn btn-link btn-sm prob_cancel_btn" role="button">撤销请求</button>
                            <!--{else}-->
                            <a id="{$problem['pid']}" type="button" class="action btn btn-link btn-sm prob_demand_btn" role="button">我要帮忙</button>
                            <!--{/if}-->
                        <!--{/if}-->
                    <!--{else}-->
                        <a href="#" class="action btn btn-link btn-sm disabled" role="button">求助已解决</a>
                    <!--{/if}-->
                    <div class="clearfix"></div>
                    <div class="pro_tags">
                        <!--{loop $taglist $tag}-->
                        <a class="btn btn-primary btn-xs" title="{$tag}" href="{url problem/search/tag:$tag}">{$tag}</a>
                        <!--{/loop}-->
                    </div>
                    <div class="user-label pro_tags">
                        <div class="user-label-info">
                            <span class="gold"><img src="{SITE_URL}css/default/gold.gif">&nbsp;¥{$problem['price']}</span>
                            <span class="span-line">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <!--{if $problem['authorid'] == 0}-->
                            <span><!--{if $problem['ip']}-->{$problem['ip']}<!--{else}-->游客<!--{/if}--></span>
                            <span class="span-line">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            <!--{/if}-->
                            <span>浏览{$problem['views']}次</span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{$problem['format_time']}
                        </div>
                    </div>
                    <div class=""> <p>详细要求：</p> {$problem['description']}</div>

                    <!--{if 0!=$problem['authorid'] && ($problem['authorid']==$user['uid'])}-->
                    <div class="panel panel-default inner_panel">
                        <div class="panel-body">
                            <h4>处理求助：</h4>
                            <h5> 如果尚未找到合适的人来解决你的求助，可以尝试以下操作：</h5>
                            <button class="btn btn-info btn-sm" type="button" title="修改求助标签" data-toggle="modal" data-target="#myModal">添加标签</button>
                            <button class="btn btn-info btn-sm" type="button" title="已解决，可以直接关闭求助" name="close_problem" id="close_problem">关闭求助</button>
                            <a href="{url problem/edit/$problem['pid']}" class="btn btn-info btn-sm" title="更改求助" name="edit_problem">更改求助</a>
                        </div>
                    </div>
                    <!--{/if}-->
                </div>
            </div><!-- problem sub panel end -->

            <!--{if 0!=$problem['authorid'] && ($problem['authorid']==$user['uid'])}-->
            <!--{if $demand_user_lists}-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">有以下用户想要帮助您</h3>
                </div>
                <div class="panel-body">
                <!--{loop $demand_user_lists $demand_user}-->
                    <!-- <div class="list-group-item"> -->
                    <div class="list-group-item" id="{$demand_user['uid']}">
                        <!--{if $problem['status'] != PB_STATUS_SOLVED}-->
                        <div class="pull-right">
                            <a type="button" class="btn btn-link btn-sm bm_demand_accept_btn" id="{$demand_user['uid']}">接受</a><br/>
                            <a type="button" class="btn btn-link btn-sm bm_demand_denied_btn" id="{$demand_user['uid']}">拒绝</a>
                        </div>
                        <!--{/if}-->
                        <div class="photo">
                            <a title="test002" target="_blank" href="{url user/space/$demand_user['uid']}">
                                <img width="60" height="60" src="{eval echo get_avatar_dir($demand_user['uid']);}" class="img-circle" />
                            </a>
                            <a href="{url user/space/$demand_user['uid']}" target="blank" type="button" data-html="true" class="trigger_btn mypopover align_center" data-container="body"
                                data-toggle="popover" data-placement="left" data-trigger="manual" data-content='' id="popover{$demand_user[uid]}">
                                {$demand_user['username']}
                            </a>
                        </div>
                        <div class="mypanel"><h5>附加留言:<br>{$demand_user['message']}</h5></div>
                    </div>
                <!--{/loop}-->
                </div>
            </div>
            <!--{/if}-->
            <!--{/if}-->

        </div><!-- left panel end -->

        <!--{if $problem['authorid'] != 0 && ($problem['authorid'] == $user['uid'])}-->
        <div class="col-md-5">
            <!--{if $accept_users}-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">你选择以下用户解决您的求助</h3>
                </div>
               <!--{loop $accept_users $accept_user}-->
                <div class="panel-body">
                    <div class="photo" style="max-width:60px">
                        <img width="60" height="60" src="{eval echo get_avatar_dir($accept_user['uid']);}" class="img-circle">
                        <a target="blank" href="{url user/space/$accept_user['uid']}" class="trigger_btn align_center" >{$accept_user['username']}</a>
                    </div>
                    <div class="mypanel"><h5>
                        <!--{if $accept_user['userinfo']['signature']}-->
                        <p class="signature"><span style="font-weight:bold">签名：</span>{$accept_user['userinfo']['signature']}</p>
                        <!--{/if}-->
                        <!--{if $accept_user['userskill']}-->
                        <p class="skill"><span style="font-weight:bold">擅长:</span>
                            <!--{loop $accept_user['userskill'] $skill}-->
                            <i>{$skill}</i>
                            <!--{/loop}-->
                        </p>
                        <!--{/if}-->

                        <!--{if !empty($accept_user['userresume']['doctor_school'])}-->
                        <span style="font-weight:bold">博士：</span>{$accept_user['userresume']['doctor_school']}
                            <!--{if !empty($accept_user['userresume']['doctor_dept'])}-->
                            {$accept_user['userresume']['doctor_dept']}
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['doctor_major'])}-->
                            {$accept_user['userresume']['doctor_major']}
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['doctor_year'])}-->
                            {$accept_user['userresume']['doctor_year']}年
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['doctor_month'])}-->
                            {$accept_user['userresume']['doctor_month']}月
                            <!--{/if}-->
                            <br/>
                        <!--{/if}-->

                        <!--{if !empty($accept_user['userresume']['master_school'])}-->
                        <span style="font-weight:bold">硕士：</span>{$accept_user['userresume']['master_school']}
                            <!--{if !empty($accept_user['userresume']['master_dept'])}-->
                            {$accept_user['userresume']['master_dept']}
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['master_major'])}-->
                            {$accept_user['userresume']['master_major']}
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['master_year'])}-->
                            {$accept_user['userresume']['master_year']}年
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['master_month'])}-->
                            {$accept_user['userresume']['master_month']}月
                            <!--{/if}-->
                            <br/>
                        <!--{/if}-->

                        <!--{if !empty($accept_user['userresume']['bachelor_school'])}-->
                        <span style="font-weight:bold">大学：</span>{$accept_user['userresume']['bachelor_school']}
                            <!--{if !empty($accept_user['userresume']['bachelor_dept'])}-->
                            {$accept_user['userresume']['bachelor_dept']}
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['bachelor_major'])}-->
                            {$accept_user['userresume']['bachelor_major']}
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['bachelor_year'])}-->
                            {$accept_user['userresume']['bachelor_year']}年
                            <!--{/if}-->
                            <!--{if !empty($accept_user['userresume']['bachelor_month'])}-->
                            {$accept_user['userresume']['bachelor_month']}月
                            <!--{/if}-->
                            <br/>
                        <!--{/if}-->
                    </h5></div>
                    <div class="clearfix"></div>
                    <h5 style="font-size:11px;">成功抢单{$accept_user['userinfo']['solved']}个</h5>
                    <!--{if $accept_user['userresume']['experience']}-->
                    <div class="bs-callout bs-callout-info">
                        <h4>个人经历：</h4>
                        <h5>{$accept_user['userresume']['experience']}</h5>
                    </div>
                    <!--{/if}-->
                </div>
                <!--{/loop}-->
            </div><!-- selected sub panel end -->
            <!--{/if}-->
        </div>
        <!--{/if}-->
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">编辑标签</h4>
      </div>
      <form name="edittagForm" action="{url problem/edittag}" method="post">
      <div class="modal-body">
            <h6>多个标签请以空格隔开</h6>
            <input type="hidden"  value="{$problem['pid']}" name="pid"/>
            <input type="text" placeholder="多个标签请以空格隔开" class="form-control" name="ptags" value="{eval echo implode(' ',$taglist)}"/>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="确&nbsp;认" />
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="demandModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">附加信息</h4>
      </div>
      <form name="edit_message" action="{SITE_URL}?problem/demand.html" method="post" id="dialog_form">
        <div class="modal-body">
          <input type="hidden" value="" name="dialog_pid" id="dialog_pid"/>
          <input type="text" placeholder="请输入简短的请求信息" class="form-control" name="demand_message" id="demand_message"/>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="确&nbsp;认" />
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div style="height:29px;"></div>

<script type="text/javascript">

$(document).ready(function() {
    $(".prob_demand_btn").click(function() {
        var pid = $(this).attr("id");
        $("#dialog_pid").val(pid);
        $("#demandModal").modal('show');
    });

    $(".prob_cancel_btn").click(function(){
        if ({$user['uid']} == 0) {
            alert("您还未登录，请先登录");
            window.location.href = "{SITE_URL}index.php" + query + "user/login";
        }

        if (confirm('确定撤销请求?') === false) {
            return false;
        }

        var supportobj = $(this);
        var pid = $(this).attr("id");
        $.ajax({
            type: "GET",
            url:"{SITE_URL}index.php" + query + "problem/ajaxcancel/" + pid,
            cache: false,
            success: function(succeed){
                if (succeed == '-1') {
                    alert("您还未登录，请先登录");
                    window.location.href = "{SITE_URL}index.php" + query + "user/login";
                } else if (succeed == '0') {
                    alert("操作失败，请刷新页面重试");
                } else if (succeed == '1') {
                    supportobj.html("我要帮忙");
                } else if (succeed == '2') {
                    alert("您还没有发出过申请!");
                }
            }
        });
    });

    //关闭求助
    $("#close_problem").click(function() {
        if (confirm('确定关闭该求助?') === true) {
            document.location.href = "{SITE_URL}?problem/close/{$problem['pid']}.html";
        }
    });
    
    //删除求助
    $("#delete_question").click(function() {
        if (confirm('确定删除求助？该操作不可返回！') === true) {
            document.location.href = "{SITE_URL}?problem/delete/{$problem['pid']}.html";
        }
        });
    
    $(".bm_demand_accept_btn").click(function(){
        var supportobj = $(this);
        uid = $(this).attr("id");

        if (confirm('确定选择该用户?') === false) {
            return false;
        }

        $.ajax({
            type: "GET",
            url:"{SITE_URL}index.php" + query + "problem/ajaxaccept/" + uid + "/{$problem['pid']}",
            cache: false,
            success: function(succeed){
                if (succeed == '0') {
                    alert("交易失败，请刷新页面重试！");
                } else if (succeed == '1') {
                    window.location.reload();
                } else {
                    alert("发生异常!");
                }
            }
        });
    }); 

    $(".bm_demand_denied_btn").click(function(){
        var supportobj = $(this);
        var grandparentobj = $(this).parent().parent(); 
        uid = $(this).attr("id");

        if (confirm("确定该用户不满足您的需求?") === false) {
            return false;
        }
        $.ajax({
            type: "GET",
            url:"{SITE_URL}index.php" + query + "problem/ajaxdenied/" + uid + "/{$problem['pid']}",
            cache: false,
            success: function(succeed){
                if (succeed == '1') {
                    grandparentobj.hide();
                } else {
                    alert("发生异常!");
                }
            }
        });
    });

    SyntaxHighlighter.all();
});

function hide_all_user_btn()
{
    $(".bm_demand_accept_btn").hide();
    $(".bm_demand_denied_btn").hide();
}

function edittag() {
    $("#dialog_tag").dialog({
        autoOpen: false,
        width: 500,
        modal: true,
        resizable: false
    });
    $("#dialog_tag").dialog("open");
}

</script>
<!--{template footer}-->
