<link href="__PUBLIC__/Home/Css/new-general.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/Home/Css/new-setting.css" rel="stylesheet" type="text/css"/>

<div class="jumbotron jsk-setting">
    <div class="container">
        <ul class="nav nav-pills" role="tablist">
            <if condition="'__ACTION__' eq U('User/profile', '', '')">
                <li class="active"><a href="{:U('User/profile')}">基本资料</a></li>
            <else/>
                <li><a href="{:U('User/profile')}">基本资料</a></li>
            </if>

            <if condition="'__ACTION__' eq U('User/password', '', '')">
                <li class="active"><a href="{:U('User/password')}">修改密码</a></li>
            <else/>
                <li><a href="{:U('User/password')}">修改密码</a></li>
            </if>

            <if condition="'__ACTION__' eq U('User/authenticate', '', '')">
                <li class="active"><a href="{:U('User/authenticate')}">身份认证</a></li>
            <else/>
                <li><a href="{:U('User/authenticate')}">身份认证</a></li>
            </if>

            <if condition="'__ACTION__' eq U('Trade/index', '', '')">
                <li class="active"><a href="{:U('Trade/index')}">我的交易</a></li>
            <else/>
                <li><a href="{:U('Trade/index')}">我的交易</a></li>
            </if>

            <if condition="$regular eq '/material/provide'">
                <li class="active"><a href="__ROOT__/material/provide">我的资料</a></li>
            <else/>
                <li><a href="__ROOT__/material/provide">我的资料</a></li>
            </if>

            <if condition="'__ACTION__' eq U('Service/register', '', '')">
                <li class="active"><a href="{:U('Service/register')}">我的服务</a></li>
            <else/>
                <li><a href="{:U('Service/register')}">我的服务</a></li>
            </if>

            <if condition="'__ACTION__' eq U('Ebank/index', '', '')">
                <li class="active"><a href="{:U('Ebank/index')}">我的钱包</a></li>
            <else/>
                <li><a href="{:U('Ebank/index')}">我的钱包</a></li>
            </if>

            <if condition="'__ACTION__' eq U('Message/index', '', '')">
                <li class="active"><a href="{:U('Message/index')}">消息中心</a></li>
            <else/>
                <li><a href="{:U('Message/index')}">消息中心</a></li>
            </if>
        </ul>
    </div>
</div>

